<div class="setting-wrapper display-flex p-50">
    <div class="left content flex">
        <div class="content-wrapper display-grid g-100">
            <h1 class="subject font-size-16 my-0">Subject</h1>
            <p class="description font-size-12 text-align-justify my-0">
                Description Description Description Description Description
                Description
                Description Description Description Description Description
                Description
                Description Description Description Description Description
                Description
                Description Description Description Description Description
                Description
                Description Description Description Description Description
                Description
            </p>
            <span class="logo mat-elevation-z8 bg-pshare bg-texture">
                <img [src]="'assets/logo/angular_logo.svg'" alt="">
            </span>
            <mat-divider class="divider"></mat-divider>
            <div class="group">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <mat-divider class="bc-pshare mx-50" [vertical]="true" [style.border-width]="'0.25em'"></mat-divider>
    <mat-nav-list class="right py-0">
        <a mat-list-item [routerLink]="['/home', 'setting', 'account']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>badge</mat-icon>
            <span matLine>Account</span>
        </a>
        <a mat-list-item [routerLink]="['/home', 'setting', 'security']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>security</mat-icon>
            <span matLine>Security</span>
        </a>
        <a mat-list-item [routerLink]="['/home', 'setting', 'notice']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>notifications</mat-icon>
            <span matLine>Notification</span>
        </a>
        <a mat-list-item [routerLink]="['/home', 'setting', 'mode']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>tungsten</mat-icon>
            <span matLine>Mode</span>
        </a>
        <a mat-list-item [routerLink]="['/home', 'setting', 'theme']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>palette</mat-icon>
            <span matLine>Theme</span>
        </a>
        <a mat-list-item [routerLink]="['/home', 'setting', 'language']" [routerLinkActive]="['bg-pshare']"
            [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon matListIcon>translate</mat-icon>
            <span matLine>Language</span>
        </a>
    </mat-nav-list>
</div>