<div class="octopus-image-carousel-wrapper">
    <div class="octopus-carousel-box">
        <div class="{{manner}}-container" #container>
            <ng-content select="octopus-image-carousel-unit"></ng-content>
        </div>
    </div>
    <button octopus-icon-button [color]="color" class="octopus-carousel-control" (click)="handleSwtichActionEvent(-1)"
        style="top: calc(50% - 18px);bottom: calc(50% - 18px);left: 0.5rem;width: 36px;height: 36px;">
        <octopus-icon margin="0" rounded="true" size="36">navigate_before</octopus-icon>
    </button>
    <div class="flex-fill"></div>
    <button octopus-icon-button [color]="color" class="octopus-carousel-control" (click)="handleSwtichActionEvent(1)"
        style="top: calc(50% - 18px);bottom: calc(50% - 18px);right: 0.5rem;width: 36px;height: 36px;">
        <octopus-icon margin="0" rounded="true" size="36">navigate_next</octopus-icon>
    </button>
    <div class="octopus-carousel-orbit">
        <div class="orbit-item {{shape}}" [class.active]="i === (change | async)?.currentValue"
            (click)="handleSwtichActionEvent(0, i)" #orbitItem *ngFor="let unit of units; index as i">
        </div>
    </div>
</div>