.none {
    display: none !important;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

.flex-auto {
    flex: 1 1 auto !important;
}

.flex-grow-only {
    flex: 1 0 auto !important;
}

.flex-shrink-only {
    flex: 0 1 auto !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-flip {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-dir-row {
    flex-direction: row !important;
}

.flex-dir-row-flip {
    flex-direction: row-reverse !important;
}

.flex-dir-col {
    flex-direction: column !important;
}

.flex-dir-col-flip {
    flex-direction: column-reverse !important;
}

$aligns: (
    "justify-content": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "between": space-between, "around": space-around, "stretch": stretch),
    "justify-items": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "between": space-between, "around": space-around, "stretch": stretch),
    "justify-self": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "between": space-between, "around": space-around, "stretch": stretch),
    "align-content": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "stretch": stretch),
    "align-items": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "stretch": stretch),
    "align-self": ("baseline": baseline, "center": center, "start": flex-start, "end": flex-end, "stretch": stretch)
);

@each $outerKey, $outerValue in $aligns {
    @each $innerKey, $innerValue in $outerValue {
        .#{$outerKey}-#{$innerKey} {
            #{$outerKey}: #{$innerValue} !important;
        }
    }
}
