@font-face {
    font-family: "MS-YaHei";
    font-weight: 500;
    src: url("../../fonts/YaheiUI.ttf");
}

@font-face {
    font-family: "SourceHan";
    font-weight: 500;
    src: url("../../fonts/SourceHanSansCN.otf");
}

$typography: (
    "display-3": 64px,
    "display-2": 56px,
    "display-1": 48px,
    "headline": 36px,
    "title-1": 28px,
    "title-2": 24px,
    "title-3": 16px,
    "subtitle-1": 20px,
    "subtitle-2": 18px,
    "subtitle-3": 12px,
    "body-1": 16px,
    "body-2": 14px,
    "body-3": 12px,
    "caption": 8px
);

$font-sizes: (8, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64, 72, 96, 128, 192, 256, 384, 512);

:root {
    --font-family: "SourceHan", "MS-YaHei", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @for $i from 100 through 500 {
        --line-height-#{$i}: #{calc($i * 0.01)};
    }

    @each $key, $value in $typography {
        --typography-#{$key}: #{$value};
    }

    @each $size in $font-sizes {
        --font-size-#{$size}: #{$size}px;
    }

    @for $i from 1 through 10 {
        $value: $i * 100;
        --font-weight-#{$value}: #{$value};
    }
}

@for $i from 100 through 500 {
    .lh-#{$i} {
        line-height: var(--line-height-#{$i}) !important;
    }
}

@each $key, $value in $typography {
    .#{$key} {
        font-size: #{$value} !important;
    }
}

@each $size in $font-sizes {
    .fs-#{$size} {
        font-size: #{var(--font-size-#{$size})} !important;
    }
}

@for $i from 1 through 10 {
    $value: $i * 100;

    .fw-#{$value} {
        font-weight: #{var(--font-weight-#{$value})} !important;
    }
}
