:root {

}

.text-ellipsis {
    text-overflow: ellipsis !important;
}

.text-wrap {
    text-wrap: wrap !important;
}

.text-nowrap {
    text-wrap: nowrap !important;
}

.white-space-nowrap {
    white-space: nowrap !important;
}
