@mixin setup-accordion-theme($theme, $primaryColor, $accentColor) {
    .accordion {
        $colors: (
            "default": "gray",
            "primary": $primaryColor,
            "accent": $accentColor,
            "success": "green",
            "warning": "yellow",
            "failure": "red",
            "info": "blue"
        );

        --accordion-panel-header-border-width: #{var(--size-pixel-1)};
        --accordion-panel-header-gap: #{var(--size-pixel-16)};
        --accordion-panel-header-x-axis-padding: #{var(--size-pixel-16)};
        --accordion-panel-header-y-axis-padding: #{var(--size-pixel-8)};
        --accordion-panel-header-wrapper-x-axis-margin: #{var(--size-pixel-16)};
        --accordion-panel-header-wrapper-y-axis-margin: #{var(--size-pixel-0)};
        --accordion-panel-header-subject-font-size: #{var(--typography-body-2)};
        --accordion-panel-header-description-font-size: #{var(--typography-body-3)};

        --accordion-panel-footer-border-width: #{var(--size-pixel-1)};
        --accordion-panel-footer-padding: #{var(--size-pixel-16)};

        @each $key, $value in $colors {
            @if ($key == "default") {
                --accordion-panel-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-200-color), var(--palette-#{$value}-800-color))};

                --accordion-panel-header-bdcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-400-color), var(--palette-#{$value}-600-color))};

                --accordion-panel-header-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
                --accordion-panel-header-bgcolor-hover-#{$key}: #{if($theme == "light", var(--palette-#{$value}-400-color), var(--palette-#{$value}-600-color))};
                --accordion-panel-header-bgcolor-active-#{$key}: #{if($theme == "light", var(--palette-#{$value}-200-color), var(--palette-#{$value}-800-color))};

                --accordion-panel-header-color-#{$key}: #{if($theme == "light", var(--palette-#{$value}-800-color), var(--palette-#{$value}-200-color))};

                --accordion-panel-footer-bdcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
            } @else {
                --accordion-panel-bgcolor-#{$key}: #{var(--palette-#{$value}-50-color)};

                --accordion-panel-header-bdcolor-#{$key}: #{var(--palette-#{$value}-color-25)};

                --accordion-panel-header-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
                --accordion-panel-header-bgcolor-hover-#{$key}: #{var(--palette-#{$value}-600-color)};
                --accordion-panel-header-bgcolor-active-#{$key}: #{var(--palette-#{$value}-400-color)};

                --accordion-panel-header-color-#{$key}: #{var(--palette-#{$value}-50-color)};

                --accordion-panel-footer-bdcolor-#{$key}: #{var(--palette-#{$value}-color-25)};
            }
        }

        display: flex;
        flex-direction: column;

        .accordion-panel {
            .accordion-panel-header {
                cursor: pointer;
                display: flex;
                align-items: center;
                user-select: none;

                padding: var(--accordion-panel-header-y-axis-padding) var(--accordion-panel-header-x-axis-padding);
                
                .panel-header-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    overflow: hidden;

                    margin: var(--accordion-panel-header-wrapper-y-axis-margin) var(--accordion-panel-header-wrapper-x-axis-margin);

                    &.no-icon {
                        margin-left: var(--size-pixel-0) !important;
                    }

                    &.no-toggle {
                        margin-right: var(--size-pixel-0) !important;
                    }

                    .panel-header-subject {
                        font-size: var(--accordion-panel-header-subject-font-size);
                        font-weight: 900;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
    
                    .panel-header-description {
                        font-size: var(--accordion-panel-header-description-font-size);
                        font-weight: 600;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .accordion-panel-container {
                overflow: hidden;

                .accordion-panel-wrapper {
                    .accordion-panel-footer {
                        border-top-width: var(--accordion-panel-footer-border-width);
                        border-top-style: solid;
    
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        padding: var(--accordion-panel-footer-padding);
                    }
                }
            }
            
            &:not(:last-child) {
                .accordion-panel-header {
                    border-bottom-width: var(--accordion-panel-header-border-width);
                    border-bottom-style: solid;
                }
            }
        }
        
        @each $color in map-keys($colors) {
            &[data-accordion-color=#{$color}] {
                .accordion-panel {
                    background-color: var(--accordion-panel-bgcolor-#{$color});

                    .accordion-panel-header {
                        background-color: var(--accordion-panel-header-bgcolor-#{$color});
                        color: var(--accordion-panel-header-color-#{$color});

                        &:hover {
                            background-color: var(--accordion-panel-header-bgcolor-hover-#{$color});
                        }

                        &:active {
                            background-color: var(--accordion-panel-header-bgcolor-active-#{$color});
                        }

                        .btn {
                            color: var(--accordion-panel-header-color-#{$color});
                        }
                    }

                    .accordion-panel-footer {
                        border-top-color: var(--accordion-panel-footer-bdcolor-#{$color});
                    }

                    &[data-accordion-panel-state="collapsed"] {
                        .accordion-panel-header {
                            border-bottom-color: var(--accordion-panel-header-bdcolor-#{$color});
                        }
                    }

                    &[data-accordion-panel-state="expanded"] {
                        .accordion-panel-header {
                            border-bottom-color: transparent;
                        }
                    }
                }
            }
        }
    }
}