@mixin setup-alert-theme($theme, $color) {
    $colors: (
        "success": "green",
        "warning": "yellow",
        "failure": "red",
        "info": "blue"
    );

    .alert {
        --alert-border-radius: #{var(--size-pixel-4)};
        --alert-border-width: #{var(--size-pixel-2)};
        --alert-gap: #{var(--size-pixel-16)};
        --alert-padding: #{var(--size-pixel-8)} #{var(--size-pixel-16)};

        --alert-tip-border-radius: #{var(--size-pixel-4)};
        --alert-tip-border-width: #{var(--size-pixel-2)};
        --alert-tip-border-highlight-width: #{var(--size-pixel-8)};
        --alert-tip-padding: #{var(--size-pixel-16)};
        --alert-tip-header-subject-font-size: #{var(--typography-subtitle-1)};
        
        @each $key, $value in $colors {
            --alert-bgcolor-#{$key}: #{var(--palette-#{$value}-50-color)};
            --alert-bdcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --alert-color-#{$key}: #{var(--palette-#{$value}-500-color)};
        }

        display: flex;
        align-items: center;
        user-select: none;

        border-style: solid;
        border-width: #{var(--alert-border-width)};
        border-radius: #{var(--alert-border-radius)};

        padding: var(--alert-padding);

        > :nth-child(n) {
            &:not(:last-child) {
                margin-right: var(--alert-gap);
            }
        }
        
        .alert-text-wrapper {
            flex: 1 1 auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        @each $item in map-keys($colors) {
            &.alert-#{$item} {
                background-color: #{var(--alert-bgcolor-#{$item})};
                border-color: #{var(--alert-bdcolor-#{$item})};
                color: var(--alert-color-#{$item});
            }
        }

        &.alert-tip {
            flex-direction: column;

            border-width: #{var(--alert-tip-border-width)} #{var(--alert-tip-border-width)} #{var(--alert-tip-border-width)} #{var(--alert-tip-border-highlight-width)};

            > :nth-child(n) {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: var(--alert-gap);
                }
            }

            .alert-toolbar {
                display: flex;
                align-items: center;

                .alert-text-wrapper {
                    font-size: var(--alert-tip-header-subject-font-size);
                    font-weight: bold;
                    flex: 1 1 auto;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                > :nth-child(n) {
                    &:not(:last-child) {
                        margin-right: var(--alert-gap);
                    }
                }
            }

            .alert-toolbar, .alert-content {
                width: 100%;
            }
        }
    }
}