@mixin setup-alert-theme($theme, $colors) {
    $styles: ("flat", "outline", "solid");

    .alert {
        --alert-border-radius: #{var(--size-pixel-4)};
        --alert-border-width: #{var(--size-pixel-2)};

        --alert-toast-gap: #{var(--col-gap-50)};
        --alert-toast-padding: #{var(--padding-50)};
        --alert-toast-height: #{var(--overlay-alert-toast-height)};

        --alert-notice-font-size: #{var(--font-size-12)};
        --alert-notice-font-weight: #{var(--font-weight-500)};
        --alert-notice-line-height: #{var(--line-height-200)};
        --alert-notice-gap: #{var(--col-gap-50)};

        --alert-detail-border-width: #{var(--size-pixel-8)};
        --alert-detail-gap: #{var(--col-gap-50)};
        --alert-detail-padding: #{var(--padding-100)};

        @each $key, $value in $colors {
            --alert-flat-bdcolor-#{$key}: transparent;
            --alert-flat-bgcolor-#{$key}: transparent;
            --alert-flat-color-#{$key}: #{var(--palette-#{$value}-500-color)};

            --alert-outline-bdcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --alert-outline-bgcolor-#{$key}: transparent;
            --alert-outline-color-#{$key}: #{var(--palette-#{$value}-500-color)};

            --alert-solid-bdcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --alert-solid-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --alert-solid-color-#{$key}: #{var(--palette-#{$value}-50-color)};

            --alert-bdcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --alert-bgcolor-#{$key}: #{var(--palette-#{$value}-50-color)};
            --alert-color-#{$key}: #{var(--palette-#{$value}-500-color)};
        }

        border-radius: #{var(--alert-border-radius)};
        border-style: solid;
        border-width: #{var(--alert-border-width)};

        padding-left: var(--alert-toast-padding);
        padding-right: var(--alert-toast-padding);

        user-select: none;

        &.toast-alert {
            display: inline-flex;
            align-items: center;

            column-gap: var(--alert-toast-gap);

            height: var(--alert-toast-height);

            .alert-message {
                flex: 1 1 auto;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &.notice-alert {
                border-radius: #{var(--size-pixel-0)};

                height: fit-content;

                padding: var(--padding-0);

                .alert-wrapper {
                    display: flex;
                    flex: 1 1 auto;
                    justify-content: center;
                    align-items: center;

                    column-gap: var(--alert-notice-gap);

                    .alert-message {
                        flex: 0 1 auto;

                        font-size: var(--alert-notice-font-size);
                        font-weight: var(--alert-notice-font-weight);
                        line-height: var(--alert-notice-line-height);
                    }
                }
            }
        }

        &.detail-alert {
            display: inline-flex;
            flex-direction: column;

            border-left-width: var(--alert-detail-border-width);

            row-gap: var(--alert-detail-gap);

            padding: var(--alert-detail-padding);

            .toolbar {
                display: flex;
                align-items: center;

                column-gap: var(--alert-detail-gap);
            }
        }

        .alert-addon {
            --alert-addon-gap: #{var(--col-gap-50)};

            display: inline-flex;
            flex-wrap: nowrap;

            column-gap: var(--alert-addon-gap);
        }

        .alert-message {
            --alert-message-font-size: #{var(--font-size-14)};
            --alert-message-font-weight: #{var(--font-weight-500)};
            --alert-message-line-height: #{var(--line-height-100)};

            font-size: var(--alert-message-font-size);
            font-weight: var(--alert-message-font-weight);
            line-height: var(--alert-message-line-height);
        }

        .alert-subject {
            --alert-subject-font-size: #{var(--font-size-20)};
            --alert-subject-font-weight: #{var(--font-weight-900)};
            --alert-subject-line-height: #{var(--line-height-100)};

            font-size: var(--alert-subject-font-size);
            font-weight: var(--alert-subject-font-weight);
            line-height: var(--alert-subject-line-height);
        }

        .alert-description {
            --alert-description-font-size: #{var(--font-size-14)};
            --alert-description-font-weight: #{var(--font-weight-500)};
            --alert-description-line-height: #{var(--line-height-150)};

            font-size: var(--alert-description-font-size);
            font-weight: var(--alert-description-font-weight);
            line-height: var(--alert-description-line-height);

            text-align: justify;
        }

        @each $color in map-keys($colors) {
            &[data-alert-color=#{$color}] {
                &.toast-alert {
                    @each $style in $styles {
                        &[data-alert-style=#{$style}] {
                            border-color: var(--alert-#{$style}-bdcolor-#{$color});
                            background-color: var(--alert-#{$style}-bgcolor-#{$color});
                            color: var(--alert-#{$style}-color-#{$color});

                            .icon {
                                svg {
                                    color: var(--alert-#{$style}-color-#{$color});
                                }
                            }
                        }
                    }
                }

                &.detail-alert {
                    border-color: var(--alert-bdcolor-#{$color});
                    background-color: var(--alert-bgcolor-#{$color});
                    color: var(--alert-bdcolor-#{$color});
                }
            }
        }
    }
}
