@mixin setup-avatar-theme($theme, $colors) {
    .avatar {
        --avatar-border-radius-circle: #{var(--size-percent-50)};
        --avatar-border-radius-square: #{var(--size-pixel-4)};
        --avatar-border-width: #{var(--size-pixel-2)};

        @each $key, $value in $colors {
            --avatar-bdcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
        }

        border-style: solid;
        border-width: var(--avatar-border-width);

        width: var(--avatar-size);
        height: var(--avatar-size);

        &[data-avatar-shape="circle"] {
            border-radius: var(--avatar-border-radius-circle);
        }

        &[data-avatar-shape="square"] {
            border-radius: var(--avatar-border-radius-square);
        }

        @each $color in map-keys($colors) {
            &[data-avatar-color=#{$color}] {
                border-color: var(--avatar-bdcolor-#{$color});
            }
        }
    }
}
