@mixin setup-carousel-theme($theme) {
    .carousel {
        --carousel-show-hide-duration: 1000ms;

        --carousel-content-metainfo-x-axis-padding: #{var(--size-pixel-16)};
        --carousel-content-metainfo-y-axis-padding: #{var(--size-pixel-16)};
        --carousel-content-metainfo-font-size: #{var(--typography-body-1)};
        --carousel-content-metainfo-font-weight: bold;

        --carousel-control-x-axis-padding: #{var(--size-pixel-16)};
        --carousel-control-y-axis-padding: #{var(--size-pixel-16)};
        --carousel-control-wrapper-x-axis-margin: #{var(--size-pixel-16)};
        --carousel-control-wrapper-y-axis-margin: #{var(--size-pixel-0)};
        --carousel-control-wrapper-gap: #{var(--size-pixel-8)};
        --carousel-control-progressbar-height: #{var(--size-pixel-8)};
        --carousel-control-progressbar-margin: #{var(--size-pixel-16)};
        --carousel-control-item-border-width: #{var(--size-pixel-8)};
        --carousel-control-item-width: 160px;
        --carousel-control-item-height: 120px;
        --carousel-control-item-triangle-size: #{var(--size-pixel-12)};

        --carousel-orbit-list-gap: #{var(--col-gap-50)};
        --carousel-orbit-item-duration: 250ms;

        display: inline-flex;
        flex-direction: column;

        position: relative;

        &:hover {
            .control, .orbit-list, .progress-wrapper {
                opacity: 0.85;
            }
        }

        .viewport {
            overflow: hidden;

            width: var(--size-percent-100);
            height: var(--size-percent-100);

            .cdk-virtual-scroll-content-wrapper {
                display: inline-flex;

                .panel {
                    position: relative;

                    width: var(--carousel-panel-width);
                    height: var(--carousel-panel-height);

                    .panel-label {
                        position: absolute;
                        top: var(--size-percent-5);
                        left: var(--size-percent-50);

                        transform: translate(calc(-1 * var(--size-percent-50)), calc(-1 * var(--size-percent-5)));
                    }
                }
            }
        }

        .control, .orbit-list, .progress-wrapper {
            opacity: 0.15;
            position: absolute;

            transition: opacity var(--carousel-show-hide-duration) ease-in-out;
        }

        .control {
            top: var(--size-percent-50);
            transform: translateY(calc(-1 * var(--size-percent-50)));

            &.left {
                left: calc(var(--size-percent-5) * 0.5);
            }

            &.right {
                right: calc(var(--size-percent-5) * 0.5);
            }
        }

        .orbit-list {
            display: inline-flex;

            column-gap: var(--carousel-orbit-list-gap);

            margin: var(--margin-0);
            padding: var(--padding-0);

            bottom: var(--size-percent-5);
            left: var(--size-percent-50);

            transform: translateX(calc(-1 * var(--size-percent-50)));

            .orbit-item {
                display: inherit;

                width: fit-content;
                height: fit-content;

                .button {
                    transition:
                        width var(--carousel-orbit-item-duration) ease-in-out,
                        min-width var(--carousel-orbit-item-duration) ease-in-out,
                        max-width var(--carousel-orbit-item-duration) ease-in-out;
                }

                &.selected {
                    .button {
                        $size: calc(var(--button-content-size) + var(--button-icon-padding) * 12);
                        border-radius: $size;

                        min-width: $size;
                        max-width: $size;
                        width: $size;
                    }
                }
            }
        }

        .progress-wrapper {
            display: inline-flex;

            top: var(--size-pixel-0);

            width: var(--size-percent-100);
            height: fit-content;

            > .progress {
                flex: 1 1 auto;
            }
        }
    }
}
