@mixin setup-layout-theme($theme) {
    .layout {
        --layout-split-border-width: #{var(--size-pixel-1)};
        --layout-split-bdcolor: #{if($theme == "light", var(--palette-gray-300-color), var(--palette-gray-700-color))};

        --layout-header-height: #{var(--size-pixel-64)};
        --layout-header-gap: #{var(--size-pixel-16)};
        --layout-header-padding: #{var(--size-pixel-0)} #{var(--size-pixel-8)};
        --layout-header-logo-border-radius: #{var(--size-pixel-4)};
        --layout-header-logo-height: #{var(--size-pixel-48)};
        --layout-header-logo-padding: #{var(--size-pixel-0)} #{var(--size-pixel-8)};

        --layout-header-link-margin: #{var(--size-pixel-0)} #{var(--size-pixel-16)};

        --layout-footer-height: #{var(--size-pixel-48)};
        --layout-footer-padding: #{var(--size-pixel-0)} #{var(--size-pixel-16)};

        display: flex;
        flex-direction: column;

        .layout-header {
            border-bottom-color: var(--layout-split-bdcolor);
            border-bottom-style: solid;
            border-bottom-width: var(--layout-split-border-width);

            display: flex;
            align-items: center;

            height: var(--layout-header-height);
            padding: var(--layout-header-padding);

            > :nth-child(n) {
                &:not(:last-child) {
                    margin-right: var(--layout-header-gap);
                }
            }

            > :first-child {
                margin-left: calc(var(--layout-header-gap) * 0.5);
            }

            .header-logo {
                cursor: pointer;

                border-radius: var(--layout-header-logo-border-radius);
                height: var(--layout-header-logo-height);
                padding: var(--layout-header-logo-padding);

                @if $theme == "light" {
                    background-color: var(--palette-gray-200-color);

                    &:hover {
                        background-color: var(--palette-gray-300-color);
                    }

                    &:active {
                        background-color: var(--palette-gray-100-color);
                    }
                } @else {
                    background-color: var(--palette-gray-800-color);

                    &:hover {
                        background-color: var(--palette-gray-700-color);
                    }

                    &:active {
                        background-color: var(--palette-gray-900-color);
                    }
                }
            }

            .header-actions {
                display: flex;
                align-items: center;
                height: 100%;

                .btn {
                    height: var(--layout-header-height);
                }
            }

            .header-content {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                height: 100%;
            }

            .btn {
                --button-basic-color-default: #{if($theme == "light", var(--palette-gray-800-color), var(--palette-gray-200-color))};
            }
        }

        .layout-content {
            display: flex;
            flex: 1 1 auto;

            .content-side {
                border-right-color: var(--layout-split-bdcolor);
                border-right-style: solid;
                border-right-width: var(--layout-split-border-width);
            }

            .content-area {
                flex: 1 1 auto;

                > * {
                    &:not(router-outlet) {
                        min-width: fit-content;
                        max-width: var(--size-percent-100);
                        width: var(--size-percent-100);
                    }
                }
            }
        }

        .layout-footer {
            border-top-color: var(--layout-split-bdcolor);
            border-top-style: solid;
            border-top-width: var(--layout-split-border-width);

            min-height: var(--layout-footer-height);

            padding: var(--layout-footer-padding);
        }
    }
}
