@mixin setup-navlist-theme($theme, $colors) {
    .nav-list {
        --navlist-collapsed-size: #{var(--layout-content-side-collapsed-size)};

        --navlist-section-header-height: #{var(--size-pixel-42)};
        --navlist-section-header-text-font-size: #{var(--font-size-16)};
        --navlist-section-header-text-font-weight: #{var(--font-weight-700)};
        --navlist-section-header-text-line-height: #{var(--line-height-100)};
        --navlist-section-header-icon-width: #{var(--navlist-collapsed-size)};
        --navlist-section-header-icon-height: #{var(--navlist-section-header-height)};

        --navitem-height: #{var(--size-pixel-42)};
        --navitem-font-size: #{var(--font-size-16)};
        --navitem-font-weight: #{var(--font-weight-500)};
        --navitem-selected-font-weight: #{var(--font-weight-1000)};
        --navitem-line-height: #{var(--line-height-100)};
        --navitem-icon-width: #{var(--navlist-collapsed-size)};
        --navitem-icon-height: #{var(--navitem-height)};
        --navitem-mark-width: #{var(--size-pixel-16)};
        --navitem-mark-height: #{var(--navitem-height)};

        --navitem-bgcolor: transparent;
        --navitem-color: #{if($theme == "light", var(--palette-gray-900-color), var(--palette-gray-100-color))};

        @each $key, $value in $colors {
            @if $key == "default" {
                --navitem-bgcolor-hover-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
                --navitem-bgcolor-active-#{$key}: #{if($theme == "light", var(--palette-#{$value}-400-color), var(--palette-#{$value}-600-color))};
                --navitem-bgcolor-selected-#{$key}: #{if($theme == "light", var(--palette-#{$value}-200-color), var(--palette-#{$value}-800-color))};

                --navitem-mark-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};

                --navitem-color-hover-#{$key}: #{if($theme == "light", var(--palette-#{$value}-700-color), var(--palette-#{$value}-300-color))};
                --navitem-color-active-#{$key}: #{if($theme == "light", var(--palette-#{$value}-600-color), var(--palette-#{$value}-400-color))};
                --navitem-color-selected-#{$key}: #{if($theme == "light", var(--palette-#{$value}-800-color), var(--palette-#{$value}-200-color))};
            } @else {
                --navitem-bgcolor-hover-#{$key}: #{var(--palette-#{$value}-600-color)};
                --navitem-bgcolor-active-#{$key}: #{var(--palette-#{$value}-400-color)};
                --navitem-bgcolor-selected-#{$key}: #{var(--palette-#{$value}-color-50)};

                --navitem-mark-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};

                --navitem-color-hover-#{$key}: #{var(--palette-gray-50-color)};
                --navitem-color-active-#{$key}: #{var(--palette-gray-50-color)};
                --navitem-color-selected-#{$key}: #{if($theme == "light", var(--palette-#{$value}-700-color), var(--palette-#{$value}-300-color))};
            }
        }

        display: inline-flex;
        flex-direction: column;

        min-width: fit-content;
        width: var(--size-percent-100);

        .nav-list-section {
            display: flex;
            flex-direction: column;

            .section-header {
                display: inline-flex;
                align-items: center;

                white-space: nowrap;

                height: var(--navlist-section-header-height);

                .section-icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    width: var(--navlist-section-header-icon-width);
                    height: var(--navlist-section-header-icon-height);
                }

                .section-text {
                    font-size: var(--navlist-section-header-text-font-size);
                    font-weight: var(--navlist-section-header-text-font-weight);
                    line-height: var(--navlist-section-header-text-line-height);
                }
            }

            .section-content {
                display: inline-flex;
                flex-direction: column;

                overflow: hidden;
            }
        }

        .nav-list-item {
            display: flex;
            align-items: center;

            font-size: var(--navitem-font-size);
            font-weight: var(--navitem-font-weight);
            line-height: var(--navitem-line-height);

            white-space: nowrap;

            height: var(--navitem-height);

            &.selected {
                font-weight: var(--navitem-selected-font-weight);
            }

            .list-item-icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;

                width: var(--navitem-icon-width);
                height: var(--navitem-icon-height);
            }

            .list-item-wrapper {
                display: flex;
                flex: 1 1 auto;
                align-items: center;

                .text {
                    flex: 1 1 auto;
                }

                .mark {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

                    display: inline-block;

                    width: var(--navitem-mark-width);
                    height: var(--navitem-mark-height);
                }
            }

            .icon {
                margin-right: var(--navlink-icon-margin);
            }
        }

        @each $color in map-keys($colors) {
            &[data-navlist-color=#{$color}] {
                .nav-list-item {
                    background-color: var(--navitem-bgcolor);
                    color: var(--navitem-color);

                    &:hover {
                        background-color: var(--navitem-bgcolor-hover-#{$color});
                        color: var(--navitem-color-hover-#{$color});
                    }

                    &:active {
                        background-color: var(--navitem-bgcolor-active-#{$color});
                        color: var(--navitem-color-active-#{$color});
                    }

                    &.selected {
                        background-color: var(--navitem-bgcolor-selected-#{$color});
                        color: var(--navitem-color-selected-#{$color});

                        .list-item-wrapper {
                            .mark {
                                background-color: var(--navitem-mark-bgcolor-#{$color});
                            }
                        }
                    }
                }
            }
        }
    }
}
