@mixin setup-paginator-theme($theme, $color) {
    .paginator {
        --paginator-height: #{var(--size-pixel-56)};
        --paginator-gap: #{var(--col-gap-100)};
        --paginator-padding: #{var(--padding-100)};

        --paginator-label-font-size: #{var(--font-size-16)};
        --paginator-label-font-weight: #{var(--font-weight-900)};
        --paginator-label-line-height: #{var(--line-height-100)};

        --paginator-label-color: #{if($theme == "light", var(--palette-#{$color}-800-color), var(--palette-#{$color}-200-color))};

        display: flex;
        align-items: center;

        column-gap: var(--paginator-gap);

        height: var(--paginator-height);

        padding-left: var(--paginator-padding);
        padding-right: var(--paginator-padding);

        user-select: none;

        .label {
            color: var(--paginator-label-color);

            font-size: var(--paginator-label-font-size);
            font-weight: var(--paginator-label-font-weight);
            line-height: var(--paginator-label-line-height);
        }
    }
}
