@mixin setup-paginator-theme($theme, $colors) {
    .paginator {
        --paginator-height: #{var(--size-pixel-56)};
        --paginator-gap: #{var(--col-gap-100)};
        --paginator-padding: #{var(--padding-100)};

        --paginator-label-font-size: #{var(--font-size-16)};
        --paginator-label-font-weight: #{var(--font-weight-900)};
        --paginator-label-line-height: #{var(--line-height-100)};

        @each $key, $value in $colors {
            @if $key == "default" {
                --paginator-label-color-#{$key}: #{if($theme == "light", var(--palette-#{$value}-200-color), var(--palette-#{$value}-800-color))};
            } @else {
                --paginator-label-color-#{$key}: #{var(--palette-#{$value}-500-color)};
            }
        }

        display: flex;
        align-items: center;

        column-gap: var(--paginator-gap);

        height: var(--paginator-height);

        padding-left: var(--paginator-padding);
        padding-right: var(--paginator-padding);

        user-select: none;

        .label {
            font-size: var(--paginator-label-font-size);
            font-weight: var(--paginator-label-font-weight);
            line-height: var(--paginator-label-line-height);
        }

        @each $color in map-keys($colors) {
            &[data-paginator-color=#{$color}] {
                .label {
                    color: var(--paginator-label-color-#{$color});
                }
            }
        }
    }
}
