@mixin setup-progress-theme($theme, $colors) {
    .progress {
        --progress-duration: 1000ms;

        --progress-bar-label-border-radius: #{var(--size-pixel-2)};
        --progress-bar-label-font-size: #{var(--font-size-12)};
        --progress-bar-label-font-weight: #{var(--font-weight-500)};
        --progress-bar-label-line-height: #{var(--line-height-100)};
        --progress-bar-label-padding: #{var(--padding-25)};
        --progress-bar-label-size: #{var(--size-pixel-36)};

        --progress-bar-label-arrow-size: #{calc(var(--progress-bar-label-font-size) * 0.5)};

        --progress-bar-await-size: #{percentage(calc(1 / 3))};
        --progress-bar-await-delay: 1000ms;
        --progress-bar-await-duration: 10000ms;

        --progress-ring-label-font-weight: #{var(--font-weight-900)};
        --progress-ring-label-line-height: #{var(--line-height-100)};

        --progress-ring-await-delay: 1000ms;
        --progress-ring-await-duration: 10000ms;

        @each $key, $value in $colors {
            @if $key == "default" {
                --progress-track-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
            } @else {
                --progress-track-bgcolor-#{$key}: #{var(--palette-#{$value}-50-color)};
            }

            --progress-thumb-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --progress-await-bgcolor-#{$key}: #{var(--palette-#{$value}-color-50)};

            --progress-bar-label-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
            --progress-bar-label-arrow-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};

            --progress-bar-label-color-#{$key}: #{var(--palette-#{$value}-50-color)};
            --progress-ring-label-color-#{$key}: #{var(--palette-#{$value}-500-color)};
        }

        display: inline-block;

        &.progress-bar {
            height: var(--progress-bar-thickness);

            position: relative;

            > svg {
                rect {
                    transition: all var(--progress-duration) linear;
                }
            }

            &.progress-round {
                > svg {
                    rect {
                        rx: var(--progress-bar-radius);
                        ry: var(--progress-bar-radius);
                    }
                }
            }

            .progress-label {
                position: absolute;

                display: inline-flex;
                align-items: center;

                transform: translateX(calc(-1 * var(--size-percent-50)));
                transition: all var(--progress-duration) linear;

                .progress-label-text {
                    border-radius: var(--progress-bar-label-border-radius);

                    font-size: var(--progress-bar-label-font-size);
                    font-weight: var(--progress-bar-label-font-weight);
                    line-height: var(--progress-bar-label-line-height);

                    text-align: center;
                    vertical-align: middle;

                    padding: var(--progress-bar-label-padding);

                    min-width: var(--progress-bar-label-size);
                }

                .progress-label-arrow {
                    width: 0;
                    height: 0;
                    border-style: solid;
                }
            }

            .progress-await {
                animation-name: progress-bar-await-animation;
                animation-duration: var(--progress-bar-await-duration);
                animation-timing-function: linear;
                animation-delay: var(--progress-bar-await-delay);
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-fill-mode: both;

                width: var(--progress-bar-await-size);

                @keyframes progress-bar-await-animation {
                    0% {
                        transform: translateX(calc(var(--progress-bar-await-size) * -1));
                    }

                    100% {
                        transform: translateX(100%);
                    }
                }
            }

            &[data-progress-bar-label-position=above] {
                .progress-label {
                    flex-direction: column;

                    top: calc(-100% - var(--progress-bar-label-font-size) - var(--progress-bar-label-padding) * 0.5);

                    .progress-label-arrow {
                        border-width: var(--progress-bar-label-arrow-size) var(--progress-bar-label-arrow-size) 0 var(--progress-bar-label-arrow-size);
                    }
                }
            }

            &[data-progress-bar-label-position=below] {
                .progress-label {
                    flex-direction: column-reverse;

                    bottom: var(--progress-bar-label-below);

                    .progress-label-arrow {
                        border-width: 0 var(--progress-bar-label-arrow-size) var(--progress-bar-label-arrow-size) var(--progress-bar-label-arrow-size);
                    }
                }
            }
        }

        &.progress-ring {
            width: var(--progress-ring-size);
            height: var(--progress-ring-size);

            > svg {
                circle {
                    r: var(--progress-ring-radius);
                    cx: var(--progress-ring-axis);
                    cy: var(--progress-ring-axis);

                    stroke-linecap: square;
                    stroke-dashoffset: 0;
                    stroke-width: var(--progress-ring-stroke-width);

                    transform-origin: center;
                    transform: rotateX(180deg) rotateY(0deg) rotateZ(-270deg);

                    transition: all var(--progress-duration) linear;
                }
            }

            &.progress-round {
                > svg {
                    circle {
                        stroke-linecap: round;
                    }
                }
            }

            .progress-await {
                animation-name: progress-ring-await-animation;
                animation-duration: var(--progress-ring-await-duration);
                animation-timing-function: linear;
                animation-delay: var(--progress-ring-await-delay);
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-fill-mode: both;

                @keyframes progress-ring-await-animation {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(-360deg);
                    }
                }
            }

            .progress-label {
                font-size: var(--progress-ring-label-font-size);
                font-weight: var(--progress-ring-label-font-weight);
                line-height: var(--progress-ring-label-line-height);

                user-select: none;
            }
        }

        @each $color in map-keys($colors) {
            &[data-progress-color=#{$color}] {
                &.progress-bar {
                    .progress-track {
                        fill: var(--progress-track-bgcolor-#{$color});
                    }

                    .progress-thumb {
                        fill: var(--progress-thumb-bgcolor-#{$color});
                    }

                    .progress-await {
                        fill: var(--progress-await-bgcolor-#{$color});
                    }

                    .progress-label {
                        .progress-label-text {
                            background-color: var(--progress-bar-label-bgcolor-#{$color});
                            color: var(--progress-bar-label-color-#{$color});
                        }
                    }

                    &[data-progress-bar-label-position="above"] {
                        .progress-label {
                            .progress-label-arrow {
                                border-color: var(--progress-bar-label-arrow-bgcolor-#{$color}) transparent transparent transparent;
                            }
                        }
                    }

                    &[data-progress-bar-label-position="below"] {
                        .progress-label {
                            .progress-label-arrow {
                                border-color: transparent transparent var(--progress-bar-label-arrow-bgcolor-#{$color}) transparent;
                            }
                        }
                    }
                }

                &.progress-ring {
                    .progress-track {
                        stroke: var(--progress-track-bgcolor-#{$color});
                    }

                    .progress-thumb {
                        stroke: var(--progress-thumb-bgcolor-#{$color});
                    }

                    .progress-await {
                        stroke: var(--progress-await-bgcolor-#{$color});
                    }

                    .progress-label {
                        fill: var(--progress-ring-label-color-#{$color});
                    }
                }
            }
        }
    }
}
