@mixin setup-scrollbar-theme($theme, $colors) {
    $alphas: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

    .scrollbar {
        --scrollbar-thumb-radius: #{var(--size-pixel-4)};

        @each $key, $value in $colors {
            --scrollbar-thumb-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
            --scrollbar-thumb-bgcolor-hover-#{$key}: #{if($theme == "light", var(--palette-#{$value}-400-color), var(--palette-#{$value}-600-color))};
            --scrollbar-thumb-bgcolor-active-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
        }

        scroll-behavior: smooth;

        &[data-scrollbar-axis="x-axis"] {
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
        }

        &[data-scrollbar-axis="y-axis"] {
            overflow-x: hidden;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
        }

        &[data-scrollbar-axis="xy-axis"] {
            overflow-x: auto;
            overflow-y: auto;
            scroll-snap-type: both mandatory;
        }

        &[data-scrollbar-axis="none-axis"] {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        &::-webkit-scrollbar {
            appearance: none;
            outline: none;

            width: var(--scrollbar-size);
            height: var(--scrollbar-size);
        }

        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;

            border-color: transparent;
            border-radius: var(--scrollbar-thumb-radius);
            border-width: var(--scrollbar-thumb-padding);
            border-style: solid;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }

        @each $color in map-keys($colors) {
            &[data-scrollbar-color=#{$color}] {
                &:hover {
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--scrollbar-thumb-bgcolor-#{$color});

                        &:hover {
                            background-color: var(--scrollbar-thumb-bgcolor-hover-#{$color});
                        }

                        &:active {
                            background-color: var(--scrollbar-thumb-bgcolor-active-#{$color});
                        }
                    }
                }
            }
        }
    }
}

