@mixin setup-scrollbar-theme($theme, $color) {
    .scrollbar {
        --scrollbar-width-height: #{var(--size-pixel-12)};

        --scrollbar-thumb-border-radius: #{var(--size-pixel-3)};

        --scrollbar-thumb-bgcolor: #{if($theme == "light", var(--palette-gray-300-color), var(--palette-gray-700-color))};
        --scrollbar-thumb-bgcolor-hover: #{var(--palette-gray-500-color)};
        --scrollbar-thumb-bgcolor-active: #{if($theme == "light", var(--palette-gray-400-color), var(--palette-gray-600-color))};

        &.scrollbar-x-axis {
            overflow-x: auto;
            overflow-y: hidden;
        }

        &.scrollbar-y-axis {
            overflow-x: hidden;
            overflow-y: auto;
        }

        &.scrollbar-xy-axis {
            overflow-x: auto;
            overflow-y: auto;
        }

        &.scrollbar-none-axis {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        &::-webkit-scrollbar {
            appearance: none;
            outline: none;

            width: var(--scrollbar-width-height);
            height: var(--scrollbar-width-height);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: var(--scrollbar-thumb-border-radius);
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }

        &:hover {
            &:not(:hover) {
                &::-webkit-scrollbar-thumb {
                    background: transparent;
                }
            }

            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-thumb-bgcolor);

                &:hover {
                    background: var(--scrollbar-thumb-bgcolor-hover);
                }

                &:active {
                    background: var(--scrollbar-thumb-bgcolor-active);
                }
            }
        }
    }
}
