@mixin setup-tag-theme($theme, $colors) {
    $sizes: ("sm": 12, "md": 16, "lg": 20);

    .tag {
        --tag-border-width: #{var(--size-pixel-1)};
        --tag-gap: #{var(--col-gap-25)};

        --tag-label-font-weight: #{var(--font-weight-500)};
        --tag-label-line-height: #{var(--line-height-100)};

        @each $key, $value in $colors {
            --tag-bdcolor-#{$key}: var(--palette-#{$value}-500-color);
            --tag-bdcolor-hover-#{$key}: var(--palette-#{$value}-600-color);
            --tag-bdcolor-active-#{$key}: var(--palette-#{$value}-400-color);

            --tag-color-#{$key}: var(--palette-#{$value}-500-color);
            --tag-color-hover-#{$key}: var(--palette-#{$value}-600-color);
            --tag-color-active-#{$key}: var(--palette-#{$value}-400-color);
        }

        border-style: solid;
        border-width: var(--tag-border-width);

        display: inline-flex;
        align-items: center;

        column-gap: var(--tag-gap);

        user-select: none;

        &.link-tag {
            cursor: pointer;
        }

        &[data-tag-shape=square] {
            border-radius: var(--size-pixel-4);
        }

        .avatar {
            border: none;
        }

        .label {
            font-weight: var(--tag-label-font-weight);
            line-height: var(--tag-label-line-height);

            white-space: nowrap;
        }

        @each $color in map-keys($colors) {
            &[data-tag-color=#{$color}] {
                border-color: var(--tag-bdcolor-#{$color});

                .label {
                    color: var(--tag-color-#{$color});
                }

                &.link-tag {
                    &:hover {
                        border-color: var(--tag-bdcolor-hover-#{$color});

                        .label {
                            color: var(--tag-color-hover-#{$color});
                        }
                    }

                    &:active {
                        border-color: var(--tag-bdcolor-active-#{$color});

                        .label {
                            color: var(--tag-color-active-#{$color});
                        }
                    }
                }
            }
        }

        @each $key, $value in $sizes {
            $size: var(--size-pixel-#{$value});

            &[data-tag-size=#{$key}] {
                height: calc($size * 1.5);

                padding-left: calc($size * 0.25);
                padding-right: calc($size * 0.25);

                &[data-tag-shape=circle] {
                    border-radius: calc($size * 1.5);
                }

                .avatar {
                    width: $size;
                    height: $size;
                }

                .label {
                    font-size: var(--font-size-#{$value});
                }

                .close {
                    min-width: var(--size-pixel-#{$value});
                    max-width: var(--size-pixel-#{$value});
                    min-height: var(--size-pixel-#{$value});
                    max-height: var(--size-pixel-#{$value});

                    .icon svg {
                        width: var(--size-pixel-#{$value});
                        height: var(--size-pixel-#{$value});
                    }
                }
            }
        }
    }

    .tag-grid {
        --tag-grid-empty-border-width: #{var(--size-pixel-1)};
        --tag-grid-empty-font-size: #{var(--font-size-14)};
        --tag-grid-empty-font-weight: #{var(--font-weight-900)};
        --tag-grid-empty-line-height: #{var(--line-height-200)};

        @each $key, $value in $colors {
            --tag-grid-empty-bdcolor-#{$key}: #{var(--palette-#{$value}-color-50)};
            --tag-grid-empty-color-#{$key}: #{var(--palette-#{$value}-color-50)};
        }

        display: inline-flex;
        flex-wrap: wrap;

        .empty {
            border-style: dashed;
            border-width: var(--tag-grid-empty-border-width);

            font-size: var(--tag-grid-empty-font-size);
            font-style: italic;
            font-weight: var(--tag-grid-empty-font-weight);
            line-height: var(--tag-grid-empty-line-height);

            text-align: center;
            user-select: none;

            width: var(--size-percent-100);
        }

        @each $color in map-keys($colors) {
            &[data-tag-grid-color=#{$color}] {
                .empty {
                    border-color: var(--tag-grid-empty-bdcolor-#{$color});
                    color: var(--tag-grid-empty-color-#{$color});
                }
            }
        }
    }
}
