@mixin setup-tooltip-theme($theme, $colors) {
    .tooltip {
        --tooltip-border-radius: #{var(--size-pixel-4)};
        --tooltip-font-size: #{var(--font-size-14)};
        --tooltip-font-weight: #{var(--font-weight-500)};
        --tooltip-line-height: #{var(--line-height-150)};
        --tooltip-padding: #{var(--padding-75)};

        --tooltip-shadow-blur: #{var(--size-pixel-4)};
        --tooltip-shadow-color: #{if($theme == "light", var(--palette-gray-400-color), var(--palette-gray-600-color))};

        @each $key, $value in $colors {
            @if $key == "default" {
                --tooltip-bgcolor-#{$key}: #{if($theme == "light", var(--palette-#{$value}-300-color), var(--palette-#{$value}-700-color))};
                --tooltip-color-#{$key}: #{if($theme == "light", var(--palette-#{$value}-700-color), var(--palette-#{$value}-300-color))};
            } @else {
                --tooltip-bgcolor-#{$key}: #{var(--palette-#{$value}-500-color)};
                --tooltip-color-#{$key}: #{var(--palette-#{$value}-50-color)};
            }
        }

        user-select: none;

        .tooltip-message {
            border-radius: var(--tooltip-border-radius);

            display: inline-block;

            filter: drop-shadow(0 0 #{var(--tooltip-shadow-blur)} #{var(--tooltip-shadow-color)});

            font-size: var(--tooltip-font-size);
            font-weight: var(--tooltip-font-weight);
            line-height: var(--tooltip-line-height);
            text-align: justify;

            padding: var(--tooltip-padding);

            width: var(--size-percent-100);
        }

        @each $color in map-keys($colors) {
            &[data-overlay-color=#{$color}] {
                .tooltip-message {
                    background-color: var(--tooltip-bgcolor-#{$color});
                    color: var(--tooltip-color-#{$color});
                }
            }
        }
    }
}
