.octo-form-field {
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: block;
    padding: 0.75rem 0.5rem 0.125rem;

    .octo-form-field-wrapper {
        min-height: 4rem;
        position: relative;

        .octo-form-field-bone {
            display: flex;
            position: absolute;
            inset: 0;

            .left {
                display: flex;
                align-items: center;
                min-width: 0.5rem;
            }

            .middle {
                .octo-form-label {
                    display: block;
                    font-size: 1rem;
                    line-height: 1rem;
                    transform: translateY(calc(100% + 0.25rem));
                    transition: all 100ms linear;

                    &.focused {
                        font-size: 0.75rem;
                        line-height: 0.75rem;
                        padding: 0.125rem 0.5rem;
                        transform: translateY(-0.5rem);
                    }
                }
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: auto;
            }

            .octo-form-prefix,
            .octo-form-suffix {
                height: 2rem;
                margin: auto 0.5rem;

                &.octo-btn {
                    font-size: 0.75rem;

                    &.octo-btn-ring {
                        width: 2rem;
                    }
                }

                &.octo-icon {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        .octo-form-field-main {
            display: flex;
            align-items: center;
            height: fit-content;
            position: absolute;
            inset: 0.5rem 0 0.5rem 0;
        }
    }

    &.octo-form-field-standard {
        .octo-form-field-wrapper {
            .octo-form-field-bone {
                .left {
                    border-style: solid;
                    border-width: 0 0 0.125rem 0;
                }

                .middle {
                    border-style: solid;
                    border-width: 0 0 0.125rem 0;
                }

                .right {
                    border-style: solid;
                    border-width: 0 0 0.125rem 0;
                }
            }
        }
    }

    &.octo-form-field-outline {
        .octo-form-field-wrapper {
            .octo-form-field-bone {
                .left {
                    border-radius: 0.25rem 0 0 0.25rem;
                    border-style: solid;
                    border-width: 0.125rem 0 0.125rem 0.125rem;
                }

                .middle {
                    border-style: solid;
                    border-width: 0.125rem 0;

                    &.focused {
                        border-width: 0 0 0.125rem !important;
                    }
                }

                .right {
                    border-radius: 0 0.25rem 0.25rem 0;
                    border-style: solid;
                    border-width: 0.125rem 0.125rem 0.125rem 0;
                }
            }
        }
    }

    .octo-form-field-addon {
        box-sizing: border-box;
        margin: 0.25rem 0;

        .octo-form-hint {
            display: block;
            font-size: 0.75rem;
            line-height: 0.75rem;
            padding: 0.125rem;
        }
    }
}

.octo-input {
    appearance: none;
    background: none;
    border: none;
    font-size: 1rem;
    outline: none;
    resize: none;
    text-align: inherit;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

input {
    &.octo-input {
        height: 3rem;
    }
}
