.octo-figure {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    margin: 0.75rem;
    padding: 0.75rem;

    img {
        width: 100%;
    }

    .octo-figcaption {
        margin-top: 1.5rem;
    }
}
