.octo-queue {
    display: flex;
    flex-direction: column;

    .octo-queue-header,
    .octo-queue-footer {
        height: 4rem;
        padding: 0 1rem;
    }

    .octo-queue-section {
        display: flex;
        align-items: center;
        height: 3rem;
        margin: 1rem 0;
        overflow: hidden;
        padding: 0 1rem;

        .octo-queue-label {
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1.5;
        }

        .octo-queue-section-wrapper {
            display: flex;
            flex-direction: column;
            flex: auto;

            .octo-queue-sub {
                font-size: 1.25rem;
                font-weight: bold;
                line-height: 1.5;
            }

            .octo-queue-desc {
                font-size: 0.75rem;
                font-weight: bold;
                line-height: 1.25;
            }
        }

        .octo-queue-favicon {
            margin-right: 1rem;
        }
    }

    .octo-queue-item {
        display: flex;
        align-items: center;
        min-height: 3rem;
        max-height: 6rem;
        padding: 0 1rem;
    }

    &.octo-action-queue {
        .octo-action-queue-item {
            appearance: none;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            position: relative;

            .octo-ripple {
                position: absolute;
                inset: 0;
            }
        }

        .octo-queue-link {
            height: 4rem;
            text-decoration: none;

            .octo-queue-favicon {
                margin-right: 1rem;
            }
        }
    }

    &.octo-select-queue {
        .octo-queue-option {
            cursor: pointer;
            position: relative;

            .octo-queue-option-wrapper {
                flex: auto;
            }

            .octo-ripple {
                position: absolute;
                inset: 0;
            }
        }
    }

    .octo-queue-favicon {
        font-size: 2rem !important;
        line-height: 2rem !important;
        width: 2rem !important;
        height: 2rem !important;
    }

    .octo-queue-line {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        line-height: 1.25;
        margin: 0.5rem 0;
        width: 100%;

        .octo-queue-favicon {
            margin-right: 1rem;
        }

        .octo-queue-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}


