.octo-table {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;

        tr {
            &.octo-table-header-row,
            &.octo-table-footer-row {
                font-size: 1rem;
                height: 4rem;
                min-height: 4rem;
            }

            &.octo-table-row {
                font-size: 0.75rem;
                height: 3rem;
            }

            th, td {
                border-style: solid;
                box-sizing: border-box;
                padding: 0 1rem;

                &.octo-table-header-cell,
                &.octo-table-cell {
                    &:last-child {
                        border-right-width: 0 !important;
                    }
                }

                &.octo-table-footer-cell {
                    border-width: 1px 0 0 !important;
                }
            }

            &:last-child {
                td {
                    border-bottom-width: 0 !important;
                }
            }
        }
    }
}
