.octo-tabbed-group {
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;

    .octo-tabbed-header {
        border-radius: 0 !important;
    }

    .octo-tabbed-content {
        display: flex;
        height: 100%;
        position: relative;
        overflow: hidden;

        .octo-tabbed-box {
            display: block;
            flex: auto;
            position: absolute;
            inset: 0;

            &.active {
                position: relative;
            }

            .octo-tabbed-box-wrapper {
                max-width: 100%;
                max-height: 100%;
                position: relative;
                z-index: 1;
            }
        }
    }
}

.octo-tabbed-header {
    display: flex;
    height: 3rem;
    overflow: hidden;

    .octo-tabbed-header-wrapper {
        display: flex;
        flex: auto;
        overflow: hidden;
        position: relative;

        .octo-tabbed-mark-track {
            position: absolute;
            bottom: 0;

            .octo-tabbed-mark {
                width: 15rem;
                height: 0.25rem;
            }
        }

        .octo-tabbed-ctrl {
            appearance: none;
            background: none;
            border: none;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 15rem;
            max-width: 15rem;
            outline: none;
            position: relative;
            padding: 0 1rem;
            text-decoration: none;

            .octo-tabbed-ctrl-wrapper {
                display: flex;
                align-items: center;
            }

            .octo-ripple {
                position: absolute;
                inset: 0;
            }

            .octo-tabbed-favicon {
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-right: 1rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
