<div class="octopus-paginator-wrapper">
    <span class="text-truncate">{{optionLabel}}</span>
    <select name="" id="" [ngModel]="size" (ngModelChange)="listenSelectChange($event)" style="height: 2rem;">
        <option value="none" disabled>--- Select Items per Page ---</option>
        <option [value]="option" *ngFor="let option of options">{{option}}</option>
    </select>
    <span class="text-truncate">{{pageLabel}}</span>
    <div class="flex-fill"></div>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(-2)">
        <octopus-icon size="24">first_page</octopus-icon>
    </button>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(-1)">
        <octopus-icon size="24">navigate_before</octopus-icon>
    </button>
    <input type="text" [value]="index + 1" (keyup.enter)="handleJumpActionEvent(input.value)" #input>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(1)">
        <octopus-icon size="24">navigate_next</octopus-icon>
    </button>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(2)">
        <octopus-icon size="24">last_page</octopus-icon>
    </button>
</div>