<div class="octopus-paginator-wrapper">
    <span class="text-truncate">{{optionLabel}}</span>
    <octopus-select [color]="color" [select]="size" (selectChange)="listenSelectChange($event)">
        <octopus-select-option [value]="option" *ngFor="let option of options">{{option}}</octopus-select-option>
    </octopus-select>
    <span class="text-truncate">{{pageLabel}}</span>
    <div class="flex-fill"></div>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(-2)">
        <octopus-icon size="24">first_page</octopus-icon>
    </button>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(-1)">
        <octopus-icon size="24">navigate_before</octopus-icon>
    </button>
    <input type="text" (keyup.enter)="handleJumpActionEvent(input.value)" #input>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(1)">
        <octopus-icon size="24">navigate_next</octopus-icon>
    </button>
    <button octopus-icon-button color="base" (click)="handleStepActionEvent(2)">
        <octopus-icon size="24">last_page</octopus-icon>
    </button>
</div>