<mat-toolbar [class.mat-elevation-z4]="true" color="primary">
    <button mat-icon-button (click)="checked ? overlay.toggle() : flag = !flag" #toggleButton>
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="['/']">
        <img src="assets/images/logo-long.png" height="32.0" />
    </a>
    <span class="flex-basis-auto flex-grow-1 flex-shrink-1"></span>
    <mat-form-field [floatLabel]="'never'" [style.width]="'360px'">
        <mat-label>Search</mat-label>
        <button mat-icon-button matPrefix [style.margin-right]="'0.25em'">
            <mat-icon>search</mat-icon>
        </button>
        <input matInput type="text" [(ngModel)]="searchInput">
        <button mat-icon-button matSuffix (click)="searchInput = ''" *ngIf="searchInput">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <span class="flex-basis-auto flex-grow-1 flex-shrink-1"></span>
    <button mat-icon-button class="mx-50" [matTooltip]="'Mobile'" [matTooltipPosition]="'below'"
        [matTooltipClass]="'bg-share'" [matMenuTriggerFor]="qrcodeMenu">
        <mat-icon>device_hub</mat-icon>
    </button>
    <button mat-icon-button class="mx-50" [matTooltip]="'Livestream'" [matTooltipPosition]="'below'"
        [matTooltipClass]="'bg-share'" [matMenuTriggerFor]="streamMenu">
        <mat-icon>stream</mat-icon>
    </button>
    <app-widgets-notice></app-widgets-notice>
    <app-widgets-avatar></app-widgets-avatar>
</mat-toolbar>
<mat-sidenav-container autosize class="v-fill" #container>
    <mat-sidenav [mode]="checked ? 'over' : 'side'" [opened]="!checked"
        [style.min-width]="checked ? '240px' : flag ? '240px' : 'auto'"
        [style.max-width]="checked ? '240px' : flag ? '240px' : 'auto'" #overlay>
        <mat-nav-list>
            <ng-container [ngTemplateOutlet]="checked ? openedTemplate : flag ? openedTemplate : closedTemplate"
                [ngTemplateOutletContext]="checked ? { $implicit: longList} : flag ? { $implicit: longList} : { $implicit: shortList}">
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="scroll-share" [style.height]="height + 'px'" #content>
        <router-outlet></router-outlet>
        <div class="float-box display-flex flex-column justify-content-center">
            <button mat-fab color="accent" [matTooltip]="'Online Service'" [matTooltipPosition]="'left'"
                [matTooltipClass]="'bg-share'" (click)="handleChatServiceEvent($event)">
                <mat-icon [style.transform]="'scale(1.5)'">support_agent</mat-icon>
            </button>
            <button mat-fab color="accent" class="my-100" [matTooltip]="'Scroll to Top'" [matTooltipClass]="'bg-share'"
                [matTooltipPosition]="'left'" (click)="handleScrollTopEvent($event)">
                <mat-icon [style.transform]="'scale(1.5)'">vertical_align_top</mat-icon>
            </button>
            <button mat-fab color="accent" [matTooltip]="'Scroll to Bottom'" [matTooltipClass]="'bg-share'"
                [matTooltipPosition]="'left'" (click)="handleScrollBottomEvent($event)">
                <mat-icon [style.transform]="'scale(1.5)'">vertical_align_bottom</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #openedTemplate let-entities>
    <ng-container *ngFor="let entity of entities">
        <h3 matSubheader *ngIf="!entity.flag">{{entity.name}}</h3>
        <a mat-list-item [routerLink]="link.link" [routerLinkActive]="['bg-pshare']" [routerLinkActiveOptions]="{exact:
            true}" *ngFor="let link of entity.list">
            <mat-icon matListIcon [style.margin-right]="'0.5em'">{{link.icon}}</mat-icon>
            {{link.name}}
        </a>
        <mat-divider *ngIf="entity.flag"></mat-divider>
    </ng-container>
    <mat-divider></mat-divider>
    <a mat-list-item href="https://angular.io/" target="_blank">
        <img [src]="'assets/images/logo-short.png'" alt="" width="24">
        <span class="ml-50">Angular Website</span>
    </a>
    <a mat-list-item href="https://material.angular.io/" target="_blank">
        <img [src]="'assets/images/logo-short.png'" alt="" width="24">
        <span class="ml-50">Material Website</span>
    </a>
    <p class="mat-body-2 px-150">&copy;2021&nbsp;&nbsp;MrFengShui&nbsp;&nbsp;Copyright All Reserved</p>
</ng-template>
<ng-template #closedTemplate let-entities>
    <ng-container *ngFor="let entity of entities">
        <a mat-list-item [matTooltip]="link.name" [routerLinkActive]="['bg-pshare']" [routerLinkActiveOptions]="{exact:
            true}" [matTooltipPosition]="'right'" [matTooltipClass]="'bg-share'" [routerLink]="link.link"
            *ngFor="let link of entity.list">
            <mat-icon matListIcon>{{link.icon}}</mat-icon>
        </a>
        <mat-divider *ngIf="entity.flag"></mat-divider>
    </ng-container>
</ng-template>
<mat-menu class="popup-menu-auto" #qrcodeMenu="matMenu">
    <div class="display-flex">
        <mat-card class="mat-elevation-z0">
            <mat-card-title-group>
                <img mat-card-lg-image [src]="'assets/images/qr-code.png'" alt="" />
            </mat-card-title-group>
            <mat-card-content class="display-flex justify-content-center align-items-center my-50">
                <mat-icon class="mr-50">tablet_mac</mat-icon>
                iPad
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0">
            <mat-card-title-group>
                <img mat-card-lg-image [src]="'assets/images/qr-code.png'" alt="" />
            </mat-card-title-group>
            <mat-card-content class="display-flex justify-content-center align-items-center my-50">
                <mat-icon class="mr-50">phone_iphone</mat-icon>
                iPhone
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="display-flex">
        <mat-card class="mat-elevation-z0">
            <mat-card-title-group>
                <img mat-card-lg-image [src]="'assets/images/qr-code.png'" alt="" />
            </mat-card-title-group>
            <mat-card-content class="display-flex justify-content-center align-items-center my-50">
                <mat-icon class="mr-50">tablet_android</mat-icon>
                Android Tablet
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0">
            <mat-card-title-group>
                <img mat-card-lg-image [src]="'assets/images/qr-code.png'" alt="" />
            </mat-card-title-group>
            <mat-card-content class="display-flex justify-content-center align-items-center my-50">
                <mat-icon class="mr-50">phone_android</mat-icon>
                Android Phone
            </mat-card-content>
        </mat-card>
    </div>
</mat-menu>
<mat-menu #streamMenu="matMenu">
    <a mat-menu-item [routerLink]="['/home', 'live', 'audio']">
        <mat-icon>album</mat-icon>
        Create Audio Live
    </a>
    <a mat-menu-item [routerLink]="['/home', 'live', 'video']">
        <mat-icon>video_call</mat-icon>
        Create Video Live
    </a>
</mat-menu>