.v-fill {
    min-height: calc(100% - 64px);
    max-height: calc(100% - 64px);
}

.float-box {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
}

.mat-menu-item {
    height: 100%;
    line-height: normal;

    img {
        border-style: solid;
        border-width: normal;
    }
}

.audio-layout,
.video-layout {
    grid-template-columns: 60% 40%;
    gap: 0.5em;

    .section-title {
        border-radius: 4px 4px 0 0;
    }

    .audio-listview,
    .video-listview {
        border-radius: 0;
        min-width: 280px;
        max-width: 280px;
    }
}
