@use "../palette.theme" as pale;
@use "../octopus.theme" as octo;

$primary: pale.$purple;
$accent: pale.$orange;
$success: pale.$green;
$warning: pale.$yellow;
$failure: pale.$red;

$dark-theme: pale.create-dark-theme($primary, $accent, $success, $warning, $failure);
$light-theme: pale.create-light-theme($primary, $accent, $success, $warning, $failure);

.global-theme {
    &.theme-dark-default {
        @include octo.octopus-renderer-theme($dark-theme);
    }

    &.theme-light-default {
        @include octo.octopus-renderer-theme($light-theme);
    }
}
