<octopus-snippet [path]="PATH" [names]="CASE_1_NAMES" subject="Octopus Buttons">
    <octopus-demo-button-case1></octopus-demo-button-case1>
</octopus-snippet>
<octopus-snippet [path]="PATH" [names]="CASE_2_NAMES" subject="Octopus Solid Buttons">
    <octopus-demo-button-case2></octopus-demo-button-case2>
</octopus-snippet>
<octopus-snippet [path]="PATH" [names]="CASE_3_NAMES" subject="Octopus Stroked Buttons">
    <octopus-demo-button-case3></octopus-demo-button-case3>
</octopus-snippet>
<octopus-snippet [path]="PATH" [names]="CASE_4_NAMES" subject="Octopus Icon Buttons">
    <octopus-demo-button-case4></octopus-demo-button-case4>
</octopus-snippet>
<octopus-snippet [path]="PATH" [names]="CASE_5_NAMES" subject="Octopus Scroll Buttons">
    <octopus-demo-button-case5></octopus-demo-button-case5>
</octopus-snippet>
