.demo-section {
    .demo-section-wrapper {
        .section-head {
            border-radius: 3px 3px 0 0;
            border-style: solid;
            border-width: 1px 1px 0;
            display: flex;
            align-items: center;
            padding: 1rem 1rem 0.5rem;

            .control {
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
            }
        }

        .section-body {
            border-style: solid;
            border-width: 0 1px;
            padding: 0 1rem;
        }

        .section-foot {
            border-radius: 0 0 3px 3px;
            border-style: solid;
            border-width: 0 1px 1px;
            padding: 0.5rem 1rem 1rem;
        }

        .d-flex {
            &.halign {
                > :nth-child(n) {
                    margin: 0 0.25rem;
                }

                > :first-child {
                    margin-left: 0;
                }

                > :last-child {
                    margin-right: 0;
                }
            }

            &.valign {
                > :nth-child(n) {
                    margin: 0.25rem 0;
                }

                > :first-child {
                    margin-top: 0;
                }

                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.demo-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 15rem));
    gap: 1rem;
    place-items: center;

    a {
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        font-family: system-ui;
        text-decoration: none;

        .box {
            padding: 0.5rem;

            .subject {
                font-size: 0.75rem;
                font-weight: bold;
            }

            .description {
                font-size: 0.5rem;
            }
        }
    }
}

@mixin demo-mixin($foreground) {
    .demo-section {
        .section-head,
        .section-body,
        .section-foot {
            border-color: rgba($foreground, 0.25);
        }
    }

    .demo-block {
        a {
            border-color: $foreground;
            color: $foreground;

            .box {
                background-color: darken($foreground, 80%);
            }
        }
    }
}
