.octopus-checkbox {
    .octopus-checkbox-wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;

        .material-icons {
            transition: color 250ms linear;
        }
    }

    &.before {
        .octopus-checkbox-wrapper {
            flex-direction: row-reverse;

            .octopus-checkbox-content {
                margin-right: 0.25rem;
            }
        }
    }

    &.after {
        .octopus-checkbox-wrapper {
            flex-direction: row;

            .octopus-checkbox-content {
                margin-left: 0.25rem;
            }
        }
    }
}

@mixin checkbox-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground) {
    $color-list: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "failure": $failure,
        "info": $info,
    );
    .octopus-checkbox {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-checkbox {
                $color: map-get($value, "value");

                .octopus-checkbox-wrapper {
                    .material-icons {
                        color: $foreground;

                        &.active {
                            color: $color !important;
                        }
                    }
                }
            }
        }
    }
}
