.octopus-form-field {
    .octopus-form-field-wrapper {
        box-sizing: border-box;
        margin: 0.5rem 0 0;
        padding: 0.5rem 0 0;
        position: relative;

        .octopus-form-label {
            display: flex;
            align-items: center;
            padding: 0.25rem;
            white-space: nowrap;

            > :nth-child(n) {
                font-size: 0.75rem;
                margin: 0 0.25rem;
            }

            > :first-child {
                margin-left: 0;
            }

            > :last-child {
                margin-right: 0;
            }
        }

        .octopus-form-field-frame {
            display: flex;
            position: absolute;
            inset: 0;
            z-index: -5;

            .frame-left {
                box-sizing: border-box;
                transition: border-width 250ms ease-in-out;
            }

            .frame-center {
                box-sizing: border-box;
                position: relative;
                transition: border-width 250ms ease-in-out;
                width: fit-content;

                .octopus-form-label {
                    position: relative;
                    transform: translateY(-50%);
                    z-index: 10;
                }
            }

            .frame-right {
                box-sizing: border-box;
                transition: border-width 250ms ease-in-out;
                width: 100%;
            }
        }
    }

    &.octopus-standard-form-field {
        .octopus-form-field-frame {
            .frame-left {
                border-radius: 0;
                border-style: solid;
                border-width: 0 0 1px;
                width: auto;
            }

            .frame-center {
                border-radius: 0;
                border-style: solid;
                border-width: 0 0 1px;
            }

            .frame-right {
                border-radius: 0;
                border-style: solid;
                border-width: 0 0 1px;
            }
        }

        &:hover,
        &:focus-within {
            .octopus-form-field-frame {
                .frame-left {
                    border-width: 0 0 2px;
                }

                .frame-center {
                    border-width: 0 0 2px;
                }

                .frame-right {
                    border-width: 0 0 2px;
                }
            }
        }

        .octopus-form-field-input {
            padding: 0.5rem 0;
        }
    }

    &.octopus-outline-form-field {
        .octopus-form-field-frame {
            .frame-left {
                border-radius: 3px 0 0 3px;
                border-style: solid;
                border-width: 1px 0 1px 1px;
                width: 0.5rem;
            }

            .frame-center {
                border-radius: 0;
                border-style: solid;
                border-width: 0 0 1px 0;
            }

            .frame-right {
                border-radius: 0 3px 3px 0;
                border-style: solid;
                border-width: 1px 1px 1px 0;
            }
        }

        &:hover,
        &:focus-within {
            .octopus-form-field-frame {
                .frame-left {
                    border-width: 2px 0 2px 2px;
                }

                .frame-center {
                    border-width: 0 0 2px 0;
                }

                .frame-right {
                    border-width: 2px 2px 2px 0;
                }
            }
        }

        .octopus-form-field-input {
            padding: 0.5rem;
        }
    }

    .octopus-form-field-tip {
        margin: 0.25rem 0 0;
        padding: 0 0.5rem;
    }
}

@mixin field-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground) {
    $color-list: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "failure": $failure,
        "info": $info,
    );
    $state-list: (
        "success": $success,
        "warning": $warning,
        "error": $failure,
    );
    .octopus-form-field {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-form-field {
                $color: map-get($value, "value");
                &.active,
                &:focus-within {
                    .octopus-form-field-frame {
                        .frame-left,
                        .frame-center,
                        .frame-right {
                            border-color: $color;
                        }

                        .octopus-form-label {
                            color: $color;
                        }
                    }

                    .octopus-form-field-tip {
                        @each $state-name, $state-value in $state-list {
                            .octopus-#{$state-name}-form-tip {
                                color: map-get($state-value, "value");
                            }
                        }

                        .octopus-hint-form-tip {
                            color: $color;
                        }
                    }
                }
            }
        }

        color: $foreground;
    }
}
