.octopus-radio-button {
    .octopus-radio-button-wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;

        .material-icons {
            transition: color 250ms linear;
        }
    }

    &.before {
        .octopus-radio-button-wrapper {
            flex-direction: row-reverse;

            .octopus-radio-button-content {
                margin-right: 0.25rem;
            }
        }
    }

    &.after {
        .octopus-radio-button-wrapper {
            flex-direction: row;

            .octopus-radio-button-content {
                margin-left: 0.25rem;
            }
        }
    }
}

.octopus-radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .octopus-radio-button {
        margin: 0.25rem;
    }
}

@mixin radiobutton-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground) {
    $color-list: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "failure": $failure,
        "info": $info,
    );
    .octopus-radio-button {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-radio-button {
                $color: map-get($value, "value");

                .material-icons {
                    color: $foreground;

                    &.active {
                        color: $color !important;
                    }
                }
            }
        }

        color: $foreground;
    }
}
