.octopus-select {
    .octopus-select-wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: inherit;
        height: inherit;
    }
}

.octopus-select-option {
    .octopus-select-option-wrapper {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
}

@mixin select-mixin($foreground, $background) {
    .octopus-select {
        color: $foreground;
    }

    .octopus-select-overlay {
        background-color: map-get($background, "popup");

        .octopus-select-option {
            .octopus-select-option-wrapper {
                &:hover {
                    background-color: rgba(map-get($background, "popup"), 0.75);
                }
            }
        }
    }
}
