<div class="d-flex flex-column">
    <h1 class="text-base">Checkbox</h1>
    <div class="d-flex justify-content-between">
        <octopus-checkbox color="primary">Primary Checkbox</octopus-checkbox>
        <octopus-checkbox color="secondary">Secdonary Checkbox</octopus-checkbox>
        <octopus-checkbox color="success">Success Checkbox</octopus-checkbox>
        <octopus-checkbox color="warning">Warning Checkbox</octopus-checkbox>
        <octopus-checkbox color="failure">Failure Checkbox</octopus-checkbox>
        <octopus-checkbox color="info">Info Checkbox</octopus-checkbox>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <octopus-checkbox [color]="tree.color" [selected]="allChecked" [indeterminated]="someComplete()"
                (selectedChange)="setAll($event)">{{tree.text}}</octopus-checkbox>
            <div class="d-flex flex-column pl-100">
                <octopus-checkbox [color]="child.color" [(ngModel)]="child.checked"
                    (ngModelChange)="updateAllComplete()" *ngFor="let child of tree.children">
                    {{child.text}}
                </octopus-checkbox>
            </div>
        </div>
    </div>
</div>