<octopus-select class="w-25" [(ngModel)]="select">
    <octopus-select-option>None</octopus-select-option>
    <octopus-select-option value="facebook">
        <div class="d-grid w-100" style="grid-template-columns: auto 1fr 1fr;gap: 0.25rem;">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/1_social-512.png" alt="" width="32"
                height="32" style="grid-column: 1 / 2;grid-row: 1 / 3;">
            <span style="font-size: 0.75rem;grid-column: 2 / 4; grid-row: 1 / 2;">Facebook</span>
            <span class="text-truncate" style="font-size: 0.5rem;grid-column: 2 / 3;grid-row: 2 / 3;">Facebook
                Account</span>
            <span style="font-size: 0.5rem;grid-column: 3 / 4;grid-row: 2 / 3;">Text Two</span>
        </div>
    </octopus-select-option>
    <octopus-select-option value="twitter">
        <div class="d-grid w-100" style="grid-template-columns: auto 1fr 1fr;gap: 0.25rem;">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/2_social-512.png" alt="" width="32"
                height="32" style="grid-column: 1 / 2;grid-row: 1 / 3;">
            <span style="font-size: 0.75rem;grid-column: 2 / 4; grid-row: 1 / 2;">Twitter</span>
            <span class="text-truncate" style="font-size: 0.5rem;grid-column: 2 / 3;grid-row: 2 / 3;">Twitter
                Account</span>
            <span style="font-size: 0.5rem;grid-column: 3 / 4;grid-row: 2 / 3;">Text Two</span>
        </div>
    </octopus-select-option>
    <octopus-select-option value="instagram">
        <div class="d-grid w-100" style="grid-template-columns: auto 1fr 1fr;gap: 0.25rem;">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/25_social-512.png" alt="" width="32"
                height="32" style="grid-column: 1 / 2;grid-row: 1 / 3;">
            <span style="font-size: 0.75rem;grid-column: 2 / 4; grid-row: 1 / 2;">Instagram</span>
            <span class="text-truncate" style="font-size: 0.5rem;grid-column: 2 / 3;grid-row: 2 / 3;">Instagram
                Accound</span>
            <span style="font-size: 0.5rem;grid-column: 3 / 4;grid-row: 2 / 3;">Text Two</span>
        </div>
    </octopus-select-option>
    <octopus-select-option value="youtube">
        <div class="d-grid w-100" style="grid-template-columns: auto 1fr 1fr;gap: 0.25rem;">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/6_social-512.png" alt="" width="32"
                height="32" style="grid-column: 1 / 2;grid-row: 1 / 3;">
            <span style="font-size: 0.75rem;grid-column: 2 / 4; grid-row: 1 / 2;">YouTube</span>
            <span class="text-truncate" style="font-size: 0.5rem;grid-column: 2 / 3;grid-row: 2 / 3;">YouTube
                Account</span>
            <span style="font-size: 0.5rem;grid-column: 3 / 4;grid-row: 2 / 3;">Text Two</span>
        </div>
    </octopus-select-option>
</octopus-select>