<mat-card class="mat-elevation-z0">
    <mat-card-title-group>
        <span mat-card-sm-image class="bg-share mat-elevation-z8 border-radius-circle p-100">
            <img [src]="'../../../../assets/images/logo-short.png'" alt="" width="100%">
        </span>
        <mat-card-title>Notification Strategy Title</mat-card-title>
        <mat-card-subtitle class="mt-100">Notification Strategy Subtitle</mat-card-subtitle>
    </mat-card-title-group>
</mat-card>
<mat-divider class="my-100"></mat-divider>
<section>
    <h4 class="mat-subheading-2">Platform Notification</h4>
    <mat-action-list>
        <mat-list-item>
            <span matLine>Enable send notifications of recommendations</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of subscriptions</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of new comments</span>
            <mat-slide-toggle color="aceent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of new replies</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
    </mat-action-list>
</section>
<mat-divider class="my-100"></mat-divider>
<section>
    <h4 class="mat-subheading-2">Email Notification</h4>
    <mat-action-list>
        <mat-list-item>
            <span matLine>Enable send notifications of recommendations</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of subscriptions</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of new comments</span>
            <mat-slide-toggle color="aceent"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <span matLine>Enable send notifications of new replies</span>
            <mat-slide-toggle color="accent"></mat-slide-toggle>
        </mat-list-item>
    </mat-action-list>
</section>