<ngx-sui-alert alertType="success" [alertMessage]="shortText" class="m-100"></ngx-sui-alert>
<ngx-sui-alert alertType="warning" [alertMessage]="shortText" class="m-100"></ngx-sui-alert>
<ngx-sui-alert alertType="failure" [alertMessage]="shortText" class="m-100"></ngx-sui-alert>
<ngx-sui-alert alertType="info" [alertMessage]="shortText" class="m-100"></ngx-sui-alert>
<ngx-sui-tip-alert [alertSubject]="subject" [alertMessage]="shortText + longText" alertType="success" class="m-100"></ngx-sui-tip-alert>
<ngx-sui-tip-alert [alertSubject]="subject" [alertMessage]="shortText + longText" alertType="warning" class="m-100"></ngx-sui-tip-alert>
<ngx-sui-tip-alert [alertSubject]="subject" [alertMessage]="shortText + longText" alertType="failure" class="m-100"></ngx-sui-tip-alert>
<ngx-sui-tip-alert [alertSubject]="subject" [alertMessage]="shortText + longText" alertType="info" class="m-100"></ngx-sui-tip-alert>
