<ngx-sui-breadcrumb>
    <ngx-sui-breadcrumb-item bcIcon="home" bcText="面包屑一"></ngx-sui-breadcrumb-item>
    <ngx-sui-breadcrumb-item bcIcon="dashboard" bcText="面包屑二"></ngx-sui-breadcrumb-item>
    <ngx-sui-breadcrumb-item bcIcon="organization" bcText="面包屑三"></ngx-sui-breadcrumb-item>
</ngx-sui-breadcrumb>
<ngx-sui-breadcrumb bcTextOnly="true">
    <ngx-sui-breadcrumb-item bcIcon="home" bcText="面包屑一"></ngx-sui-breadcrumb-item>
    <ngx-sui-breadcrumb-item bcIcon="dashboard" bcText="面包屑二"></ngx-sui-breadcrumb-item>
    <ngx-sui-breadcrumb-item bcIcon="organization" bcText="面包屑三"></ngx-sui-breadcrumb-item>
</ngx-sui-breadcrumb>