
<div class="flex">
    <div class="flex flex-dir-col gy-100 p-100 w-25">
        <ngx-sui-card>
            <ngx-sui-card-media-block [cardAvatarSrc]="avatar" [cardAvatarAlt]="avatar" [cardTitle]="title" [cardSubtitle]="subtitle">
                <button ngx-sui-Button btnCircled="true" btnIcon="bars" btnIconOnly="true"></button>
            </ngx-sui-card-media-block>
            <ngx-sui-card-action-block>
                <button ngx-sui-SolidButton btnIcon="thumbs-up">点赞</button>
                <span class="flex-auto"></span>
                <button ngx-sui-SolidButton btnIcon="share">分享</button>
                <button ngx-sui-SolidButton btnIcon="favorite">收藏</button>
            </ngx-sui-card-action-block>
            
            <ngx-sui-card-content>{{ paragraphs[0] }}</ngx-sui-card-content>
            <img ngx-sui-CardImage [attr.src]="bgimage" [attr.alt]="bgimage"/>
            <ng-container *ngFor="let paragraph of paragraphs; first as isFirst">
                <ngx-sui-card-content *ngIf="!isFirst">{{ paragraph }}</ngx-sui-card-content>
            </ng-container>
        </ngx-sui-card>
    </div>
    <div class="flex flex-dir-col gy-100 p-100 w-25">
        <ngx-sui-card>
            <img ngx-sui-CardImage [attr.src]="bgimage" [attr.alt]="bgimage"/>
        </ngx-sui-card>
        <ngx-sui-card>
            <ngx-sui-card-media-block [cardAvatarSrc]="avatar" [cardAvatarAlt]="avatar" [cardTitle]="title" [cardSubtitle]="subtitle">
                <button ngx-sui-Button btnCircled="true" btnIcon="bars" btnIconOnly="true"></button>
            </ngx-sui-card-media-block>
            <ngx-sui-card-action-block>
                <button ngx-sui-SolidButton btnIcon="thumbs-up">点赞</button>
                <span class="flex-auto"></span>
                <button ngx-sui-SolidButton btnIcon="share">分享</button>
                <button ngx-sui-SolidButton btnIcon="favorite">收藏</button>
            </ngx-sui-card-action-block>
            
            <ngx-sui-card-content *ngFor="let paragraph of paragraphs; first as isFirst">{{ paragraph }}</ngx-sui-card-content>
        </ngx-sui-card>
    </div>
    <div class="flex flex-dir-col gy-100 p-100 w-25">
        <ngx-sui-card>
            <ngx-sui-card-media-block [cardAvatarSrc]="avatar" [cardAvatarAlt]="avatar" [cardTitle]="title" [cardSubtitle]="subtitle">
                <button ngx-sui-Button btnCircled="true" btnIcon="bars" btnIconOnly="true"></button>
            </ngx-sui-card-media-block>
            <ngx-sui-card-action-block>
                <button ngx-sui-SolidButton btnIcon="thumbs-up">点赞</button>
                <span class="flex-auto"></span>
                <button ngx-sui-SolidButton btnIcon="share">分享</button>
                <button ngx-sui-SolidButton btnIcon="favorite">收藏</button>
            </ngx-sui-card-action-block>
            
            <ngx-sui-card-content>{{ paragraphs[0] }}</ngx-sui-card-content>
            <img ngx-sui-CardImage [attr.src]="bgimage" [attr.alt]="bgimage"/>
        </ngx-sui-card>
    </div>
    <div class="flex flex-dir-col gy-100 w-25">

    </div>
</div>