<ngx-sui-layout>
    <ngx-sui-layout-header [headerLogoIcon]="themeFlag ? LIGHT_MODE_LOGO : DARK_MODE_LOGO" headerLogoHref="http://localhost:5200/ngx-season/" headerShowCtrl="true" [(headerToggled)]="controlToggled">
        <ng-template ngx-sui-LayoutHeaderActions="">
            <button ngx-sui-FlatTextButton [btnIcon]="themeFlag ? 'moon' : 'sun'" btnSize="md" (click)="handleChangeThemeEvent()" (mouseenter)="themeHoverFlag = true" (mouseleave)="themeHoverFlag = false">{{ themeFlag ? '黑夜模式' : '白昼模式' }}</button>
        </ng-template>
    </ngx-sui-layout-header>
    <ngx-sui-layout-content [contentToggled]="controlToggled">
        <ng-template ngx-sui-LayoutContentSide>
            <ngx-sui-navlist>
                <ng-container *ngFor="let item of NAV_META_INFO_LIST; index as idx">
                    <ngx-sui-navlist-section [navSecFoldHref]="item.link" [navSecFolded]="!controlToggled" [navSecFoldIcon]="item.icon" [navSecLabel]="item.text" [navSecExpanded]="checkSectionExpanded(item.nodes) | async" *ngIf="item.type === 'section'">
                        <a ngx-sui-NavListItem [navItemSelected]="checkRouteSelected(node.link) | async" [routerLink]="node.link" *ngFor="let node of item.nodes">{{ node.text }}</a>
                    </ngx-sui-navlist-section>
                    <a ngx-sui-NavListItem [navItemIcon]="item.icon" [navItemSelected]="checkRouteSelected(item.link) | async" [routerLink]="item.link" *ngIf="item.type === 'item'">{{ item.text }}</a>
                </ng-container>
            </ngx-sui-navlist>
        </ng-template>
        <ng-template ngx-sui-LayoutContentArea><router-outlet></router-outlet></ng-template>
    </ngx-sui-layout-content>
    <ngx-sui-layout-footer>
        <div class="flex justify-content-between align-items-center w-100 h-100">
            <span class="fs-16 fw-900">在此进行版权声明&nbsp;&nbsp;&nbsp;&copy;2024-2034</span>
            <button ngx-sui-FlatTextButton btnIcon="calendar" ngx-sui-Popover [olTemp]="template">
                <span class="ml-50">{{ datetime$ | async }}</span>
            </button>
            <ng-template #template>
                <div class="popover-container flex-dir-col row-gap-100">
                    <ngx-sui-calendar caleColor="primary" (caleSelectionChange)="selection = $event"></ngx-sui-calendar>
                    <ngx-sui-calendar-lunar-select [lsModel]="selection" class="pw-384"></ngx-sui-calendar-lunar-select>
                </div>
            </ng-template>
        </div>
    </ngx-sui-layout-footer>
</ngx-sui-layout>
