<ngx-sui-layout>
    <ngx-sui-header [headerLogoIcon]="themeFlag ? LIGHT_MODE_LOGO : DARK_MODE_LOGO" headerLogoHref="http://localhost:5200/ngx-season/" headerShowCtrl="true" [(headerToggled)]="controlToggled">
        <ng-container ngProjectAs="headerActions">
            <button ngx-sui-LinkButton [btnIcon]="themeFlag ? 'moon' : 'sun'" (click)="handleChangeThemeEvent()" (mouseenter)="themeHoverFlag = true" (mouseleave)="themeHoverFlag = false">{{ themeFlag ? '黑夜模式' : '白昼模式' }}</button>
        </ng-container>
    </ngx-sui-header>
    <ngx-sui-content contentSideWidth="256" contentDuration="100" [contentToggled]="controlToggled">
        <ng-container ngProjectAs="contentSide">
            <ngx-sui-navlist>
                <a ngx-sui-NavLink navLinkIcon="success-standard">NavLink 1111111111111111111111111111111111111111111111111</a>
                <a ngx-sui-NavLink navLinkIcon="warning-standard">NavLink 2222222222222222222222222222222222222222222222222</a>
                <a ngx-sui-NavLink navLinkIcon="failure-standard">NavLink 3333333333333333333333333333333333333333333333333</a>
                <a ngx-sui-NavLink navLinkIcon="info-standard" navLinkSelected="true">NavLink 4444444444444444444444444444444444444444444444444</a>
            </ngx-sui-navlist>
        </ng-container>
        <ng-container ngProjectAs="contentArea"><router-outlet></router-outlet></ng-container>
    </ngx-sui-content>
    <ngx-sui-footer></ngx-sui-footer>
</ngx-sui-layout>
