<div class="flex flex-dir-col gy-100 p-100">
    <div class="flex gx-100">
        <span class="flex-auto"></span>
        <label ngx-sui-CheckSwitch [(checkChecked)]="iconSolid" checkLabelPos="before">实心/空心</label>
    </div>
    <ng-container *ngFor="let item of list">
        <div class="fs-24 fw-900">{{ item.label }}</div>
        <ngx-sui-x-divider></ngx-sui-x-divider>
        <div class="grid">
            <a ngx-sui-Ripple rippleScale="50" href="javascript:void(0);" class="inline-flex flex-dir-col align-items-center gy-50 m-100" *ngFor="let name of item.names">
                <ngx-sui-icon [iconShape]="name" [iconSolid]="iconSolid" iconSize="xxxl"></ngx-sui-icon>
                <span class="fs-12 fw-900">{{ name }}</span>
            </a>
        </div>
    </ng-container>
</div>
