<div class="flex gx-100 p-100">
    <ngx-sui-list class="flex-auto">
        <ngx-sui-list-item>列表条目一</ngx-sui-list-item>
        <ngx-sui-list-item>列表条目二</ngx-sui-list-item>
        <ngx-sui-list-item>列表条目三</ngx-sui-list-item>
    </ngx-sui-list>
    <ngx-sui-list class="flex-auto">
        <ng-template ngx-sui-ListHeader>
            <label ngx-sui-CheckBox [checkChecked]="checkAll()" [cbIndeterminated]="checkIndeterminated()" checkLabelPos="before" [checkDisabled]="disabled" (checkCheckedChange)="listenCheckAllChange($event)" class="w-100">列表头部（全选/全不选）</label>
        </ng-template>
        <ng-template ngx-sui-ListFooter>
            <label ngx-sui-CheckBox [(checkChecked)]="disabled" checkLabelPos="before" class="w-100">列表脚部（是否失效）</label>
        </ng-template>
        <ngx-sui-list-check-item itemCheckMark="cross" [itemCheckColor]="item.color" [(itemChecked)]="item.check" [itemCheckDisabled]="disabled" *ngFor="let item of list">{{ item.label }}</ngx-sui-list-check-item>
    </ngx-sui-list>
</div>
<ngx-sui-list class="m-100">
    <ngx-sui-list-meta-item>
        <ng-template ngx-sui-ListItemHeader>
            <div class="flex align-items-center gx-100">
                <ngx-sui-avatar avatarSrc="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png"  avatarAlt="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png" avatarSize="lg"></ngx-sui-avatar>
                <div class="inline-flex flex-dir-col gy-25">
                    <span class="title-3 fw-900">{{ title }}</span>
                    <span class="subtitle-3 fw-700">{{ subtitle }}</span>
                </div>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemContent>{{ contents[0] }}</ng-template>
        <ng-template ngx-sui-ListItemFooter>
            <div class="flex gx-100">
                <button ngx-sui-Button btnIcon="thumbs-up">点赞</button>
                <button ngx-sui-Button btnIcon="thumbs-down">鄙视</button>
                <button ngx-sui-Button btnIcon="favorite">收藏</button>
                <button ngx-sui-Button btnIcon="share">分享</button>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemMedia>
            <img src="https://alioss.yystv.cn/doc/8267/cbc58f6ca0f6b7797edf15366981a599.png_mw680water" alt="" width="100%" height="100%" style="object-fit: contain;"/>
        </ng-template>
    </ngx-sui-list-meta-item>
    <ngx-sui-list-meta-item>
        <ng-template ngx-sui-ListItemHeader>
            <div class="flex align-items-center gx-100">
                <ngx-sui-avatar avatarSrc="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png"  avatarAlt="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png" avatarSize="lg"></ngx-sui-avatar>
                <div class="inline-flex flex-dir-col gy-25">
                    <span class="title-3 fw-900">{{ title }}</span>
                    <span class="subtitle-3 fw-700">{{ subtitle }}</span>
                </div>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemContent>{{ contents[0] }}</ng-template>
        <ng-template ngx-sui-ListItemFooter>
            <div class="flex gx-100">
                <button ngx-sui-Button btnIcon="thumbs-up">点赞</button>
                <button ngx-sui-Button btnIcon="thumbs-down">鄙视</button>
                <button ngx-sui-Button btnIcon="favorite">收藏</button>
                <button ngx-sui-Button btnIcon="share">分享</button>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemMedia>
            <img src="https://alioss.yystv.cn/doc/8267/cbc58f6ca0f6b7797edf15366981a599.png_mw680water" alt="" width="100%" height="100%" style="object-fit: contain;"/>
        </ng-template>
    </ngx-sui-list-meta-item>
    <ngx-sui-list-meta-item>
        <ng-template ngx-sui-ListItemHeader>
            <div class="flex align-items-center gx-100">
                <ngx-sui-avatar avatarSrc="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png"  avatarAlt="https://cdn3.iconfinder.com/data/icons/iconka-buddy-set/128/alien_128.png" avatarSize="lg"></ngx-sui-avatar>
                <div class="inline-flex flex-dir-col gy-25">
                    <span class="title-3 fw-900">{{ title }}</span>
                    <span class="subtitle-3 fw-700">{{ subtitle }}</span>
                </div>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemContent>{{ contents[0] }}</ng-template>
        <ng-template ngx-sui-ListItemFooter>
            <div class="flex gx-100">
                <button ngx-sui-Button btnIcon="thumbs-up">点赞</button>
                <button ngx-sui-Button btnIcon="thumbs-down">鄙视</button>
                <button ngx-sui-Button btnIcon="favorite">收藏</button>
                <button ngx-sui-Button btnIcon="share">分享</button>
            </div>
        </ng-template>
        <ng-template ngx-sui-ListItemMedia>
            <img src="https://alioss.yystv.cn/doc/8267/cbc58f6ca0f6b7797edf15366981a599.png_mw680water" alt="" width="100%" height="100%" style="object-fit: contain;"/>
        </ng-template>
    </ngx-sui-list-meta-item>
</ngx-sui-list>

