<button ngx-sui-SolidTextButton class="m-100" (click)="handleOpenModalEvent()">对话框</button>
<div class="flex gx-100 p-100">
    <button ngx-sui-SolidTextButton (click)="handleOpenModalEvent('sm')">小型对话框</button>
    <button ngx-sui-SolidTextButton (click)="handleOpenModalEvent('md')">中型对话框</button>
    <button ngx-sui-SolidTextButton (click)="handleOpenModalEvent('lg')">大型对话框</button>
    <button ngx-sui-SolidTextButton (click)="handleOpenModalEvent('xl')">特大对话框</button>
    <button ngx-sui-SolidTextButton (click)="handleOpenModalEvent('fs')">全屏对话框</button>
</div>
