<div class="flex flex-dir-col gy-500 p-100">
    <div class="flex justify-content-start gx-100">
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="top">顶部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="bottom">底部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="left">左边显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="right">右边显示</button>
    </div>
    <div class="flex justify-content-center gx-100">
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttShowDelay]="showDelay" [ttHideDelay]="hideDelay" [ttMsg]="message" ttPos="top">顶部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttShowDelay]="showDelay" [ttHideDelay]="hideDelay" [ttMsg]="message" ttPos="bottom">底部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttShowDelay]="showDelay" [ttHideDelay]="hideDelay" [ttMsg]="message" ttPos="left">左边显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttShowDelay]="showDelay" [ttHideDelay]="hideDelay" [ttMsg]="message" ttPos="right">右边显示</button>
    </div>
    <div class="flex justify-content-end gx-100">
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="top">顶部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="bottom">底部显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="left">左边显示</button>
        <button ngx-sui-SolidTextButton ngx-sui-Tooltip [ttMsg]="message" ttPos="right">右边显示</button>
    </div>
</div>