<mat-card class="mat-elevation-z0">
    <mat-card-title-group>
        <span mat-card-sm-image class="bg-share mat-elevation-z8 border-radius-circle p-100">
            <img [src]="'../../../../assets/images/logo-short.png'" alt="" width="100%">
        </span>
        <mat-card-title>Security Update Title</mat-card-title>
        <mat-card-subtitle class="mt-100">Security Update Subtitle</mat-card-subtitle>
    </mat-card-title-group>
</mat-card>
<mat-divider class="my-100"></mat-divider>
<section>
    <h4 class="mat-subheading-2">Update Password</h4>
    <form class="flex-grow-1 flex-shrink-1 flex-basis-auto">
        <mat-form-field class="w-100" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="oldVisible ? 'text' : 'password'" placeholder="Enter your current password">
            <mat-icon color="accent" matSuffix (click)="oldVisible = !oldVisible" [style.cursor]="'pointer'">
                {{oldVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">Hint: Current password is required.</mat-hint>
        </mat-form-field>
        <mat-divider class="my-200"></mat-divider>
        <mat-form-field class="w-100 mb-50" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>New Password</mat-label>
            <input matInput [type]="newVisible ? 'text' : 'password'" placeholder="Enter your new password">
            <mat-icon color="accent" matSuffix (click)="newVisible = !newVisible" [style.cursor]="'pointer'">
                {{newVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">Hint: New password is required.</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-100 mt-50" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>Re-New Password</mat-label>
            <input matInput [type]="safeVisible ? 'text' : 'password'" placeholder="Enter your password again">
            <mat-icon color="accent" matSuffix (click)="safeVisible = !safeVisible" [style.cursor]="'pointer'">
                {{safeVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">Hint: Re-New Password is required.</mat-hint>
        </mat-form-field>
    </form>
    <div class="display-flex justify-content-space-between mt-200">
        <button mat-raised-button color="accent" [style.width]="'128px'">Reset</button>
        <button mat-raised-button color="primary" [style.width]="'128px'">Update</button>
    </div>
</section>
<mat-divider class="my-100"></mat-divider>
<section>
    <h4 class="mat-subheading-2">Update Email</h4>
    <form class="flex-grow-1 flex-shrink-1 flex-basis-auto">
        <mat-form-field class="w-100" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>Current Email</mat-label>
            <input matInput [type]="'email'" placeholder="Enter your current email">
            <mat-hint align="end">Hint: Current email is required.</mat-hint>
        </mat-form-field>
        <mat-divider class="my-200"></mat-divider>
        <mat-form-field class="w-100 mb-50" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>New Email</mat-label>
            <input matInput [type]="'email'" placeholder="Enter your new email">
            <mat-hint align="end">Hint: New email is required.</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-100 mt-50" [hintLabel]="''" [appearance]="'outline'">
            <mat-label>Verified Code</mat-label>
            <input matInput [type]="'text'" placeholder="Enter your email again">
            <mat-hint align="end">Hint: Verified code is required.</mat-hint>
        </mat-form-field>
    </form>
    <div class="display-flex justify-content-space-between mt-200">
        <button mat-raised-button color="accent" [style.width]="'128px'">Reset</button>
        <button mat-raised-button color="primary" [style.width]="'128px'">Update</button>
    </div>
</section>