$list: auto, hidden;

@each $item in $list {
    .overflow-#{$item} {
        overflow: $item;
    }

    .overflow-x-#{$item} {
        overflow-x: $item;
    }

    .overflow-y-#{$item} {
        overflow-y: $item;
    }
}

.overflow {
    &::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.25rem;
        visibility: hidden;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.octopus-dialog {
    .octopus-dialog-content {
        .octopus-dialog-content-wrapper {
            &::-webkit-scrollbar {
                width: 0.75rem;
                height: 0.75rem;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }
    }
}

@mixin overflow-mixin($foreground, $background) {
    .overflow {
        $color: map-get($background, "overflow");

        &::-webkit-scrollbar-thumb {
            background-color: lighten($color, 25%);

            &:hover {
                background-color: lighten($color, 12.5%);
            }
        }
    }

    .octopus-dialog {
        .octopus-dialog-content {
            .octopus-dialog-content-wrapper {
                $color: map-get($background, "overflow");

                &::-webkit-scrollbar-thumb {
                    background-color: lighten($color, 25%);

                    &:hover {
                        background-color: lighten($color, 12.5%);
                    }
                }
            }
        }
    }
}
