@mixin octopus-typography-mixin($typography) {
    $text-list: "display-1", "display-2", "display-3", "display-4", "display-5", "display-6", "headline", "title",
        "subtitle", "heading-1", "heading-2", "heading-3", "heading-4", "heading-5", "heading-6", "paragraph", "caption";

    @each $item in $text-list {
        $target-list: ("heading-1", "heading-2", "heading-3", "heading-4", "heading-5", "heading-6");
        @each $target in $target-list {
            @if str-index($item, $target) == 1 {
                $index: index($target-list, $target);
                h#{$index} {
                    $property: map-get($typography, $target);
                    font-family: map-get($property, "family");
                    font-size: map-get($property, "size");
                    font-weight: map-get($property, "weight");
                    line-height: map-get($property, "height");
                    letter-spacing: map-get($property, "space");
                }
            }
        }

        .octopus-#{$item} {
            $property: map-get($typography, $item);
            font-family: map-get($property, "family");
            font-size: map-get($property, "size");
            font-weight: map-get($property, "weight");
            line-height: map-get($property, "height");
            letter-spacing: map-get($property, "space");

            @if str-index($item, "display") == 1 {
                margin: 1.5rem 0;
            } @else if str-index($item, "heading") == 1 {
                margin: 1rem 0;
            } @else {
                margin: 0;
                margin-bottom: 0.75rem;
            }
        }
    }

    $component-list: "badge", "breadcrumb", "button", "calendar", "card", "card-title", "card-subtitle", "carousel",
        "carousel-addon", "carousel-content", "carousel-subject", "carousel-description", "checkbox", "chip", "detail",
        "dialog", "divider", "expansion-subject", "expansion-description", "expansion-panel-content", "file-picker",
        "form-label", "form-tip", "select-list-item", "list-item", "list-item-title", "list-item-subtitle",
        "list-item-duration", "list-item-content", "nav-list-item", "list-headline", "paginator", "picker", "progress",
        "radio-button", "select", "select-option", "stepper", "tabbed-control-tab", "tabbed-content", "toast",
        "toast-subject", "toast-description", "toggle-button", "toggle-switch", "tooltip-container";

    @each $item in $component-list {
        .octopus-#{$item} {
            $property: map-get($typography, $item);
            font-family: map-get($property, "family");
            font-size: map-get($property, "size");
            font-weight: map-get($property, "weight");
            line-height: map-get($property, "height");
            letter-spacing: map-get($property, "space");
        }
    }
}
