<div class="d-flex flex-column">
    <h1 class="text-base">Dialog</h1>
    <div class="demo-list">
        <button octopus-fill-button color="primary" class="demo-list-item"
            (click)="handleDialogActionEvent('center-center')" style="width: 100%;">Center Position</button>
        <button octopus-fill-button color="primary" class="demo-list-item" (click)="handleDialogActionEvent('top-left')"
            style="width: 100%;">Top Left Position</button>
        <button octopus-fill-button color="primary" class="demo-list-item"
            (click)="handleDialogActionEvent('top-right')" style="width: 100%;">Top Right Position</button>
        <button octopus-fill-button color="primary" class="demo-list-item"
            (click)="handleDialogActionEvent('bottom-left')" style="width: 100%;">Bottom Left Position</button>
        <button octopus-fill-button color="primary" class="demo-list-item"
            (click)="handleDialogActionEvent('bottom-right')" style="width: 100%;">Bottom Right Position</button>
    </div>
</div>