$size-list: (
    extra: 4rem,
    large: 3rem,
    medium: 2.25rem,
    small: 1.5rem,
);

.octopus-avatar {
    &.octopus-square-avatar {
        border-radius: 3px;
    }

    &.octopus-circle-avatar {
        border-radius: 50%;
    }

    @each $name, $value in $size-list {
        &.octopus-#{$name}-avatar {
            width: #{$value};
            height: #{$value};
        }
    }
}

@mixin avatar-mixin($foreground) {
    .octopus-avatar {
        background-color: rgba($foreground, 0.125);

        &.shadow {
            box-shadow: 0 0 8px 2px rgba($foreground, 0.125);
        }
    }
}
