.octopus-badge {
    position: absolute;
    z-index: 10;

    &.octopus-dot-badge {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }

    &.octopus-text-badge {
        border-radius: 9999rem;
        font-size: 0.5rem;
        padding: 0.25rem;
        width: fit-content;
        height: fit-content;
    }

    &.hidden {
        visibility: hidden !important;
    }
}

@mixin badge-mixin($failure) {
    .octopus-badge {
        background-color: map-get($failure, "value");
        color: map-get($failure, "text");
    }
}
