.octopus-badge {
    border-radius: 9999rem;
    padding: 0.25rem;
    position: absolute;
    z-index: 5;
    width: fit-content;
    height: fit-content;
}

@mixin badge-mixin($primary, $secondary, $success, $warning, $failure, $info) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
    );
    .octopus-badge {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-badge {
                background-color: map-get($value, "value");
                color: map-get($value, "text");
            }
        }
    }
}
