.octopus-breadcrumb {
    .octopus-breadcrumb-wrapper {
        display: flex;
        align-items: center;
        height: inherit;

        .octopus-breadcrumb-anchor {
            display: flex;
            align-items: center;
            max-width: 12.5rem;
            padding: 0.25rem 0.75rem;
            user-select: none;

            .octopus-icon {
                margin-right: 0.5rem;
            }

            &.labeled {
                cursor: pointer;
            }
        }
    }
}

@mixin breadcrumb-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $foreground,
    );
    .octopus-breadcrumb {
        .octopus-breadcrumb-anchor {
            @each $name, $value in $color-list {
                &.octopus-#{$name}-breadcrumb-anchor {
                    @if $name == "base" {
                        color: $value;

                        .octopus-icon {
                            background-color: rgba($value, 0.25);
                        }

                        &.labeled {
                            &:hover {
                                background-color: rgba($value, 0.125);
                            }
                        }
                    } @else {
                        $color: map-get($value, "value");
                        color: $color;

                        .octopus-icon {
                            background-color: rgba($color, 0.25);
                        }

                        &.labeled {
                            &:hover {
                                background-color: rgba($color, 0.125);
                            }
                        }
                    }
                }
            }
        }
    }
}
