.octopus-button {
    background: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    outline: none;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;

    &.octopus-outline-button {
        border-width: 2px;
        border-style: solid;
        box-sizing: border-box;
    }

    &.octopus-icon-button {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;

        .octopus-icon,
        .material-icon {
            font-size: calc(4rem - 0.75rem * 2);
        }

        .icon {
            width: calc(4rem - 0.75rem * 2);
            height: calc(4rem - 0.75rem * 2);
        }
    }

    &.octopus-mix-button {
        $size: calc(3rem + 1rem + 1.5rem * 2 + 2px);
        box-sizing: border-box;
        flex-direction: column;
        width: $size;
        height: $size;

        hr {
            border-style: solid;
            margin: auto 0;
            width: 100%;
        }

        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    .octopus-button-ripple {
        position: absolute;
        inset: 0;
    }
}

.octopus-scroll-button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.octopus-scroll-button {
    overflow: hidden;
    position: fixed;
    padding: 1rem;
    z-index: 100;

    .octopus-button-ripple {
        position: absolute;
        inset: 0;
    }

    &.octopus-square-scroll-button {
        border-radius: 3px;
    }

    &.octopus-circle-scroll-button {
        border-radius: 50%;
    }
}

.octopus-button-group {
    display: flex;
    width: fit-content;

    &.octopus-horizontal-group {
        flex-direction: row;

        .octopus-fill-button,
        .octopus-outline-button {
            width: 100%;

            &:nth-child(n) {
                border-radius: 0;
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }

            &:last-child {
                border-radius: 0 3px 3px 0;
            }
        }

        .octopus-outline-button {
            &:nth-child(n) {
                border-width: 2px 1px;
            }

            &:first-child {
                border-width: 2px 1px 2px 2px;
            }

            &:last-child {
                border-width: 2px 2px 2px 1px;
            }
        }
    }

    &.octopus-vertical-group {
        flex-direction: column;

        .octopus-fill-button,
        .octopus-outline-button {
            width: 100%;

            &:nth-child(n) {
                border-radius: 0;
            }

            &:first-child {
                border-radius: 3px 3px 0 0;
            }

            &:last-child {
                border-radius: 0 0 3px 3px;
            }
        }

        .octopus-outline-button {
            &:nth-child(n) {
                border-width: 1px 2px;
            }

            &:first-child {
                border-width: 2px 2px 1px 2px;
            }

            &:last-child {
                border-width: 1px 2px 2px 2px;
            }
        }
    }
}

@mixin button-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );
    .octopus-button {
        &:disabled {
            opacity: 0.5;
        }

        @each $name, $value in $color-list {
            &.octopus-#{$name}-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    color: $foreground;

                    &:hover {
                        background-color: lighten($color, 2.5%);
                    }
                } @else {
                    $color: map-get($value, "value");
                    color: $color;

                    &:hover {
                        background-color: rgba($color, 0.15);
                    }
                }
            }

            &.octopus-#{$name}-fill-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    background-color: lighten($color, 15%);

                    &:hover {
                        background-color: lighten($color, 7.5%);
                    }
                } @else {
                    $color: map-get($value, "value");
                    background-color: $color;

                    &:hover {
                        background-color: rgba($color, 0.85);
                    }
                }
            }

            &.octopus-#{$name}-outline-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    border-color: lighten($color, 15%);
                    color: lighten($color, 15%);

                    &:hover {
                        background-color: lighten($color, 7.5%);
                        color: $foreground;
                    }
                } @else {
                    $color: map-get($value, "value");
                    border-color: $color;
                    color: $color;

                    &:hover {
                        background-color: lighten($color, 10%);
                        color: lighten($color, 50%);
                    }
                }
            }

            &.octopus-#{$name}-icon-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    background-color: rgba($color, 0.025);
                    color: $foreground;

                    &:hover {
                        background-color: lighten($color, 10%);
                    }
                } @else {
                    $color: map-get($value, "value");
                    background-color: rgba($color, 0.025);
                    color: $color;

                    .octopus-icon {
                        color: $color;
                    }

                    &:hover {
                        background-color: lighten($color, 10%);

                        .octopus-icon {
                            color: $foreground;
                        }
                    }
                }
            }

            &.octopus-#{$name}-mix-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    background-color: rgba($color, 0.025);
                    color: $foreground;

                    hr {
                        border-color: $foreground;
                    }

                    &:hover {
                        background-color: lighten($color, 10%);

                        hr {
                            border-color: lighten($foreground, 10%);
                        }
                    }
                } @else {
                    $color: map-get($value, "value");
                    background-color: rgba($color, 0.025);
                    color: $color;

                    .octopus-icon {
                        color: $color;
                    }

                    hr {
                        border-color: $color;
                    }

                    &:hover {
                        background-color: lighten($color, 10%);
                        color: $foreground;

                        .octopus-icon {
                            color: $foreground;
                        }

                        hr {
                            border-color: $foreground;
                        }
                    }
                }
            }
        }

        color: $foreground;
    }

    .octopus-scroll-button {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-scroll-button {
                @if $name == "base" {
                    $color: map-get($value, "button");
                    background-color: lighten($color, 15%);

                    &:hover {
                        background-color: lighten($color, 7.5%);
                    }
                } @else {
                    $color: map-get($value, "value");
                    background-color: $color;

                    &:hover {
                        background-color: rgba($color, 0.75);
                    }
                }
            }
        }

        color: $foreground;
    }
}
