.octopus-card {
    .octopus-card-wrapper {
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        .octopus-card-header {
            border-style: solid;
            border-width: 0 0 1px;
            box-sizing: border-box;
            margin: 0 -0.5rem 0;
            padding: 0 0.5rem 0.5rem;
            width: calc(100% + 0.5rem * 2);

            .octopus-card-header-wrapper {
                display: flex;
                align-items: center;
            }
        }

        .octopus-card-media {
            box-sizing: border-box;
            margin: 0 -0.5rem !important;
            width: calc(100% + 0.5rem * 2);

            .octopus-card-media-wrapper {
                display: flex;
            }
        }

        .octopus-card-content {
            box-sizing: border-box;
            margin: 0 0;
        }

        .octopus-card-footer {
            border-style: solid;
            border-width: 1px 0 0;
            box-sizing: border-box;
            margin: 0 -0.5rem 0;
            padding: 0.5rem 0.5rem 0;
            width: calc(100% + 0.5rem * 2);

            .octopus-card-footer-wrapper {
                display: flex;
                align-items: center;

                > :nth-child(n) {
                    margin: 0 0.25rem;
                }

                > :first-child {
                    margin-left: 0;
                }

                > :last-child {
                    margin-right: 0;
                }
            }
        }

        > :nth-child(n) {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.octopus-card-group {
    .octopus-card-group-wrapper {
        display: flex;

        .octopus-card {
            width: 100% !important;

            .octopus-card-wrapper {
                box-sizing: border-box;
            }

            &:nth-child(n) {
                .octopus-card-wrapper {
                    border-radius: 0;
                    border-style: solid;
                    border-width: 0 1px;
                }
            }

            &:first-child {
                .octopus-card-wrapper {
                    border-radius: 3px 0 0 3px;
                    border-width: 0 1px 0 0;
                }
            }

            &:last-child {
                .octopus-card-wrapper {
                    border-radius: 0 3px 3px 0;
                    border-width: 0 0 0 1px;
                }
            }
        }
    }
}

@mixin card-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );
    .octopus-card {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-card {
                .octopus-card-wrapper {
                    @if $name == "base" {
                        background-color: map-get($value, "card");
                        color: $foreground;
                    } @else {
                        background-color: map-get($value, "value");
                        color: map-get($value, "text");
                    }
                }
            }
        }

        .octopus-card-header,
        .octopus-card-footer {
            border-color: rgba($foreground, 0.25);
        }
    }

    .octopus-card-group {
        .octopus-card {
            &:nth-child(n) {
                .octopus-card-wrapper {
                    border-color: rgba($foreground, 0.25);
                }
            }
        }
    }
}
