.octopus-image-carousel-unit {
    .octopus-image-carousel-unit-wrapper {
        position: relative;

        .octopus-carousel-subject {
            padding: 0.5rem 0.5rem 0.25rem;
            text-align: center;
        }

        .octopus-carousel-description {
            padding: 0.25rem 0.5rem 0.5rem;
            text-align: justify;
        }
    }
}

.octopus-image-carousel {
    .octopus-image-carousel-wrapper {
        overflow: hidden;
        position: relative;
        width: inherit;
        height: inherit;

        .octopus-carousel-box {
            height: 100%;
            overflow: hidden;

            .fade-container {
                position: relative;

                .octopus-image-carousel-unit {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    transition: opacity 2500ms ease-in-out;

                    &.active {
                        opacity: 1;
                    }
                }
            }

            .scale-container {
                position: relative;

                .octopus-image-carousel-unit {
                    position: absolute;
                    inset: 0;
                    transform: scale(0);
                    transition: transform 1000ms ease-in-out;

                    &.active {
                        transform: scale(1);
                    }
                }
            }

            .sweep-container {
                display: flex;
                width: fit-content;
                transition: transform 1000ms ease-in-out;
            }
        }

        .octopus-carousel-control {
            position: absolute;
        }

        .octopus-carousel-orbit {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            .orbit-item {
                cursor: pointer;
                margin: 0 0.25rem;

                &.square {
                    width: 2rem;
                    height: 0.25rem;
                }

                &.circle {
                    border-radius: 50%;
                    width: 1.25rem;
                    height: 1.25rem;
                }

                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }
}

.octopus-text-carousel {
    .octopus-text-carousel-wrapper {
        display: flex;
        align-items: center;

        .octopus-carousel-addon {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .octopus-carousel-track {
            flex: auto;
            overflow: hidden;
            position: relative;
            height: 100%;

            .octopus-text-carousel-content {
                position: absolute;

                .octopus-text-carousel-content-wrapper {
                    padding: 0 0.5rem;
                    white-space: nowrap;
                }
            }
        }
    }
}

@mixin carousel-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );
    .octopus-image-carousel-unit,
    .octopus-text-carousel-prefix,
    .octopus-text-carousel-postfix,
    .octopus-text-carousel-content {
        color: $foreground;
    }

    .octopus-image-carousel {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-image-carousel {
                .octopus-carousel-orbit {
                    .orbit-item {
                        @if $name == "base" {
                            background-color: $foreground;

                            &.active {
                                background-color: rgba(map-get($value, "base"), 0.75);
                            }
                        } @else {
                            $color: map-get($value, "value");
                            background-color: lighten($color, 25%);

                            &.active {
                                background-color: $color;
                            }
                        }
                    }
                }
            }
        }

        .octopus-image-carousel-wrapper {
            background-color: map-get($background, "carousel");
        }
    }

    .octopus-text-carousel {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-text-carousel {
                @if $name == "base" {
                    $color: map-get($background, "carousel");
                    .octopus-carousel-addon {
                        background-color: darken($color, 15%);
                    }

                    .octopus-carousel-track {
                        background-color: darken($color, 7.5%);

                        .octopus-text-carousel-content {
                            .octopus-text-carousel-content-wrapper {
                                background-color: $color;
                                border-color: darken($color, 15%);
                            }
                        }
                    }
                } @else {
                    $color: map-get($value, "value");
                    .octopus-carousel-addon {
                        background-color: $color;
                    }

                    .octopus-carousel-track {
                        background-color: rgba($color, 0.25);

                        .octopus-text-carousel-content {
                            .octopus-text-carousel-content-wrapper {
                                background-color: lighten($color, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
}
