.octopus-progress {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 0.75rem;

    .octopus-progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        overflow: hidden;
        text-align: center;
        transition: width 1000ms ease-in-out;

        &.stripe {
            background-size: 1rem 1rem;
        }

        &.animate {
            animation-name: stripe-animate;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes stripe-animate {
                0% {
                    background-position-x: 1rem;
                }
            }
        }
    }

    .octopus-progress-pie {
        position: relative;

        .svg {
            transform: rotate(-90deg);

            .track {
                transition: stroke-dasharray 250ms ease-in-out;
            }

            .thumb {
                transition: stroke-dasharray 250ms ease-in-out, stroke-dashoffset 250ms ease-in-out;
            }
        }

        .text {
            position: absolute;
            inset: 25%;
        }
    }
}

@mixin progress-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
    );
    .octopus-progress {
        .octopus-progress-bar {
            &.stripe {
                background-image: linear-gradient(
                    45deg,
                    rgba($foreground, 0.15) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba($foreground, 0.15) 50%,
                    rgba($foreground, 0.15) 75%,
                    transparent 75%,
                    transparent
                );
            }
        }

        @each $name, $value in $color-list {
            &.octopus-#{$name}-progress {
                $color: map-get($value, "value");
                background-color: rgba($color, 0.125);

                .octopus-progress-bar {
                    background-color: $color;
                    color: map-get($primary, "text");
                }

                .octopus-progress-pie {
                    .svg {
                        .track {
                            stroke: rgba($color, 0.125);
                        }

                        .thumb {
                            stroke: $color;
                        }
                    }

                    .text {
                        color: map-get($primary, "text");
                    }
                }
            }
        }
    }
}
