.octopus-ripple {
    overflow: hidden;
    position: relative;

    .octopus-ripple-wrapper {
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        transform: scale(0);

        &.active {
            opacity: 0.5;
            transform: scale(1.5);
            transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
        }
    }
}
