<mat-card class="mat-elevation-z0">
    <mat-card-title-group>
        <span mat-card-sm-image class="bg-share mat-elevation-z8 border-radius-circle p-100">
            <img [src]="'../../../../assets/images/logo-short.png'" alt="" width="100%">
        </span>
        <mat-card-title>Account Update Title</mat-card-title>
        <mat-card-subtitle class="mt-100">Account Update Subtitle</mat-card-subtitle>
    </mat-card-title-group>
</mat-card>
<mat-divider class="my-100"></mat-divider>
<section>
    <h4 class="mat-subheading-2">Update Brand Name</h4>
    <mat-form-field class="w-100" [hintLabel]="''" [appearance]="'outline'">
        <mat-label>Brand Name</mat-label>
        <input matInput [type]="'text'" placeholder="Enter new brand name" [disabled]="!locked">
        <mat-icon matSuffix>{{locked ? 'lock_open' : 'lock'}}</mat-icon>
        <mat-hint align="end">Hint: .</mat-hint>
    </mat-form-field>
    <div class="display-flex justify-content-space-between mt-100">
        <button mat-raised-button color="accent" (click)="locked = !locked" [style.width]="'128px'">{{locked ? 'Lock'
            : 'Unlock'}}</button>
        <button mat-raised-button color="primary" [style.width]="'128px'">Update</button>
    </div>
</section>
<mat-divider class="my-100"></mat-divider>
<section class="section-account-avatar">
    <h4 class="mat-subheading-2">Update Brand Avatar</h4>
    <div class="display-flex flex-column">
        <div class="display-flex align-items-center w-100 mb-50">
            <table class="metadata w-100 mr-50">
                <tr>
                    <th class="w-20">File Path</th>
                    <td class="w-80" colspan="3">{{avatarPath}}</td>
                </tr>
                <tr>
                    <th class="w-20">File Name</th>
                    <td class="w-30">{{avatarName}}</td>
                    <th class="w-20">File Size</th>
                    <td class="w-30">{{avatarSize | size}}</td>
                </tr>
                <tr>
                    <th class="w-20">File Type</th>
                    <td class="w-30">{{avatarType}}</td>
                    <th class="w-20">Last Modify</th>
                    <td class="w-30">{{avatarModify | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                </tr>
            </table>
            <span class="avatar bg-share mat-elevation-z8 border-radius-circle p-50 ml-50">
                <img class="border-radius-circle" [src]="avatarSource" alt="" width="100%">
            </span>
        </div>
        <div class="display-flex justify-content-space-between mt-50">
            <button mat-raised-button color="accent" (click)="chooser.click()" [style.width]="'128px'">
                <input class="display-none" type="file" accept="image/png" (change)="listenAvatarUploadChange()"
                    #chooser>
                Browse
            </button>
            <button mat-raised-button color="primary" [style.width]="'128px'">Update</button>
        </div>
    </div>
</section>