<div class="d-flex flex-column">
    <h1 class="text-base">Avatar</h1>
    <div class="d-flex justify-content-between align-items-center">
        <img octopus-avatar shape="square" size="small"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
        <img octopus-avatar shape="circle" size="small"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
        <img octopus-avatar shape="square" size="medium"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
        <img octopus-avatar shape="circle" size="medium"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
        <img octopus-avatar shape="square" size="large"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
        <img octopus-avatar shape="circle" size="large"
            src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png" alt="">
    </div>
</div>