<div class="d-flex flex-column">
    <h1 class="text-base">Breadcrumb</h1>
    <octopus-breadcrumb class="mb-50">
        <octopus-breadcrumb-label icon="home" text="Breadcrumb Label 1"></octopus-breadcrumb-label>
        <span octopus-breadcrumb-split>double_arrow</span>
        <octopus-breadcrumb-label icon="home" text="Breadcrumb Label 2"></octopus-breadcrumb-label>
        <span octopus-breadcrumb-split>double_arrow</span>
        <octopus-breadcrumb-label icon="home" text="Breadcrumb Label 3"></octopus-breadcrumb-label>
    </octopus-breadcrumb>
    <octopus-breadcrumb class="mt-50">
        <octopus-breadcrumb-action icon="home" text="Breadcrumb Label 1"></octopus-breadcrumb-action>
        <span octopus-breadcrumb-split>double_arrow</span>
        <octopus-breadcrumb-action icon="home" text="Breadcrumb Label 2"></octopus-breadcrumb-action>
        <span octopus-breadcrumb-split>double_arrow</span>
        <octopus-breadcrumb-action icon="home" text="Breadcrumb Label 3"></octopus-breadcrumb-action>
    </octopus-breadcrumb>
</div>