<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Button" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-flex halign mb-50">
                        <button octopus-button color="base">Base Button</button>
                        <button octopus-button color="primary">Primary Button</button>
                        <button octopus-button color="secondary">Secondary Button</button>
                    </div>
                    <div class="d-flex halign mt-50">
                        <button octopus-button color="success">Success Button</button>
                        <button octopus-button color="warning">Warning Button</button>
                        <button octopus-button color="failure">Failure Button</button>
                        <button octopus-button color="info">Info Button</button>
                    </div>
                </div>
            </app-demo-section>
            <app-demo-section label="Filled Button" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-flex halign mb-50">
                        <button octopus-fill-button color="primary">Primary Filled Button</button>
                        <button octopus-fill-button color="secondary">Secondary Filled Button</button>
                    </div>
                    <div class="d-flex halign mt-50">
                        <button octopus-fill-button color="success">Success Filled Button</button>
                        <button octopus-fill-button color="warning">Warning Filled Button</button>
                        <button octopus-fill-button color="failure">Failure Filled Button</button>
                        <button octopus-fill-button color="info">Info Filled Button</button>
                    </div>
                </div>
            </app-demo-section>
            <app-demo-section label="Outlined Button" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-flex halign mb-50">
                        <button octopus-outline-button color="primary">Primary Outlined Button</button>
                        <button octopus-outline-button color="secondary">Secondary Outlined Button</button>
                    </div>
                    <div class="d-flex halign mt-50">
                        <button octopus-outline-button color="success">Success Outlined Button</button>
                        <button octopus-outline-button color="warning">Warning Outlined Button</button>
                        <button octopus-outline-button color="failure">Failure Outlined Button</button>
                        <button octopus-outline-button color="info">Info Outlined Button</button>
                    </div>
                </div>
            </app-demo-section>
            <app-demo-section label="Icon Button" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-flex halign">
                        <button octopus-icon-button color="base">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="primary">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="secondary">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="success">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="warning">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="failure">
                            <octopus-icon>home</octopus-icon>
                        </button>
                        <button octopus-icon-button color="info">
                            <octopus-icon>home</octopus-icon>
                        </button>
                    </div>
                </div>
            </app-demo-section>
            <app-demo-section label="Mixed Button" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-flex halign">
                        <button octopus-mix-button color="base" icon="home" text="Base Mixed Button"></button>
                        <button octopus-mix-button color="primary" icon="home" text="Primary Mixed Button"></button>
                        <button octopus-mix-button color="secondary" icon="home" text="Secondary Mixed Button"></button>
                        <button octopus-mix-button color="success" icon="home" text="Success Mixed Button"></button>
                        <button octopus-mix-button color="warning" icon="home" text="Warning Mixed Button"></button>
                        <button octopus-mix-button color="failure" icon="home" text="Failure Mixed Button"></button>
                        <button octopus-mix-button color="info" icon="home" text="Info Mixed Button"></button>
                    </div>
                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>