<div class="d-flex flex-column">
    <h1 class="text-base">Button</h1>
    <div class="d-flex justify-content-between mb-50">
        <button octopus-button color="primary" class="mr-50" style="width: 100%;">Primary Button</button>
        <button octopus-button color="secondary" class="mx-50" style="width: 100%;">Secondary Button</button>
        <button octopus-button color="success" class="mx-50" style="width: 100%;">Success Button</button>
        <button octopus-button color="warning" class="mx-50" style="width: 100%;">Warning Button</button>
        <button octopus-button color="failure" class="mx-50" style="width: 100%;">Failure Button</button>
        <button octopus-button color="info" class="ml-50" style="width: 100%;">Info Button</button>
    </div>
    <div class="d-flex justify-content-between mb-50">
        <button octopus-fill-button color="primary" class="mr-50" style="width: 100%;">Primary Fill Button</button>
        <button octopus-fill-button color="secondary" class="mx-50" style="width: 100%;">Secondary Fill Button</button>
        <button octopus-fill-button color="success" class="mx-50" style="width: 100%;">Success Fill Button</button>
        <button octopus-fill-button color="warning" class="mx-50" style="width: 100%;">Warning Fill Button</button>
        <button octopus-fill-button color="failure" class="mx-50" style="width: 100%;">Failure Fill Button</button>
        <button octopus-fill-button color="info" class="ml-50" style="width: 100%;">Info Fill Button</button>
    </div>
    <div class="d-flex justify-content-between my-50">
        <button octopus-outline-button color="primary" class="mr-50" style="width: 100%;">Primary Outline
            Button</button>
        <button octopus-outline-button color="secondary" class="mx-50" style="width: 100%;">Secondary Outline
            Button</button>
        <button octopus-outline-button color="success" class="mx-50" style="width: 100%;">Success Outline
            Button</button>
        <button octopus-outline-button color="warning" class="mx-50" style="width: 100%;">Warning Outline
            Button</button>
        <button octopus-outline-button color="failure" class="mx-50" style="width: 100%;">Failure Outline
            Button</button>
        <button octopus-outline-button color="info" class="ml-50" style="width: 100%;">Info Outline Button</button>
    </div>
    <div class="d-flex justify-content-between my-50">
        <button octopus-mix-button color="primary">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Primary Mix Button</span>
        </button>
        <button octopus-mix-button color="secondary">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Secondary Mix Button</span>
        </button>
        <button octopus-mix-button color="success">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Success Mix Button</span>
        </button>
        <button octopus-mix-button color="warning">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Warning Mix Button</span>
        </button>
        <button octopus-mix-button color="failure">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Failure Mix Button</span>
        </button>
        <button octopus-mix-button color="info">
            <span class="icon material-icons">home</span>
            <hr>
            <span class="text">Info Mix Button</span>
        </button>
    </div>
    <div class="d-flex justify-content-between mt-50">
        <button octopus-icon-button color="primary" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
        <button octopus-icon-button color="secondary" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
        <button octopus-icon-button color="success" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
        <button octopus-icon-button color="warning" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
        <button octopus-icon-button color="failure" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
        <button octopus-icon-button color="info" rounded="true">
            <span class="icon material-icons">home</span>
        </button>
    </div>
</div>