<div class="d-flex flex-column">
    <h1 class="text-base">Card</h1>
    <div class="demo-list my-50">
        <octopus-card class="demo-list-item">Card</octopus-card>
        <octopus-card color="primary" class="demo-list-item">Primary Card</octopus-card>
        <octopus-card color="secondary" class="demo-list-item">Secondary Card</octopus-card>
    </div>
    <div class="demo-list my-50">
        <octopus-card color="success" class="demo-list-item">Success Card</octopus-card>
        <octopus-card color="warning" class="demo-list-item">Warning Card</octopus-card>
        <octopus-card color="failure" class="demo-list-item">Failure Card</octopus-card>
        <octopus-card color="info" class="demo-list-item">Info Card</octopus-card>
    </div>
    <div class="demo-list my-50">
        <octopus-card class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Card Title</span>
                <span octopus-card-subtitle>Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
        <octopus-card color="primary" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Primary Card Title</span>
                <span octopus-card-subtitle>Primary Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Primary Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
        <octopus-card color="secondary" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Secondary Card Title</span>
                <span octopus-card-subtitle>Secondary Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Secondary Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
    </div>
    <div class="demo-list my-50">
        <octopus-card color="success" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Success Card Title</span>
                <span octopus-card-subtitle>Success Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Success Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
        <octopus-card color="warning" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Warning Card Title</span>
                <span octopus-card-subtitle>Warning Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Warning Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
        <octopus-card color="failure" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Failure Card Title</span>
                <span octopus-card-subtitle>Failure Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Failure Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
        <octopus-card color="info" class="demo-list-item">
            <octopus-card-header>
                <img octopus-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-512.png" alt="">
                <span octopus-card-title>Info Card Title</span>
                <span octopus-card-subtitle>Info Card Subtitle</span>
            </octopus-card-header>
            <octopus-card-attach>
                <img src="https://images.wallpaperscraft.com/image/money_dollars_currency_216316_1280x720.jpg" alt=""
                    width="100%">
            </octopus-card-attach>
            <octopus-card-content>Info Card Content</octopus-card-content>
            <hr>
            <octopus-card-footer>
                <button octopus-button class="mr-25">Action</button>
                <button octopus-icon-button class="ml-25">
                    <span class="material-icons">home</span>
                </button>
            </octopus-card-footer>
        </octopus-card>
    </div>
</div>