<div class="d-flex flex-column">
    <h1 class="text-base">Carousel</h1>
    <div class="d-flex justify-content-between mb-50">
        <octopus-carousel shape="square">
            <img src="https://images.wallpaperscraft.com/image/coast_rocks_sea_216611_1280x720.jpg"
                alt="coast_rocks_sea_216611_1280x720.jpg" octopus-carousel-image subject="Image Subject 1"
                description="Image Description 1">
            <img src="https://images.wallpaperscraft.com/image/mountains_trees_houses_216603_1280x720.jpg"
                alt="mountains_trees_houses_216603_1280x720.jpg" octopus-carousel-image subject="Image Subject 2"
                description="Image Description 2">
            <img src="https://images.wallpaperscraft.com/image/hills_trees_nature_216599_1280x720.jpg"
                alt="hills_trees_nature_216599_1280x720.jpg" octopus-carousel-image subject="Image Subject 3"
                description="Image Description 3">
        </octopus-carousel>
        <octopus-carousel shape="circle" class="demo-list-item">
            <img src="https://images.wallpaperscraft.com/image/coast_rocks_sea_216611_1280x720.jpg"
                alt="coast_rocks_sea_216611_1280x720.jpg" octopus-carousel-image subject="Image Subject 1"
                description="Image Description 1">
            <img src="https://images.wallpaperscraft.com/image/mountains_trees_houses_216603_1280x720.jpg"
                alt="mountains_trees_houses_216603_1280x720.jpg" octopus-carousel-image subject="Image Subject 2"
                description="Image Description 2">
            <img src="https://images.wallpaperscraft.com/image/hills_trees_nature_216599_1280x720.jpg"
                alt="hills_trees_nature_216599_1280x720.jpg" octopus-carousel-image subject="Image Subject 3"
                description="Image Description 3">
        </octopus-carousel>
    </div>
</div>