<div class="d-flex flex-column">
    <h1 class="text-base">Icon</h1>
    <div class="demo-grid text-base" style="grid-template-columns: repeat(10, 1fr);place-items: center;">
        <octopus-icon margin="8" size="48" *ngFor="let name of names">{{name}}</octopus-icon>
        <!-- <octopus-icon margin="8" size="48">home</octopus-icon>
        <octopus-icon color="primary" margin="8" size="48">home</octopus-icon>
        <octopus-icon color="secondary" margin="8" size="48">home</octopus-icon>
        <octopus-icon color="success" margin="8" size="48">home</octopus-icon>
        <octopus-icon color="warning" margin="8" size="48">home</octopus-icon>
        <octopus-icon color="failure" margin="8" size="48">home</octopus-icon>
        <octopus-icon color="info" margin="8" size="48">home</octopus-icon> -->
    </div>
</div>