<div class="d-flex flex-column">
    <h1 class="text-base">List</h1>
    <div class="demo-list">
        <octopus-list class="demo-list-item">
            <octopus-list-item>List Item 1</octopus-list-item>
            <octopus-list-item>List Item 2</octopus-list-item>
            <octopus-list-item>List Item 3</octopus-list-item>
            <octopus-list-item>List Item 4</octopus-list-item>
            <octopus-list-item>List Item 5</octopus-list-item>
            <octopus-list-item>List Item 6</octopus-list-item>
            <octopus-list-item>List Item 7</octopus-list-item>
            <octopus-list-item>List Item 8</octopus-list-item>
            <octopus-list-item>List Item 9</octopus-list-item>
        </octopus-list>
        <octopus-list ordered="true" class="demo-list-item">
            <octopus-list-item>List Item 1</octopus-list-item>
            <octopus-list-item>List Item 2</octopus-list-item>
            <octopus-list-item>List Item 3</octopus-list-item>
            <octopus-list-item>List Item 4</octopus-list-item>
            <octopus-list-item>List Item 5</octopus-list-item>
            <octopus-list-item>List Item 6</octopus-list-item>
            <octopus-list-item>List Item 7</octopus-list-item>
            <octopus-list-item>List Item 8</octopus-list-item>
            <octopus-list-item>List Item 9</octopus-list-item>
        </octopus-list>
        <octopus-list class="demo-list-item">
            <span octopus-list-headline>List Section I</span>
            <octopus-list-item>List Item I - 1</octopus-list-item>
            <octopus-list-item>List Item I - 2</octopus-list-item>
            <octopus-list-item>List Item I - 3</octopus-list-item>
            <span octopus-list-headline>List Section II</span>
            <octopus-list-item>List Item II - 4</octopus-list-item>
            <octopus-list-item>List Item II - 5</octopus-list-item>
            <octopus-list-item>List Item II - 6</octopus-list-item>
            <span octopus-list-headline>List Section III</span>
            <octopus-list-item>List Item III - 7</octopus-list-item>
            <octopus-list-item>List Item III - 8</octopus-list-item>
            <octopus-list-item>List Item III - 9</octopus-list-item>
        </octopus-list>
        <octopus-list ordered="true" class="demo-list-item">
            <span octopus-list-headline>List Section I</span>
            <octopus-list-item>List Item I - 1</octopus-list-item>
            <octopus-list-item>List Item I - 2</octopus-list-item>
            <octopus-list-item>List Item I - 3</octopus-list-item>
            <span octopus-list-headline>List Section II</span>
            <octopus-list-item>List Item II - 4</octopus-list-item>
            <octopus-list-item>List Item II - 5</octopus-list-item>
            <octopus-list-item>List Item II - 6</octopus-list-item>
            <span octopus-list-headline>List Section III</span>
            <octopus-list-item>List Item III - 7</octopus-list-item>
            <octopus-list-item>List Item III - 8</octopus-list-item>
            <octopus-list-item>List Item III - 9</octopus-list-item>
        </octopus-list>
    </div>
    <div class="demo-list">
        <octopus-nav-list class="demo-list-item">
            <a octopus-nav-list-item [routerLink]="[]">List Item 1</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 2</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 3</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 4</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 5</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 6</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 7</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 8</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item 9</a>
        </octopus-nav-list>
        <octopus-nav-list class="demo-list-item">
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 1</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 2</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 3</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 4</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 5</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 6</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 7</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 8</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item 9</span>
            </a>
        </octopus-nav-list>
        <octopus-nav-list class="demo-list-item">
            <span octopus-list-headline>List Section I</span>
            <a octopus-nav-list-item [routerLink]="[]">List Item I - 1</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item I - 2</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item I - 3</a>
            <span octopus-list-headline>List Section II</span>
            <a octopus-nav-list-item [routerLink]="[]">List Item II - 4</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item II - 5</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item II - 6</a>
            <span octopus-list-headline>List Section III</span>
            <a octopus-nav-list-item [routerLink]="[]">List Item III - 7</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item III - 8</a>
            <a octopus-nav-list-item [routerLink]="[]">List Item III - 9</a>
        </octopus-nav-list>
        <octopus-nav-list class="demo-list-item">
            <span octopus-list-headline>List Section I</span>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item I - 1</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item I - 2</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item I - 3</span>
            </a>
            <span octopus-list-headline>List Section II</span>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item II - 4</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item II - 5</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item II - 6</span>
            </a>
            <span octopus-list-headline>List Section III</span>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item III - 7</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item III - 8</span>
            </a>
            <a octopus-nav-list-item free="false" [routerLink]="[]">
                <span octopus-list-icon class="material-icons">home</span>
                <span octopus-list-text>List Item III - 9</span>
            </a>
        </octopus-nav-list>
    </div>
    <div class="demo-grid my-50">
        <div *ngFor="let element of list">
            <octopus-select-list [multiple]="element.multiple" [ordered]="element.ordered" class="mb-25" #selectList>
                <octopus-select-list-item [color]="item.color" [direction]="item.direction"
                    *ngFor="let item of element.items">{{item.text}}</octopus-select-list-item>
            </octopus-select-list>
            <h6 class="text-base mb-0 mt-25">Selected Count: {{selectList.selection.selected.length}}</h6>
        </div>
    </div>
</div>