<div class="welcome-wrapper display-flex flex-column p-50">
    <section class="mb-100">
        <div class="display-flex align-items-center">
            <mat-icon class="title-icon mr-25">{{model.recommend.icon}}</mat-icon>
            <div class="display-flex flex-column flex-grow-1 flex-shrink-1 flex-basis-auto">
                <h1 class="font-size-16 my-0">{{model.recommend.name}}</h1>
                <p class="font-size-10 my-0">Total: {{model.recommend.total | count}}</p>
            </div>
            <button mat-raised-button color="primary">
                <mat-icon class="rotate-icon">autorenew</mat-icon>
                Refresh
            </button>
        </div>
        <mat-divider class="my-100"></mat-divider>
        <div class="box display-grid justify-items-stretch align-items-stretch flex g-50">
            <mat-card class="group bg-pshare-700 bg-texture mat-elevation-z0"
                [class.await]="model.recommend.weekGroup === undefined">
                <mat-card-title-group>
                    <mat-card-title class="font-size-16 font-weight-bold">Week Express Title</mat-card-title>
                </mat-card-title-group>
                <mat-card-content class="none my-0">
                    <app-widgets-carousel [sources]="model.recommend.weekGroup.cgmGroup" [duration]="2500"
                        [(index)]="model.recommend.weekGroup.cgmIndex"
                        (source)="model.recommend.weekGroup.cgmSelect = $event">
                    </app-widgets-carousel>
                </mat-card-content>
                <mat-card-content class="font-size-12 text-align-center">{{model.recommend.weekGroup.cgmSelect ===
                    undefined ? '' :
                    model.recommend.weekGroup.cgmSelect.cumSubject}}
                </mat-card-content>
            </mat-card>
            <mat-card class="group bg-pshare-700 bg-texture mat-elevation-z0"
                [class.await]="model.recommend.monthGroup === undefined">
                <mat-card-title-group>
                    <mat-card-title class="font-size-16 font-weight-bold">Month Express Title</mat-card-title>
                </mat-card-title-group>
                <mat-card-content class="none my-0">
                    <app-widgets-carousel [sources]="model.recommend.monthGroup.cgmGroup" [duration]="2500"
                        [(index)]="model.recommend.monthGroup.cgmIndex"
                        (source)="model.recommend.monthGroup.cgmSelect = $event">
                    </app-widgets-carousel>
                </mat-card-content>
                <mat-card-content class="font-size-12 text-align-center">{{model.recommend.monthGroup.cgmSelect ===
                    undefined ? '' :
                    model.recommend.monthGroup.cgmSelect.cumSubject}}
                </mat-card-content>
            </mat-card>
            <mat-card class="group bg-pshare-700 bg-texture mat-elevation-z0"
                [class.await]="model.recommend.seasonGroup === undefined">
                <mat-card-title-group>
                    <mat-card-title class="font-size-16 font-weight-bold">Season Express Title</mat-card-title>
                </mat-card-title-group>
                <mat-card-content class="none my-0">
                    <app-widgets-carousel [sources]="model.recommend.seasonGroup.cgmGroup" [duration]="2500"
                        [(index)]="model.recommend.seasonGroup.cgmIndex"
                        (source)="model.recommend.seasonGroup.cgmSelect = $event">
                    </app-widgets-carousel>
                </mat-card-content>
                <mat-card-content class="font-size-12 text-align-center">{{model.recommend.seasonGroup.cgmSelect ===
                    undefined ? '' :
                    model.recommend.seasonGroup.cgmSelect.cumSubject}}
                </mat-card-content>
            </mat-card>
            <app-widgets-orbit class="scroll" [units]="model.recommend.units"></app-widgets-orbit>
        </div>
    </section>
    <section class="category display-flex flex-column {{i === sections.length - 1 ? 'mt-100' : 'my-100'}}"
        *ngFor="let section of sections; index as i">
        <div class="flex-grow-1 flex-shrink-1 flex-basis-auto mb-25">
            <div class="display-flex align-items-center">
                <mat-icon class="title-icon mr-25">{{section.icon}}</mat-icon>
                <div class="display-flex flex-column flex-grow-1 flex-shrink-1 flex-basis-auto">
                    <h1 class="font-size-16 my-0">{{section.name}}</h1>
                    <p class="font-size-10 my-0">Total: {{section.total | count}}</p>
                </div>
                <button mat-raised-button color="primary">
                    <mat-icon class="rotate-icon">autorenew</mat-icon>
                    Refresh
                </button>
            </div>
            <mat-divider class="my-100"></mat-divider>
            <div class="unit-box display-grid g-50">
                <app-widgets-unit-anchor [unit]="unit" *ngFor="let unit of section.units"></app-widgets-unit-anchor>
            </div>
        </div>
        <mat-card class="rank bg-pshare-700 bg-texture mat-elevation-z0 mt-25">
            <mat-card-title-group>
                <mat-card-title class="font-size-16 font-weight-bold">Rank of {{section.name}}</mat-card-title>
            </mat-card-title-group>
            <mat-divider></mat-divider>
            <mat-card-content class="rank-box display-grid g-100">
                <mat-nav-list class="list scroll-share flex-grow-1 flex-shrink-1 flex-basis-auto"
                    *ngFor="let rank of formatRanks(section); index as j">
                    <h1 class="list-head" matSubheader>{{rankNames[j]}}</h1>
                    <ng-container *ngFor="let item of rank">
                        <a mat-list-item class="list-item" [routerLink]="['/home', item.rankCategory, 'unit']"
                            [queryParams]="{_id: item.rankID}" *ngIf="item !== undefined">
                            <img matListAvatar [src]="item.rankCapture" alt="">
                            <h1 class="font-size-12 font-weight-bold my-0" matLine>{{item.rankSubject}}</h1>
                            <p class="font-size-10 my-0 my-25" matLine>{{item.rankName}}</p>
                            <p class="font-size-10 my-0 display-flex justify-content-space-between" matLine>
                                <span>Score: {{item.rankPoint}} / 10.0</span>
                                <span>Upload: {{item.rankCreateTime | date: 'yyy-MM-dd'}}</span>
                            </p>
                        </a>
                        <mat-list-item class="list-item" *ngIf="item === undefined">
                            <app-widgets-item-holder></app-widgets-item-holder>
                        </mat-list-item>
                    </ng-container>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </section>
</div>