<div class="demo-widget-dialog-wrapper h-100" #container>
    <octopus-dialog-header #header>
        <div class="d-flex">
            <img octopus-avatar src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/17_social-256.png"
                alt="" class="mr-25">
            <div class="d-flex flex-column ml-25">
                <span octopus-dialog-title>Dialog Title</span>
                <span octopus-dialog-subtitle>Dialog Subtitle</span>
            </div>
        </div>
    </octopus-dialog-header>
    <octopus-dialog-content [style.height]="size$ | async">
        <article class="text-base text-justify w-100">
            <p class="paragraph">Originally created by a designer and a developer at Twitter, Bootstrap has become one
                of the most popular
                front-end frameworks and open source projects in the world.</p>
            <p class="paragraph">Bootstrap was created at Twitter in mid-2010 by @mdo and @fat. Prior to being an
                open-sourced framework,
                Bootstrap was known as Twitter Blueprint. A few months into development, Twitter held its first Hack
                Week and the project exploded as developers of all skill levels jumped in without any external guidance.
                It served as the style guide for internal tools development at the company for over a year before its
                public release, and continues to do so today.</p>
            <p class="paragraph">Originally released on Friday, August 19, 2011, we’ve since had over twenty releases,
                including two major
                rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as
                an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it
                responsive by default with a mobile first approach.</p>
            <p class="paragraph">With Bootstrap 4, we once again rewrote the project to account for two key
                architectural changes: a
                migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web
                development community forward by pushing for newer CSS properties, fewer dependencies, and new
                technologies across more modern browsers.</p>
            <p class="paragraph">Our latest release, Bootstrap 5, focuses on improving v4’s codebase with as few major
                breaking changes as
                possible. We improved existing features and components, removed support for older browsers, dropped
                jQuery for regular JavaScript, and embraced more future-friendly technologies like CSS custom properties
                as part of our tooling.</p>
            <p class="paragraph">Originally created by a designer and a developer at Twitter, Bootstrap has become one
                of the most popular
                front-end frameworks and open source projects in the world.</p>
            <p class="paragraph">Bootstrap was created at Twitter in mid-2010 by @mdo and @fat. Prior to being an
                open-sourced framework,
                Bootstrap was known as Twitter Blueprint. A few months into development, Twitter held its first Hack
                Week and the project exploded as developers of all skill levels jumped in without any external guidance.
                It served as the style guide for internal tools development at the company for over a year before its
                public release, and continues to do so today.</p>
            <p class="paragraph">Originally released on Friday, August 19, 2011, we’ve since had over twenty releases,
                including two major
                rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as
                an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it
                responsive by default with a mobile first approach.</p>
            <p class="paragraph">With Bootstrap 4, we once again rewrote the project to account for two key
                architectural changes: a
                migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web
                development community forward by pushing for newer CSS properties, fewer dependencies, and new
                technologies across more modern browsers.</p>
            <p class="paragraph">Our latest release, Bootstrap 5, focuses on improving v4’s codebase with as few major
                breaking changes as
                possible. We improved existing features and components, removed support for older browsers, dropped
                jQuery for regular JavaScript, and embraced more future-friendly technologies like CSS custom properties
                as part of our tooling.</p>
            <p class="paragraph">Originally created by a designer and a developer at Twitter, Bootstrap has become one
                of the most popular
                front-end frameworks and open source projects in the world.</p>
            <p class="paragraph">Bootstrap was created at Twitter in mid-2010 by @mdo and @fat. Prior to being an
                open-sourced framework,
                Bootstrap was known as Twitter Blueprint. A few months into development, Twitter held its first Hack
                Week and the project exploded as developers of all skill levels jumped in without any external guidance.
                It served as the style guide for internal tools development at the company for over a year before its
                public release, and continues to do so today.</p>
            <p class="paragraph">Originally released on Friday, August 19, 2011, we’ve since had over twenty releases,
                including two major
                rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as
                an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it
                responsive by default with a mobile first approach.</p>
            <p class="paragraph">With Bootstrap 4, we once again rewrote the project to account for two key
                architectural changes: a
                migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web
                development community forward by pushing for newer CSS properties, fewer dependencies, and new
                technologies across more modern browsers.</p>
            <p class="paragraph">Our latest release, Bootstrap 5, focuses on improving v4’s codebase with as few major
                breaking changes as
                possible. We improved existing features and components, removed support for older browsers, dropped
                jQuery for regular JavaScript, and embraced more future-friendly technologies like CSS custom properties
                as part of our tooling.</p>
            <p class="paragraph">Originally created by a designer and a developer at Twitter, Bootstrap has become one
                of the most popular
                front-end frameworks and open source projects in the world.</p>
            <p class="paragraph">Bootstrap was created at Twitter in mid-2010 by @mdo and @fat. Prior to being an
                open-sourced framework,
                Bootstrap was known as Twitter Blueprint. A few months into development, Twitter held its first Hack
                Week and the project exploded as developers of all skill levels jumped in without any external guidance.
                It served as the style guide for internal tools development at the company for over a year before its
                public release, and continues to do so today.</p>
            <p class="paragraph">Originally released on Friday, August 19, 2011, we’ve since had over twenty releases,
                including two major
                rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as
                an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it
                responsive by default with a mobile first approach.</p>
            <p class="paragraph">With Bootstrap 4, we once again rewrote the project to account for two key
                architectural changes: a
                migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web
                development community forward by pushing for newer CSS properties, fewer dependencies, and new
                technologies across more modern browsers.</p>
            <p class="paragraph">Our latest release, Bootstrap 5, focuses on improving v4’s codebase with as few major
                breaking changes as
                possible. We improved existing features and components, removed support for older browsers, dropped
                jQuery for regular JavaScript, and embraced more future-friendly technologies like CSS custom properties
                as part of our tooling.</p>
            <p class="paragraph">Originally created by a designer and a developer at Twitter, Bootstrap has become one
                of the most popular
                front-end frameworks and open source projects in the world.</p>
            <p class="paragraph">Bootstrap was created at Twitter in mid-2010 by @mdo and @fat. Prior to being an
                open-sourced framework,
                Bootstrap was known as Twitter Blueprint. A few months into development, Twitter held its first Hack
                Week and the project exploded as developers of all skill levels jumped in without any external guidance.
                It served as the style guide for internal tools development at the company for over a year before its
                public release, and continues to do so today.</p>
            <p class="paragraph">Originally released on Friday, August 19, 2011, we’ve since had over twenty releases,
                including two major
                rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as
                an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it
                responsive by default with a mobile first approach.</p>
            <p class="paragraph">With Bootstrap 4, we once again rewrote the project to account for two key
                architectural changes: a
                migration to Sass and the move to CSS’s flexbox. Our intention is to help in a small way to move the web
                development community forward by pushing for newer CSS properties, fewer dependencies, and new
                technologies across more modern browsers.</p>
            <p class="paragraph">Our latest release, Bootstrap 5, focuses on improving v4’s codebase with as few major
                breaking changes as
                possible. We improved existing features and components, removed support for older browsers, dropped
                jQuery for regular JavaScript, and embraced more future-friendly technologies like CSS custom properties
                as part of our tooling.</p>
        </article>
    </octopus-dialog-content>
    <octopus-dialog-footer #footer>
        <div class="d-flex justify-content-around">
            <button octopus-fill-button color="primary" class="octopus-shadow-z1 w-25 mr-50"
                (click)="handleCloseActionEvent('Confirm')">Confirm</button>
            <button octopus-fill-button color="secondary" class="octopus-shadow-z1 w-25 ml-50"
                (click)="handleCloseActionEvent('Cancel')">Cancel</button>
        </div>
    </octopus-dialog-footer>
</div>