@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-button-theme($palettes, $foreground, $background) {
    .octo-btn {
        &.octo-base-btn {
            color: map.get($foreground, "button");

            &:hover {
                background-color: rgba(map.get($background, "button"), 0.125);
            }

            &:active {
                color: rgba(map.get($background, "button"), 0.125);
            }
        }

        &.octo-solid-btn {
            background-color: map.get($background, "button");
            color: map.get($foreground, "button");

            &:hover {
                background-color: lighten(map.get($background, "button"), 2.5%);
            }

            &:active {
                background-color: darken(map.get($background, "button"), 2.5%);
            }
        }

        &.octo-stroke-btn {
            border-color: map.get($foreground, "button");
            color: map.get($foreground, "button");

            &:hover {
                border-color: lighten(map.get($foreground, "button"), 2.5%);
                color: lighten(map.get($foreground, "button"), 2.5%);
            }

            &:active {
                border-color: darken(map.get($foreground, "button"), 2.5%);
                color: darken(map.get($foreground, "button"), 2.5%);
            }
        }

        @each $key, $value in $palettes {
            &.octo-base-btn-#{$key} {
                color: palette.fetch-color($value);

                &:hover {
                    background-color: rgba(palette.fetch-color($value), 0.125);
                }

                &:active {
                    color: rgba(palette.fetch-color($value), 0.125);
                }
            }

            &.octo-solid-btn-#{$key} {
                background-color: palette.fetch-color($value);
                color: lighten(palette.fetch-color($value), 50%);

                &:hover {
                    background-color: lighten(palette.fetch-color($value), 2.5%);
                }

                &:active {
                    background-color: darken(palette.fetch-color($value), 2.5%);
                }
            }

            &.octo-stroke-btn-#{$key} {
                border-color: palette.fetch-color($value);
                color: palette.fetch-color($value);

                &:hover {
                    border-color: lighten(palette.fetch-color($value), 2.5%);
                    color: lighten(palette.fetch-color($value), 2.5%);
                }

                &:active {
                    border-color: darken(palette.fetch-color($value), 2.5%);
                    color: darken(palette.fetch-color($value), 2.5%);
                }
            }
        }
    }
}
