@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-button-theme($palettes, $foreground, $background) {
    .octo-btn {
        background-color: rgba(map.get($background, "button"), 0.25);
        color: map.get($foreground, "button");

        &:hover {
            background-color: rgba(map.get($background, "button"), 0.75);
        }

        &.octo-solid-btn {
            background-color: map.get($background, "button");
            color: map.get($foreground, "button");

            &:hover {
                background-color: rgba(map.get($background, "button"), 0.85);
            }
        }

        &.octo-stroke-btn {
            border-color: map.get($foreground, "button");
            color: map.get($foreground, "button");

            &:hover {
                border-color: rgba(map.get($foreground, "button"), 0.85);
                color: rgba(map.get($foreground, "button"), 0.85);
            }
        }

        @each $key, $value in $palettes {
            &.octo-btn-#{$key} {
                background-color: rgba(palette.fetch-color($value), 0.25);

                &:hover {
                    background-color: rgba(palette.fetch-color($value), 0.75);
                }
            }

            &.octo-solid-btn-#{$key} {
                background-color: palette.fetch-color($value);

                &:hover {
                    background-color: rgba(palette.fetch-color($value), 0.85);
                }
            }

            &.octo-stroke-btn-#{$key} {
                border-color: palette.fetch-color($value);
                color: palette.fetch-color($value);

                &:hover {
                    border-color: rgba(palette.fetch-color($value), 0.85);
                    color: rgba(palette.fetch-color($value), 0.85);
                }

                .octo-icon {
                    color: palette.fetch-color($value);
                }
            }
        }
    }
}
