@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-effects-theme($palettes, $foreground, $background) {
    .overflow {
        @each $key, $value in $palettes {
            @if $key != "base" {
                &.overflow-#{$key} {
                    &::-webkit-scrollbar-thumb {
                        background-color: palette.fetch-color($value);
                        box-shadow: 0 0 0.75rem 0.25rem rgba(palette.fetch-color($value), 0.5);

                        &:hover {
                            background-color: rgba(palette.fetch-color($value), 0.85);
                        }
                    }

                    &::-webkit-scrollbar-track {
                        background-color: palette.fetch-color($value, 100);
                        box-shadow: 0 0 0.25rem rgba(palette.fetch-color($value, 900), 0.25) inset;
                    }

                    &::-webkit-scrollbar-corner {
                        background-color: palette.fetch-color($value, 100);
                    }
                }
            }
        }
    }

    @each $item in (0, 1, 2, 4, 8, 12, 16) {
        .octo-shadow-#{$item} {
            box-shadow: 0 0 $item * 1px $item * 0.5px map.get($background, "base");
        }
    }

    .octo-ripple {
        .ripple {
            background-color: map.get($foreground, "base");

            @each $key, $value in $palettes {
                &.ripple-#{$key} {
                    background-color: palette.fetch-color($value);
                }
            }
        }
    }
}
