@use "sass:map";

@mixin mixin-form-theme($colors, $foreground, $background) {
    .octo-form-field {
        background-color: map.get($background, "form");
        color: map.get($foreground, "form");

        .octo-form-field-wrapper {
            .octo-form-field-bone {
                .left,
                .middle,
                .right {
                    border-color: map.get($foreground, "form");
                }

                .octo-form-label {
                    color: map.get($foreground, "form");
                }
            }

            .octo-input {
                color: map.get($foreground, "form");
            }
        }

        @each $key, $value in $colors {
            &.octo-form-field-#{$key} {
                .octo-form-field-wrapper {
                    &.focused {
                        .octo-form-field-bone {
                            .left,
                            .middle,
                            .right {
                                border-color: $value;
                            }

                            .octo-form-label {
                                color: $value;
                            }
                        }
                    }
                }
            }
        }

        .octo-form-hint {
            @each $key, $value in $colors {
                @if $key == "success" or $key == "warning" or $key == "failure" {
                    &.octo-form-hint-#{$key} {
                        color: $value;
                    }
                }
            }
        }
    }
}
