@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-image-theme($palettes, $foreground, $background) {
    .octo-icon {
        color: map.get($foreground, "base");

        @each $key, $value in $palettes {
            &.octo-icon-#{$key} {
                color: palette.fetch-color($value);
            }
        }
    }

    .octo-figure {
        &.octo-figure-base {
            background-color: rgba(map.get($foreground, "base"), 0.125);
            border-color: map.get($foreground, "base");
        }

        @each $key, $value in $palettes {
            &.octo-figure-#{$key} {
                background-color: rgba(palette.fetch-color($value), 0.125);
                border-color: palette.fetch-color($value);
            }
        }
    }
}
