@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-label-theme($palettes, $foreground, $background) {
    .octo-label {
        background-color: map.get($background, "label");
        color: map.get($foreground, "label");

        &.octo-mark-label {
            @each $key, $value in $palettes {
                &.octo-mark-label-#{$key} {
                    .octo-mark-label-head {
                        background-color: palette.fetch-color($value);
                    }
                }
            }
        }

        &.octo-chip-label {
            &.octo-chip-label-base {
                &:hover {
                    background-color: rgba(map.get($background, "label"), 0.85);
                }
            }

            @each $key, $value in $palettes {
                &.octo-chip-label-#{$key} {
                    background-color: palette.fetch-color($value);

                    &:hover {
                        background-color: lighten(palette.fetch-color($value), 2.5%);
                    }
                }
            }
        }
    }
}
