@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-matrix-theme($palettes, $foreground, $background) {
    .octo-matrix-tile {
        color: map.get($foreground, "card");

        &.octo-matrix-tile-base {
            .octo-matrix-tile-header,
            .octo-matrix-tile-footer {
                background-color: rgba(map.get($background, "card"), 0.5);
            }
        }

        @each $key, $value in $palettes {
            &.octo-matrix-tile-#{$key} {
                .octo-matrix-tile-header,
                .octo-matrix-tile-footer {
                    background-color: rgba(palette.fetch-color($value), 0.5);
                }
            }
        }
    }
}
