@use "sass:map";

@use "palette.theme" as palette;

@use "accordion.theme" as accordion;
@use "badge.theme" as badge;
@use "button.theme" as button;
@use "card.theme" as card;
@use "carousel.theme" as carousel;
@use "check.theme" as check;
@use "combo.theme" as combo;
@use "datetime.theme" as datetime;
@use "effects.theme" as effects;
@use "express.theme" as express;
@use "form.theme" as form;
@use "image.theme" as image;
@use "label.theme" as label;
@use "matrix.theme" as matrix;
@use "menu.theme" as menu;
@use "overlay.theme" as overlay;
@use "paginator.theme" as paginator;
@use "progress.theme" as progress;
@use "queue.theme" as queue;
@use "radio.theme" as radio;
@use "sidenav.theme" as sidenav;
@use "stepper.theme" as stepper;
@use "tabs.theme" as tabs;
@use "table.theme" as table;
@use "toolbar.theme" as toolbar;

@mixin octopus-renderer-theme($theme) {
    $primary: map.get($theme, "primary");
    $accent: map.get($theme, "accent");
    $success: map.get($theme, "success");
    $warning: map.get($theme, "warning");
    $failure: map.get($theme, "failure");
    $foreground: map.get($theme, "foreground");
    $background: map.get($theme, "background");
    $palettes: ("primary": $primary, "accent": $accent, "success": $success, "warning": $warning, "failure": $failure);

    * {
        text-decoration-color: map.get($background, "base");
    }

    body {
        background-color: map.get($background, "base");
        color: map.get($foreground, "base");
    }

    @each $key, $value in $palettes {
        .octo-active-#{$key},
        .octo-bg-#{$key} {
            background-color: palette.fetch-color($value) !important;
        }
    }

    @include accordion.mixin-accordion-theme($palettes, $foreground, $background);
    @include badge.mixin-badge-theme($palettes, $foreground, $background);
    @include button.mixin-button-theme($palettes, $foreground, $background);
    @include card.mixin-card-theme($palettes, $foreground, $background);
    @include carousel.mixin-carousel-theme($palettes, $foreground, $background);
    @include check.mixin-check-theme($palettes, $foreground, $background);
    @include combo.mixin-combo-theme($palettes, $foreground, $background);
    @include datetime.mixin-datetime-theme($palettes, $foreground, $background);
    @include effects.mixin-effects-theme($palettes, $foreground, $background);
    @include express.mixin-express-theme($palettes, $foreground, $background);
    @include form.mixin-form-theme($palettes, $foreground, $background);
    @include image.mixin-image-theme($palettes, $foreground, $background);
    @include label.mixin-label-theme($palettes, $foreground, $background);
    @include matrix.mixin-matrix-theme($palettes, $foreground, $background);
    @include menu.mixin-menu-theme($palettes, $foreground, $background);
    @include overlay.mixin-overlay-theme($palettes, $foreground, $background);
    @include paginator.mixin-paginator-theme($palettes, $foreground, $background);
    @include progress.mixin-progress-theme($palettes, $foreground, $background);
    @include queue.mixin-queue-theme($palettes, $foreground, $background);
    @include radio.mixin-radio-theme($palettes, $foreground, $background);
    @include sidenav.mixin-sidenav-theme($palettes, $foreground, $background);
    @include stepper.mixin-stepper-theme($palettes, $foreground, $background);
    @include tabs.mixin-tabs-theme($palettes, $foreground, $background);
    @include table.mixin-table-theme($palettes, $foreground, $background);
    @include toolbar.mixin-toolbar-theme($palettes, $foreground, $background);

    .octo-holder {
        &.holder,
        .holder {
            background-color: gray;
        }
    }

    .octo-split-line {
        .line {
            border-color: map.get($foreground, "base");
        }
    }

    .octo-status {
        background-color: map.get($background, "card");
        color: map.get($foreground, "card");

        img {
            filter: drop-shadow(0 0 0.25rem black);
        }
    }
}
