@use "sass:map";
@use "accordion.theme" as accordion;
@use "badge.theme" as badge;
@use "button.theme" as button;
@use "carousel.theme" as carousel;
@use "express.theme" as express;
@use "label.theme" as label;
@use "matrix.theme" as matrix;
@use "menu.theme" as menu;
@use "overlay.theme" as overlay;
@use "overflow.theme" as overflow;
@use "progress.theme" as progress;
@use "ripple.theme" as ripple;
@use "sidenav.theme" as sidenav;
@use "tabs.theme" as tabs;
@use "toolbar.theme" as toolbar;

@mixin octopus-renderer-theme($theme) {
    $primary: map.get($theme, "primary");
    $accent: map.get($theme, "accent");
    $success: map.get($theme, "success");
    $warning: map.get($theme, "warning");
    $failure: map.get($theme, "failure");
    $foreground: map.get($theme, "foreground");
    $background: map.get($theme, "background");

    $colors: (
        "primary": $primary, "accent": $accent,
        "success": $success, "warning": $warning, "failure": $failure,
    );

    body {
        background-color: map.get($background, "base");
        color: map.get($foreground, "base");
    }

    $shadow-list: (0, 1, 2, 4, 8, 12, 16);
    @each $item in $shadow-list {
        .octo-shadow-#{$item} {
            box-shadow: 0 0 0.75rem 0 rgba(map.get($background, "base"), 0.75);
        }
    }

    @each $key, $value in $colors {
        .octo-active-#{$key},
        .octo-bg-#{$key} {
            background-color: $value !important;
        }
    }

    @include accordion.mixin-accordion-theme($colors, $foreground, $background);
    @include badge.mixin-badge-theme($colors, $foreground, $background);
    @include button.mixin-button-theme($colors, $foreground, $background);
    @include carousel.mixin-carousel-theme($colors, $foreground, $background);
    @include express.mixin-express-theme($colors, $foreground, $background);
    @include label.mixin-label-theme($colors, $foreground, $background);
    @include matrix.mixin-matrix-theme($colors, $foreground, $background);
    @include menu.mixin-menu-theme($colors, $foreground, $background);
    @include overlay.mixin-overlay-theme($colors, $foreground, $background);
    @include overflow.mixin-overflow-theme($colors, $foreground, $background);
    @include progress.mixin-progress-theme($colors, $foreground, $background);
    @include ripple.mixin-ripple-theme($colors, $foreground, $background);
    @include sidenav.mixin-sidenav-theme($colors, $foreground, $background);
    @include tabs.mixin-tabs-theme($colors, $foreground, $background);
    @include toolbar.mixin-toolbar-theme($colors, $foreground, $background);

    .octo-icon {
        @each $key, $value in $colors {
            &.octo-icon-#{$key} {
                color: $value;
            }
        }
    }

    .octo-holder {
        &.holder,
        .holder {
            background-color: gray;
        }
    }

    .octo-split-line {
        .line {
            border-color: map.get($foreground, "base");
        }
    }

    a.octo-queue-item {
        background-color: map.get($background, "queue");
        color: map.get($foreground, "queue");
    }

    .octo-status {
        background-color: map.get($background, "card");
        color: map.get($foreground, "card");

        img {
            filter: drop-shadow(0 0 0.25rem black);
        }
    }
}
