@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-progress-theme($palettes, $foreground, $background) {
    .octo-progress {
        .octo-progress-text {
            fill: map.get($foreground, 'base');
        }

        @each $key, $value in $palettes {
            &.octo-progress-#{$key} {
                &.octo-progress-bar {
                    .octo-progress-track {
                        fill: lighten(palette.fetch-color($value), 32%);
                    }

                    .octo-progress-index {
                        fill: darken(palette.fetch-color($value), 2%);
                    }
                }

                &.octo-progress-pie {
                    .octo-progress-track {
                        fill: transparent;
                        stroke: lighten(palette.fetch-color($value), 32%);
                    }

                    .octo-progress-index {
                        fill: transparent;
                        stroke: darken(palette.fetch-color($value), 2%);
                    }
                }
            }
        }
    }
}
