@use "sass:map";

@mixin mixin-radio-theme($colors, $foreground, $background) {
    .octo-radio {
        &.octo-radio-button {
            .octo-radio-button-wrapper {
                .octo-radio-input {
                    .octo-radio-mark {
                        color: map.get($foreground, 'base');
                    }
                }
            }

            @each $key, $value in $colors {
                &.octo-radio-button-#{$key} {
                    .octo-radio-button-wrapper {
                        &.active {
                            .octo-radio-input {
                                .octo-radio-mark {
                                    color: $value;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.octo-radio-toggle {
            .octo-radio-toggle-wrapper {
                .octo-check-input {
                    background-color: darken(map.get($background, "button"), 7.5%);
                    color: map.get($foreground, "button");
                }

                &.active {

                    background-color: lighten(map.get($background, "button"), 2.5%);
                    box-shadow: 0 0 0.75rem 0 rgba(map.get($background, "button"), 0.25) inset;
                }
            }

            @each $key, $value in $colors {
                &.octo-radio-toggle-#{$key} {
                    .octo-radio-toggle-wrapper {
                        background-color: darken($value, 7.5%);

                        &.active {
                            background-color: lighten($value, 2.5%);
                            box-shadow: 0 0 0.25rem 0 rgba($value, 0.75) inset;
                        }
                    }
                }
            }
        }
    }
}
