@use "sass:map";

@use "palette.theme" as palette;

@mixin mixin-tabs-theme($palettes, $foreground, $background) {
    .octo-tabbed-group {
        background-color: map.get($background, "tabs");

        .octo-tabbed-header {
            .octo-tabbed-ctrl {
                color: map.get($foreground, "tabs");
            }
        }
    }

    .octo-tabbed-header {
        .octo-tabbed-header-wrapper {
            .octo-tabbed-ctrl {
                color: map.get($foreground, "tabs");
            }

            .octo-tabbed-mark-track {
                .octo-tabbed-mark {
                    background-color: map.get($foreground, "tabs");
                }
            }
        }

        @each $key, $value in $palettes {
            &.octo-tabbed-header-#{$key} {
                .octo-tabbed-header-wrapper {
                    .octo-tabbed-mark-track {
                        .octo-tabbed-mark {
                            background-color: palette.fetch-color($value);
                        }
                    }
                }
            }
        }
    }
}
