@use "sass:map";

@mixin mixin-tabs-theme($colors, $foreground, $background) {
    .octo-tabbed-group {
        background-color: map.get($background, "tabs");

        .octo-tabbed-header {
            .octo-tabbed-ctrl {
                color: map.get($foreground, "tabs");
            }
        }
    }

    .octo-tabbed-header {
        .octo-tabbed-header-wrapper {
            .octo-tabbed-ctrl {
                color: map.get($foreground, "tabs");
            }

            .octo-tabbed-mark-track {
                .octo-tabbed-mark {
                    background-color: map.get($foreground, "tabs");
                }
            }
        }

        @each $key, $value in $colors {
            &.octo-tabbed-header-#{$key} {
                .octo-tabbed-header-wrapper {
                    .octo-tabbed-mark-track {
                        .octo-tabbed-mark {
                            background-color: $value;
                        }
                    }
                }
            }
        }
    }
}
