<div cdkAccordionItem class="octopus-expansion-panel-wrapper" #item="cdkAccordionItem">
    <!-- <div class="control" (click)="item.toggle()">
        <span class="octopus-accordion-item-subject">Accordion Item Subject</span>
        <span class="octopus-accordion-item-description flex-fill text-truncate">Accordion Item Description</span>
        <span class="material-icons" [@ICON_ROTATE]="item.expanded ? 'up' : 'down'">expand_circle_down</span>
    </div>
    <div class="content" [@CONTENT_COLLAPSE]="item.expanded ? 'show' : 'hide'">
        <ng-content></ng-content>
    </div> -->
    <ng-content select="octopus-expansion-panel-header"></ng-content>
    <ng-content select="octopus-expansion-panel-content"></ng-content>
</div>
<div class="octopus-expansion-panel-header-wrapper">
    <ng-content select="octopus-expansion-panel-icon"></ng-content>
    <ng-content select="[octopus-expansion-panel-subject]"></ng-content>
    <ng-content select="[octopus-expansion-panel-description]"></ng-content>
    <span class="material-icons">expand_circle_down</span>
</div>