<div class="d-flex flex-col-pos h-100">
    <octo-toolbar octoColor="primary" [(octoState)]="state">
        <a octo-toolbar-logo href="/">
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="" height="100%">
        </a>
    </octo-toolbar>
    <octo-sidenav-container octoColor="primary" [octoState]="state" octoMin="4rem" octoMax="17.5rem"
                            style="height: calc(100% - 4rem)">
        <ng-template octo-sidenav>
            <octo-nav-queue>
                <a octo-nav-queue-item [routerLink]="item.link" routerLinkActive="router-link-active-primary"
                   *ngFor="let item of matchLinks(state) | async">
                    <octo-icon octo-queue-icon>{{item.icon}}</octo-icon>
                    <span octo-queue-text>{{item.text}}</span>
                </a>
            </octo-nav-queue>
        </ng-template>
        <ng-template octo-sidenav-content>
            <div class="p-100"><router-outlet></router-outlet></div>
        </ng-template>
    </octo-sidenav-container>
</div>
