<div class="d-flex flex-column h-100">
    <!-- <app-demo-expansion-view></app-demo-expansion-view> -->
    <!-- <app-demo-icon-view></app-demo-icon-view> -->
    <!-- <app-demo-list-view></app-demo-list-view> -->
    <app-demo-tabbed-view></app-demo-tabbed-view>
    <!-- <octopus-layout-border>
        <octopus-border-top>TOP</octopus-border-top>
        <octopus-border-left style="width: 240px;height: calc(100vh - 18px * 2);">
            <octopus-list>
                <octopus-list-section headline="Components">
                    <a octopus-link-list-item icon="home" text="Badge" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Breadcrumb" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Button" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Card" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Carousel" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Chip" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Divider" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="List" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Progress" [routerLink]="[]"></a>
                </octopus-list-section>
                <octopus-list-section headline="Container"></octopus-list-section>
                <octopus-list-section headline="Form"></octopus-list-section>
                <octopus-list-section headline="Layout"></octopus-list-section>
                <octopus-list-section headline="Popup">
                    <a octopus-link-list-item icon="home" text="Dialog" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Menu" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Sheet" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Toast" [routerLink]="[]"></a>
                    <a octopus-link-list-item icon="home" text="Tooltip" [routerLink]="[]"></a>
                </octopus-list-section>
            </octopus-list>
        </octopus-border-left>
        <octopus-border-center>CENTER</octopus-border-center>
        <octopus-border-right>RIGHT</octopus-border-right>
        <octopus-border-bottom>BOTTOM</octopus-border-bottom>
    </octopus-layout-border> -->
</div>