<octopus-layout-border class="h-100" #border>
    <div octopus-border-cell position="north" #north>
        <octopus-navbar>
            <a octopus-navbar-brand routerLink="/octopus/dashboard">
                <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
            </a>
            <div class="flex-fill"></div>
            <button octopus-icon-button>
                <octopus-icon rounded="true">palette</octopus-icon>
            </button>
        </octopus-navbar>
    </div>
    <div octopus-border-cell position="east" class="overflow overflow-auto" style="width: 240px;"
        [style.height]="calcSize()">
        <octopus-nav-list>
            <a octopus-nav-list-item [routerLink]="['octopus', 'dashboard']" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }">
                <span octopus-list-text>Dashboard</span>
                <span octopus-list-icon class="material-icons">dashboard</span>
            </a>
            <h1 octopus-list-headline>Chart</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of chartList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
            <div octopus-divider class="mt-50"></div>
            <h1 octopus-list-headline>Component</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of componentList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
            <div octopus-divider class="mt-50"></div>
            <h1 octopus-list-headline>Container</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of containerList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
            <div octopus-divider class="mt-50"></div>
            <h1 octopus-list-headline>Form</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of formList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
            <div octopus-divider class="mt-50"></div>
            <h1 octopus-list-headline>Layout</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of layoutList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
            <div octopus-divider class="mt-50"></div>
            <h1 octopus-list-headline>Popup</h1>
            <a octopus-nav-list-item [routerLink]="item.paths" [routerLinkActive]="['router-base-link']"
                [routerLinkActiveOptions]="{ exact: true }" *ngFor="let item of popupList">
                <span octopus-list-text>{{item.text}}</span>
                <span octopus-list-icon class="material-icons"
                    [style.transform]="'rotate(' + (item.rotate === undefined ? 0 : item.rotate) + 'deg)'">{{item.icon}}</span>
            </a>
        </octopus-nav-list>
    </div>
    <div octopus-border-cell position="center" class="overflow overflow-auto" [style.height]="calcSize()">
        <router-outlet></router-outlet>
    </div>
</octopus-layout-border>