<octo-matrix octoCols="3" octoRatio="16:9">
    <octo-matrix-tile octoColor="success">
        <octo-matrix-tile-header>Success Matrix Tile Header IIIII</octo-matrix-tile-header>
        <octo-matrix-tile-footer>Success Matrix Tile Footer IIIII</octo-matrix-tile-footer>
        <img src="https://images.wallpaperscraft.com/image/single/drops_shapes_water_314322_1920x1080.jpg" alt=""
             width="100%">
    </octo-matrix-tile>
    <a octo-matrix-tile octoColor="warning">
        <octo-matrix-tile-header>Success Matrix Tile Header IIIII</octo-matrix-tile-header>
        <octo-matrix-tile-footer>Success Matrix Tile Footer IIIII</octo-matrix-tile-footer>
        <img src="https://images.wallpaperscraft.com/image/single/drops_shapes_water_314322_1920x1080.jpg" alt=""
             width="100%">
    </a>
    <octo-matrix-tile octoColor="failure">
        <octo-matrix-tile-header>Success Matrix Tile Header IIIII</octo-matrix-tile-header>
        <octo-matrix-tile-footer>Success Matrix Tile Footer IIIII</octo-matrix-tile-footer>
        <img src="https://images.wallpaperscraft.com/image/single/drops_shapes_water_314322_1920x1080.jpg" alt=""
             width="100%">
    </octo-matrix-tile>
</octo-matrix>
