<div class="d-flex flex-column mx-50">
    <h1 class="text-base">Navbar</h1>
    <octopus-navbar class="mb-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="primary" class="my-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="secondary" class="my-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="success" class="my-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="warning" class="my-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="failure" class="my-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
    <octopus-navbar color="info" class="mt-25">
        <button octopus-icon-button>
            <octopus-icon rounded="true">menu</octopus-icon>
        </button>
        <a octopus-navbar-brand>
            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
        </a>
        <div class="flex-fill"></div>
        <button octopus-icon-button rounded="true">
            <octopus-icon rounded="true">apps</octopus-icon>
        </button>
        <button octopus-icon-button>
            <octopus-icon rounded="true">notifications</octopus-icon>
        </button>
        <button octopus-icon-button>
            <img class="icon" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-256.png"
                alt="">
        </button>
    </octopus-navbar>
</div>