<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Basic Navbar" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex flex-column">
                    <octopus-navbar>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">menu</octopus-icon>
                        </button>
                        <a octopus-navbar-brand>
                            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
                        </a>
                        <div class="flex-fill"></div>
                        <button octopus-icon-button rounded="true">
                            <octopus-icon rounded="true">apps</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">notifications</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/40_social-256.png"
                                alt="">
                        </button>
                    </octopus-navbar>
                </div>
            </app-demo-section>
            <app-demo-section label="Navbar Color" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex flex-column">
                    <octopus-navbar [color]="item" [class.mb-25]="i === 0" [class.mt-25]="i === list.length - 1"
                        [class.my-25]="i > 0 && i < list.length - 1" *ngFor="let item of list; index as i">
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">menu</octopus-icon>
                        </button>
                        <a octopus-navbar-brand>
                            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
                        </a>
                        <div class="flex-fill"></div>
                        <button octopus-icon-button rounded="true">
                            <octopus-icon rounded="true">apps</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">notifications</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/40_social-256.png"
                                alt="">
                        </button>
                    </octopus-navbar>
                </div>
            </app-demo-section>
            <app-demo-section label="Navbar with Search" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex flex-column">
                    <octopus-navbar class="mb-50">
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">menu</octopus-icon>
                        </button>
                        <a octopus-navbar-brand>
                            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
                        </a>
                        <div class="flex-fill">
                            <octopus-navbar-search></octopus-navbar-search>
                        </div>
                        <button octopus-icon-button rounded="true">
                            <octopus-icon rounded="true">apps</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">notifications</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/40_social-256.png"
                                alt="">
                        </button>
                    </octopus-navbar>
                    <octopus-navbar [color]="item" [class.mb-25]="i === 0" [class.mt-25]="i === list.length - 1"
                        [class.my-25]="i > 0 && i < list.length - 1" *ngFor="let item of list; index as i">
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">menu</octopus-icon>
                        </button>
                        <a octopus-navbar-brand>
                            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
                        </a>
                        <div class="flex-fill">
                            <octopus-navbar-search></octopus-navbar-search>
                        </div>
                        <button octopus-icon-button rounded="true">
                            <octopus-icon rounded="true">apps</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">notifications</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/40_social-256.png"
                                alt="">
                        </button>
                    </octopus-navbar>
                </div>
            </app-demo-section>
            <app-demo-section label="Navbar with Breadcrumb" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex flex-column">
                    <octopus-navbar>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">menu</octopus-icon>
                        </button>
                        <a octopus-navbar-brand>
                            <img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
                        </a>
                        <octopus-breadcrumb style="height: 40px;">
                            <a octopus-breadcrumb-anchor icon="home" text="Anchor I"></a>
                            <a octopus-breadcrumb-anchor icon="home" text="Anchor II"></a>
                            <a octopus-breadcrumb-anchor icon="home" text="Anchor III"></a>
                        </octopus-breadcrumb>
                        <div class="flex-fill"></div>
                        <button octopus-icon-button rounded="true">
                            <octopus-icon rounded="true">apps</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <octopus-icon rounded="true">notifications</octopus-icon>
                        </button>
                        <button octopus-icon-button>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/40_social-256.png"
                                alt="">
                        </button>
                    </octopus-navbar>
                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>