.octopus-expansion-panel {
    .octopus-expansion-panel-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .octopus-expansion-panel-head {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            user-select: none;

            > :nth-child(n) {
                margin: 0 0.5rem;
            }

            > :first-child {
                margin-left: 0;
            }

            > :last-child {
                margin-right: 0;
            }
        }

        .octopus-expansion-panel-body {
            .octopus-expansion-panel-addon {
                .octopus-expansion-panel-addon-wrapper {
                    display: flex;
                    align-items: center;
                }
            }

            .octopus-expansion-panel-content .octopus-expansion-panel-content-wrapper,
            .octopus-expansion-panel-addon .octopus-expansion-panel-addon-wrapper {
                padding: 0.5rem;
            }
        }
    }
}

.octopus-expansion {
    .octopus-expansion-wrapper {
        .octopus-expansion-panel {
            &:first-child {
                .octopus-expansion-panel-wrapper {
                    border-radius: 3px 3px 0 0;
                }
            }

            &:last-child {
                .octopus-expansion-panel-wrapper {
                    border-radius: 0 0 3px 3px;
                }
            }

            &.expanded {
                &:nth-child(n) {
                    .octopus-expansion-panel-wrapper {
                        border-radius: 3px !important;
                        margin: 0.5rem 0;
                    }
                }

                &:first-child {
                    .octopus-expansion-panel-wrapper {
                        margin-top: 0;
                    }
                }

                &:last-child {
                    .octopus-expansion-panel-wrapper {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@mixin expansion-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );
    .octopus-expansion {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-expansion {
                @if $name == "base" {
                    $color: map-get($value, "expansion");

                    .octopus-expansion-panel {
                        .octopus-expansion-panel-wrapper {
                            .octopus-icon {
                                background-color: lighten($color, 7.5%);
                            }

                            .octopus-expansion-panel-head {
                                background-color: darken($color, 7.5%);
                            }

                            .octopus-expansion-panel-body {
                                background-color: $color;
                            }
                        }
                    }
                } @else {
                    $color: map-get($value, "value");

                    .octopus-expansion-panel {
                        .octopus-expansion-panel-wrapper {
                            .octopus-icon {
                                background-color: lighten($color, 7.5%);
                            }

                            .octopus-expansion-panel-head {
                                background-color: $color;
                            }

                            .octopus-expansion-panel-body {
                                background-color: lighten($color, 15%);
                            }
                        }
                    }
                }
            }
        }

        .octopus-expansion-panel-wrapper {
            color: $foreground;
        }
    }
}
