.octopus-stepper {
    .octopus-stepper-wrapper {
        display: flex;
        flex-direction: column;

        .octopus-stepper-head {
            display: flex;
            align-items: center;

            .octopus-step-header {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 1rem;

                .octopus-step-header-logo {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 0.25rem;
                    width: 2rem;
                    height: 2rem;
                }
            }

            .octopus-step-line {
                border-style: solid;
                border-width: 1px;
                flex: auto;
            }
        }

        .octopus-stepper-body {
            padding: 0.5rem;
        }

        .octopus-stepper-foot {
            overflow: hidden;

            .octopus-stepper-action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;

                > :nth-child(n) {
                    margin: 0 0.25rem;
                }

                > :first-child {
                    margin-left: 0;
                }

                > :last-child {
                    margin-right: 0;
                }
            }
        }

        .octopus-divider {
            margin: 0;
        }
    }
}

@mixin stepper-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );

    .octopus-stepper {
        @each $name, $value in $color-list {
            &.octopus-#{$name}-stepper {
                @if $name == "base" {
                    $color: map-get($value, "tabbed");

                    .octopus-stepper-wrapper {
                        background-color: $color;

                        .octopus-step-header {
                            .octopus-step-header-logo {
                                background-color: lighten($color, 15%);
                            }

                            &:hover {
                                background-color: lighten($color, 7.5%);
                            }
                        }

                        .octopus-step-line {
                            border-color: rgba($foreground, 0.25);
                        }
                    }
                } @else {
                    $color: map-get($value, "value");

                    .octopus-stepper-wrapper {
                        background-color: $color;

                        .octopus-step-header {
                            .octopus-step-header-logo {
                                background-color: lighten($color, 15%);
                            }

                            &:hover {
                                background-color: lighten($color, 7.5%);
                            }
                        }

                        .octopus-step-line {
                            border-color: lighten($color, 25%);
                        }
                    }
                }
            }
        }

        color: $foreground;
    }
}
