.octopus-tabbed {
    .octopus-tabbed-wrapper {
        display: flex;

        &.top {
            flex-direction: column;
        }

        &.bottom {
            flex-direction: column-reverse;
        }

        .octopus-tabbed-control {
            border-style: solid;
            box-sizing: border-box;
            display: flex;

            .octopus-tabbed-control-tabs {
                display: flex;
                align-items: center;
                flex: auto;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .octopus-tabbed-control-tab {
                    border-style: solid;
                    box-sizing: border-box;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    min-width: 12rem;
                    max-width: 15rem;
                    transition: border-color 1000ms ease-in-out;

                    > :nth-child(n) {
                        margin: 0 0.25rem;
                    }

                    > :first-child {
                        margin-left: 0;
                    }

                    > :last-child {
                        margin-right: 0;
                    }
                }
            }

            .octopus-button {
                border-radius: 0;
            }

            &.top {
                border-width: 0 0 1px;

                .octopus-tabbed-control-tab {
                    border-width: 0 0 2px;
                }
            }

            &.bottom {
                border-width: 1px 0 0;

                .octopus-tabbed-control-tab {
                    border-width: 2px 0 0;
                }
            }
        }

        .octopus-tabbed-content {
            padding: 0.5rem;
        }
    }
}

@mixin tabbed-mixin($primary, $secondary, $success, $warning, $failure, $info, $foreground, $background) {
    $color-list: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        warning: $warning,
        failure: $failure,
        info: $info,
        base: $background,
    );
    .octopus-tabbed {
        .octopus-tabbed-wrapper {
            background-color: map-get($background, "tabbed");
            color: $foreground;
        }

        @each $name, $value in $color-list {
            &.octopus-#{$name}-tabbed {
                @if $name == "base" {
                    .octopus-tabbed-control {
                        border-color: rgba($foreground, 0.25);

                        .octopus-tabbed-control-tab {
                            border-color: rgba($foreground, 0);

                            &.active {
                                border-color: rgba($foreground, 1);
                            }

                            .octopus-icon {
                                background-color: rgba($foreground, 0.25);
                            }
                        }
                    }
                } @else {
                    $color: map-get($value, "value");

                    .octopus-tabbed-control {
                        border-color: rgba($color, 0.25) !important;

                        .octopus-tabbed-control-tab {
                            border-color: rgba($color, 0) !important;

                            &.active {
                                border-color: rgba($color, 1) !important;
                            }

                            .octopus-icon {
                                background-color: $color !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
