$primary: mat-palette($mat-deep-orange, 500, 100, 900);
$accent: mat-palette($mat-purple, 500, 100, 900);
$warn: mat-palette($mat-pink, A400, A200, A700);

$orange-dark-theme: mat-dark-theme($primary, $accent, $warn);
$orange-light-theme: mat-light-theme($primary, $accent, $warn);
