$primary: mat-palette($mat-deep-purple, 500, 100, 900);
$accent: mat-palette($mat-orange, 500, 100, 900);
$warn: mat-palette($mat-pink, A400, A200, A700);

$violet-dark-theme: mat-dark-theme($primary, $accent, $warn);
$violet-light-theme: mat-light-theme($primary, $accent, $warn);
