<div class="video-wrapper p-50">
    <section class="section-brand {{i === 0 ? '' : 'mt-200'}}" *ngFor="let item of sections; index as i">
        <div class="display-flex align-items-center">
            <span class="avatar p-50 mr-50">
                <img [src]="'../../../assets/images/logo-short.png'" alt="" width="100%">
            </span>
            <h3 class="mat-title flex-grow-1 flex-shrink-1 flex-basis-auto ml-50 my-0">Brand Name {{i + 1}}</h3>
            <button mat-raised-button color="primary">Subscribe</button>
        </div>
        <mat-divider class="my-100"></mat-divider>
        <div class="container display-grid g-50">
            <mat-card class="mat-elevation-z0" *ngFor="let item of units">
                <app-widgets-unit-holder></app-widgets-unit-holder>
            </mat-card>
        </div>
    </section>
</div>