<div class="video-wrapper display-grid g-50 p-50" #layout>
    <div [style.grid-column]="'1 / 3'">
        <app-widgets-vplayer [poster]="'tests/image/big_buck_bunny_poster.jpg'"
            [source]="'tests/media/test_video_1080p.mp4'" (current)="listenCurrentTimeChange($event)">
        </app-widgets-vplayer>
    </div>
    <mat-card class="meta media-meta mat-elevation-z0 p-0">
        <mat-card-title-group class="header p-100">
            <mat-card-title class="font-size-16 text-overflow" [matTooltip]="'Video Title'"
                [matTooltipClass]="'bg-share'">Video Title</mat-card-title>
            <mat-card-subtitle class="font-size-10 display-flex justify-content-space-between mt-100 mb-0">
                <span class="text-overflow flex-grow-1 flex-shrink-1 flex-basis-auto">Video Subtitle</span>
                <span class="mx-100">Watch: 0</span>
                <span>Date: {{createTime | date: 'yyyy-MM-dd'}}</span>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content class="font-size-12 text-align-justify p-100 my-0">
            Video Description Video Description Video
            Description Video Description Video Description Video Description Video Description Video Description Video
            Description Video Description Video Description Video Description Video Description Video Description Video
            Description
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="display-flex justify-content-space-around align-items-center px-100 m-0">
            <button mat-button [matTooltip]="'Like'" [matTooltipClass]="'bg-share'" [style.width]="'84px'"
                [style.height]="'84px'">
                <div class="display-flex flex-column justify-content-center align-items-center pt-100">
                    <mat-icon>thumb_up</mat-icon>
                    <span>Like</span>
                </div>
            </button>
            <button mat-button [matTooltip]="'Hate'" [matTooltipClass]="'bg-share'" [style.width]="'84px'"
                [style.height]="'84px'">
                <div class="display-flex flex-column justify-content-center align-items-center pt-100">
                    <mat-icon>thumb_down</mat-icon>
                    <span>Dislike</span>
                </div>
            </button>
            <button mat-button [style.width]="'84px'" [style.height]="'84px'">
                <div class="display-flex flex-column justify-content-center align-items-center pt-100">
                    <mat-icon>share</mat-icon>
                    <span>Share</span>
                </div>
            </button>
            <button mat-button [style.width]="'84px'" [style.height]="'84px'">
                <div class="display-flex flex-column justify-content-center align-items-center pt-100">
                    <mat-icon>library_add</mat-icon>
                    <span>Store</span>
                </div>
            </button>
            <button mat-button [style.width]="'84px'" [style.height]="'84px'">
                <div class="display-flex flex-column justify-content-center align-items-center pt-100">
                    <mat-icon>download</mat-icon>
                    <span>Download</span>
                </div>
            </button>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-footer class="p-100 m-0">
            <mat-chip-list>
                <mat-chip color="accent" selected>Tag One</mat-chip>
                <mat-chip color="accent" selected>Tag Two</mat-chip>
                <mat-chip color="accent" selected>Tag Three</mat-chip>
                <mat-chip color="accent" selected>Tag Four</mat-chip>
                <mat-chip color="accent" selected>Tag Five</mat-chip>
                <mat-chip color="accent" selected>Tag Six</mat-chip>
                <mat-chip color="accent" selected>Tag Seven</mat-chip>
                <mat-chip color="accent" selected>Tag Eight</mat-chip>
                <mat-chip color="accent" selected>Tag Nine</mat-chip>
                <mat-chip color="accent" selected>Tag Ten</mat-chip>
            </mat-chip-list>
        </mat-card-footer>
    </mat-card>
    <mat-card class="meta brand-meta mat-elevation-z0 p-0">
        <mat-card-title-group class="header p-100">
            <img mat-card-sm-image class="avatar mat-elevation-z4 border-radius-circle ml-100"
                [src]="'assets/images/profile.png'" alt="">
            <mat-card-title class="font-size-16 text-overflow">Brand Name</mat-card-title>
            <mat-card-subtitle
                class="font-size-10 display-flex justify-content-space-between align-items-center mt-100 m-0">
                <span>Subscribed: 0</span>
                <button mat-raised-button color="accent">
                    <mat-icon>notifications</mat-icon>
                    Subscribe
                </button>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content class="font-size-12 p-100">Brand Description</mat-card-content>
    </mat-card>
    <mat-card class="meta comment-meta mat-elevation-z0 p-0">
        <mat-card-content class="header font-size-16 p-100 m-0">Comments</mat-card-content>
        <mat-card-content class="p-100 my-0">
            <mat-form-field class="w-100" [floatLabel]="'never'" [appearance]="'outline'">
                <textarea matInput maxlength="400" placeholder="Enter your comment." cdkTextareaAutosize
                    cdkAutosizeMinRows="6" cdkAutosizeMaxRows="6" #comments></textarea>
                <mat-hint align="end">{{comments.value?.length || 0}}/400</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="action display-flex align-items-center px-100 m-0">
            <span class="avatar bg-share border-radius-circle p-25">
                <img class="border-radius-circle" [src]="'assets/images/profile.png'" alt="" width="100%">
            </span>
            <span class="flex-grow-1 flex-shrink-1 flex-basis-auto mx-100">Brand Name</span>
            <button mat-icon-button class="mx-50">
                <mat-icon>mood</mat-icon>
            </button>
            <button mat-raised-button color="primary" class="mx-0">Submit</button>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-footer class="p-100 m-0">Comments Tree Heap</mat-card-footer>
    </mat-card>
    <div class="chat-list display-flex flex-column">
        <mat-card class="meta mat-elevation-z0 p-0 mb-25">
            <mat-card-content
                class="header font-size-16 display-flex justify-content-space-between align-items-center p-100 m-0">
                <span>Chat Replay</span>
                <button mat-icon-button>
                    <mat-icon>tune</mat-icon>
                </button>
            </mat-card-content>
            <mat-card-content class="m-0">
                <app-widgets-chat-queue [size]="480" [message]="message" [(queue)]="queue"></app-widgets-chat-queue>
            </mat-card-content>
            <!-- <mat-divider></mat-divider>
            <mat-card-actions class="display-flex align-items-center px-100 py-50 m-0">
                <mat-form-field class="flex-grow-1 flex-shrink-1 flex-basis-auto mr-50">
                    <mat-label>Text & Emoji</mat-label>
                    <input matInput [(ngModel)]="content" type="text" maxlength="100"
                        placeholder="Enter your text and emoji" #text>
                    <button mat-icon-button matSuffix (click)="content = ''" *ngIf="content">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint align="end">{{text.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <button mat-icon-button class="mr-50">
                    <mat-icon>emoji_emotions</mat-icon>
                </button>
                <button mat-raised-button color="primary" class="mx-0"
                    (click)="handleSendMessageAction($event)">Send</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-card class="meta mat-elevation-z0 flex-grow-1 flex-shrink-1 flex-basis-auto p-0 mt-25">
            <mat-card-content class="header font-size-16 p-100 m-0">Recommendation</mat-card-content>
            <mat-card-content class="m-0" [style.height]="'calc(100% - 51px)'">
                <mat-nav-list class="p-0">
                    <a mat-list-item [routerLink]="['/']">Item 1</a>
                    <a mat-list-item [routerLink]="['/']">Item 2</a>
                    <a mat-list-item [routerLink]="['/']">Item 3</a>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>