.octopus-layout-border {
    .octopus-layout-border-wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        width: inherit;
        height: inherit;

        .north {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }

        .south {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
        }

        .east {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .center {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .west {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    }
}
