.octopus-layout-border {
    height: 100%;

    .octopus-layout-border-wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        height: inherit;

        .octopus-border-top,
        .octopus-border-bottom,
        .octopus-border-left,
        .octopus-border-right,
        .octopus-border-center {
            .octopus-border-top-wrapper,
            .octopus-border-bottom-wrapper,
            .octopus-border-left-wrapper,
            .octopus-border-right-wrapper,
            .octopus-border-center-wrapper {
                width: inherit;
                height: inherit;
            }
        }

        .octopus-border-left,
        .octopus-border-right,
        .octopus-border-center {
            .octopus-border-left-wrapper,
            .octopus-border-right-wrapper,
            .octopus-border-center-wrapper {
                overflow: auto;
            }
        }
    }
}
