<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Margin" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(2, 1fr);gap: 0.5rem;place-items: center;">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="4" avatarShape="square">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="4" avatarShape="circle">
                </div>
            </app-demo-section>
            <app-demo-section label="Shadow" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(4, 1fr);gap: 0.5rem;place-items: center;">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="4" avatarShadow="true" avatarShape="square">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="4" avatarShadow="true" avatarShape="circle">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="0" avatarShadow="true" avatarShape="square">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarMargin="0" avatarShadow="true" avatarShape="circle">
                </div>
            </app-demo-section>
            <app-demo-section label="Size" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(4, 1fr);gap: 0.5rem;place-items: center;">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="circle" avatarSize="small">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="circle" avatarSize="medium">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="circle" avatarSize="large">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="circle" avatarSize="extra">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="square" avatarSize="small">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="square" avatarSize="medium">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="square" avatarSize="large">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="square" avatarSize="extra">
                </div>
            </app-demo-section>
            <app-demo-section label="Shape" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(2, 1fr);gap: 0.5rem;place-items: center;">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="square">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/28_social-256.png" alt=""
                        octopus-avatar avatarShape="circle">
                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>