<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Basic Chip" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(2, 1fr);gap: 0.5rem;place-items: stretch;">
                    <octopus-chip removable="false" class="w-100">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="primary">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Chip
                    </octopus-chip>
                </div>
            </app-demo-section>
            <app-demo-section label="Chip Color" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(3, 1fr);gap: 0.5rem;place-items: stretch;">
                    <octopus-chip class="w-100" color="base" style="grid-column: 1 / 4;">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Base Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="primary">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Primary Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="secondary">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Secondary Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="success">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Success Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="warning">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Warning Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="failure">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Failure Chip
                    </octopus-chip>
                    <octopus-chip class="w-100" color="info">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Info Chip
                    </octopus-chip>
                    <octopus-chip color="base" removable="true" class="w-100" style="grid-column: 1 / 4;">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Base Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="primary">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Primary Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="secondary">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Secondary Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="success">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Success Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="warning">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Warning Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="failure">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Failure Chip
                    </octopus-chip>
                    <octopus-chip removable="true" class="w-100" color="info">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png" alt=""
                            octopus-chip-icon>
                        Removable Info Chip
                    </octopus-chip>
                </div>
            </app-demo-section>
            <app-demo-section label="Chip Stack" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <div class="d-grid" style="grid-template-columns: repeat(4, 1fr);gap: 0.5rem;place-items: stretch;">
                        <button octopus-button color="base" (click)="handleAddActionEvent('base')"
                            style="grid-column: 1 / 3;">Add Base Chip</button>
                        <button octopus-button color="primary" (click)="handleAddActionEvent('primary')">Add Primary
                            Chip</button>
                        <button octopus-button color="secondary" (click)="handleAddActionEvent('secondary')">Add
                            Secondary Chip</button>
                        <button octopus-button color="success" (click)="handleAddActionEvent('success')">Add Success
                            Chip</button>
                        <button octopus-button color="warning" (click)="handleAddActionEvent('warning')">Add Warning
                            Chip</button>
                        <button octopus-button color="failure" (click)="handleAddActionEvent('failure')">Add Failure
                            Chip</button>
                        <button octopus-button color="info" (click)="handleAddActionEvent('info')">Add Info
                            Chip</button>
                    </div>
                    <octopus-chip-stack>
                        <octopus-chip [color]="item.color === undefined ? 'base' : item.color"
                            [removable]="item.removable === undefined ? false : item.removable"
                            (remove)="handleRemoveActionEvent(item)" *ngFor="let item of list">
                            <img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png"
                                alt="" octopus-chip-icon>
                            {{item.text}}
                        </octopus-chip>
                    </octopus-chip-stack>

                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>