<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Horizontal Divider" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex">
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50"></div>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50"></div>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50"></div>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50"></div>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                </div>
            </app-demo-section>
            <app-demo-section label="Horizontal Divider with Text" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex">
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50">Horizontal Divider Line</div>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50">Horizontal Divider Line</div>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50">Horizontal Divider Line</div>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <div octopus-divider divDir="horizontal" class="mb-50">Horizontal Divider Line</div>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                </div>
            </app-demo-section>
            <app-demo-section label="Vertical Divider" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex">
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                    <div octopus-divider divDir="vertical"></div>
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                </div>
            </app-demo-section>
            <app-demo-section label="Vertical Divider with Text" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-flex">
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                    <div octopus-divider divDir="vertical">Vertical Divider Line</div>
                    <article>
                        <p class="octopus-paragraph text-justify">Originally created by a designer and a developer at
                            Twitter,
                            Bootstrap has become one of the most popular front-end frameworks and open source projects
                            in the world.</p>
                        <p class="octopus-paragraph text-justify">Bootstrap was created at Twitter in mid-2010 by @mdo
                            and @fat.
                            Prior to being an open-sourced framework, Bootstrap was known as Twitter Blueprint. A few
                            months into development, Twitter held its first Hack Week and the project exploded as
                            developers of all skill levels jumped in without any external guidance. It served as the
                            style guide for internal tools development at the company for over a year before its public
                            release, and continues to do so today.</p>
                        <p class="octopus-paragraph text-justify">Originally released on Friday, August 19, 2011, we’ve
                            since had
                            over twenty releases, including two major rewrites with v2 and v3. With Bootstrap 2, we
                            added responsive functionality to the entire framework as an optional stylesheet. Building
                            on that with Bootstrap 3, we rewrote the library once more to make it responsive by default
                            with a mobile first approach.</p>
                        <p class="octopus-paragraph text-justify">With Bootstrap 4, we once again rewrote the project to
                            account for
                            two key architectural changes: a migration to Sass and the move to CSS’s flexbox. Our
                            intention is to help in a small way to move the web development community forward by pushing
                            for newer CSS properties, fewer dependencies, and new technologies across more modern
                            browsers.</p>
                        <p class="octopus-paragraph text-justify">Our latest release, Bootstrap 5, focuses on improving
                            v4’s codebase
                            with as few major breaking changes as possible. We improved existing features and
                            components, removed support for older browsers, dropped jQuery for regular JavaScript, and
                            embraced more future-friendly technologies like CSS custom properties as part of our
                            tooling.</p>
                    </article>
                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>