<octopus-tabbed>
    <octopus-tabbed-unit text="Overview"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Document"></octopus-tabbed-unit>
    <octopus-tabbed-unit text="Example">
        <div class="d-flex flex-column">
            <app-demo-section label="Basic List" class="mb-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <octopus-list>
                        <octopus-list-item>List Item I</octopus-list-item>
                        <octopus-list-item>List Item II</octopus-list-item>
                        <octopus-list-item>List Item III</octopus-list-item>
                    </octopus-list>
                </div>
            </app-demo-section>
            <app-demo-section label="List with Divider" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <octopus-list>
                        <octopus-list-item>List Item I</octopus-list-item>
                        <div octopus-divider></div>
                        <octopus-list-item>List Item II</octopus-list-item>
                        <div octopus-divider></div>
                        <octopus-list-item>List Item III</octopus-list-item>
                    </octopus-list>
                </div>
            </app-demo-section>
            <app-demo-section label="Complex List Item" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <octopus-list>
                        <octopus-list-item>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png"
                                alt="">
                            <span octopus-list-item-title>List Item Title I</span>
                            <span octopus-list-item-subtitle>List Item Subtitle I</span>
                            <span octopus-list-item-duration>2 hours ago</span>
                            <span octopus-list-item-content>List Item Content I</span>
                            <div octopus-list-item-addon>
                                <button octopus-button color="base">
                                    <octopus-icon color="base" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="primary">
                                    <octopus-icon color="primary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="secondary">
                                    <octopus-icon color="secondary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                            </div>
                            <div octopus-list-item-media>
                                <img src="https://images.wallpaperscraft.com/image/single/balloons_sky_hills_221364_1280x720.jpg"
                                    alt="" width="100%">
                            </div>
                        </octopus-list-item>
                        <div octopus-divider></div>
                        <octopus-list-item>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png"
                                alt="">
                            <span octopus-list-item-title>List Item Title II</span>
                            <span octopus-list-item-subtitle>List Item Subtitle II</span>
                            <span octopus-list-item-duration>2 hours ago</span>
                            <span octopus-list-item-content>List Item Content II</span>
                            <div octopus-list-item-addon>
                                <button octopus-button color="base">
                                    <octopus-icon color="base" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="primary">
                                    <octopus-icon color="primary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="secondary">
                                    <octopus-icon color="secondary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                            </div>
                            <div octopus-list-item-media>
                                <img src="https://images.wallpaperscraft.com/image/single/balloons_sky_hills_221364_1280x720.jpg"
                                    alt="" width="100%">
                            </div>
                        </octopus-list-item>
                        <div octopus-divider></div>
                        <octopus-list-item>
                            <img octopus-avatar
                                src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/36_social-256.png"
                                alt="">
                            <span octopus-list-item-title>List Item Title III</span>
                            <span octopus-list-item-subtitle>List Item Subtitle III</span>
                            <span octopus-list-item-duration>2 hours ago</span>
                            <span octopus-list-item-content>List Item Content III</span>
                            <div octopus-list-item-addon>
                                <button octopus-button color="base">
                                    <octopus-icon color="base" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="primary">
                                    <octopus-icon color="primary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                                <button octopus-button color="secondary">
                                    <octopus-icon color="secondary" class="mr-50">home</octopus-icon>
                                    Action
                                </button>
                            </div>
                            <div octopus-list-item-media>
                                <img src="https://images.wallpaperscraft.com/image/single/balloons_sky_hills_221364_1280x720.jpg"
                                    alt="" width="100%">
                            </div>
                        </octopus-list-item>
                    </octopus-list>
                </div>
            </app-demo-section>
            <app-demo-section label="Navigation List" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <octopus-nav-list>
                        <a octopus-nav-list-item itemText="Navigation List Item I">
                            <octopus-icon>home</octopus-icon>
                        </a>
                        <a octopus-nav-list-item itemText="Navigation List Item II">
                            <octopus-icon>home</octopus-icon>
                        </a>
                        <a octopus-nav-list-item itemText="Navigation List Item III">
                            <octopus-icon>home</octopus-icon>
                        </a>
                    </octopus-nav-list>
                </div>
            </app-demo-section>
            <app-demo-section label="Selection List" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot>
                    <octopus-select-list>
                        <octopus-select-list-item>Navigation List Item I</octopus-select-list-item>
                        <octopus-select-list-item>Navigation List Item II</octopus-select-list-item>
                        <octopus-select-list-item>Navigation List Item III</octopus-select-list-item>
                    </octopus-select-list>
                </div>
            </app-demo-section>
            <app-demo-section label="Selection List Color" class="my-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(3, 1fr);gap: 0.5rem;place-items: stretch;">
                    <octopus-select-list [color]="format(item)" *ngFor="let item of list">
                        <octopus-select-list-item>{{item}} Navigation List Item I</octopus-select-list-item>
                        <octopus-select-list-item>{{item}} Navigation List Item II</octopus-select-list-item>
                        <octopus-select-list-item>{{item}} Navigation List Item III</octopus-select-list-item>
                    </octopus-select-list>
                </div>
            </app-demo-section>
            <app-demo-section label="Single & Multiple Selection List" class="mt-100">
                <div section-code>
                    <octopus-tabbed>
                        <octopus-tabbed-unit text="HTML"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="SCSS"></octopus-tabbed-unit>
                        <octopus-tabbed-unit text="TS"></octopus-tabbed-unit>
                    </octopus-tabbed>
                </div>
                <div section-foot class="d-grid"
                    style="grid-template-columns: repeat(2, 1fr);gap: 0.5rem;place-items: stretch;">
                    <div class="d-flex flex-column">
                        <octopus-select-list multiple="false" #monoSelect>
                            <octopus-select-list-item>Navigation List Item I</octopus-select-list-item>
                            <octopus-select-list-item>Navigation List Item II</octopus-select-list-item>
                            <octopus-select-list-item>Navigation List Item III</octopus-select-list-item>
                        </octopus-select-list>
                        <div octopus-divider></div>
                        <span class="octopus-caption px-50">Single Selection:
                            {{monoSelect.selection.selected.length}}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <octopus-select-list multiple="true" #multSelect>
                            <octopus-select-list-item>Navigation List Item I</octopus-select-list-item>
                            <octopus-select-list-item>Navigation List Item II</octopus-select-list-item>
                            <octopus-select-list-item>Navigation List Item III</octopus-select-list-item>
                        </octopus-select-list>
                        <div octopus-divider></div>
                        <span class="octopus-caption px-50">Multiple Selection:
                            {{multSelect.selection.selected.length}}</span>
                    </div>
                </div>
            </app-demo-section>
        </div>
    </octopus-tabbed-unit>
</octopus-tabbed>