* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--typography-body-1);

    &:not(head, span) {
        display: block;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        user-select: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}