@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");

@import "./utilities/border.style.scss";
@import "./utilities/display.style.scss";
@import "./utilities/flex.style.scss";
@import "./utilities/gap.style.scss";
@import "./utilities/popup.style.scss";
@import "./utilities/size.style.scss";
@import "./utilities/text.style.scss";

@import "./global/views.style.scss";
@import "./global/widgets.style.scss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html,
body {
    font-family: "Noto Sans SC", sans-serif;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.rotate-icon {
    animation-name: rotate;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes rotate {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
