// @import url(https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone);
@import "./icons/full.scss";
// @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap);
@import "./fonts/noto-sans-sc.scss";
@import "~@angular/cdk/overlay-prebuilt.css";

@import "./utilities/border.style.scss";
@import "./utilities/display.style.scss";
@import "./utilities/flex.style.scss";
@import "./utilities/gap.style.scss";
@import "./utilities/popup.style.scss";
@import "./utilities/size.style.scss";
@import "./utilities/text.style.scss";

@import "./global/views.style.scss";
@import "./global/widgets.style.scss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html,
body {
    // font-family: "Noto Sans SC", sans-serif;
    // font-size: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;

    .wrapper {
        min-width: 1440px;
        max-width: 1920px;
        width: 100%;
    }
}

a {
    &.none {
        text-decoration: none;
    }
}

.rotate-icon {
    animation-name: rotate;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes rotate {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.bg-texture {
    background-image: url(/app/assets/images/texture.png) !important;
    background-position: center !important;
    background-repeat: repeat !important;
    background-size: contain !important;
    background-origin: content-box !important;
}
