@mixin mode-match($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    body {
        background-color: mat-color($primary);

        &:-webkit-full-screen {
            .scroll-share {
                &:hover {
                    &::-webkit-scrollbar-thumb {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    .mat-drawer-inner-container,
    .scroll-share {
        &::-webkit-scrollbar-corner,
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: mat-color($primary, 300);
            }
        }
    }
    /**************************************************************************************************************************************
     * Popup Style: Alert, Dialog, Menu
     * Alert Class: popup-alert
     * Dialog Class: popup-dialog
     * Menu Class: popup-menu
     **************************************************************************************************************************************/
    .popup-alert {
        background-color: mat-color($warn);

        .alert-wrapper {
            color: mat-color($accent);
        }
    }

    .popup-dialog {
        .mat-dialog-container {
            .mat-dialog-title {
                background-color: mat-color($primary);
                color: white;

                .mat-icon {
                    color: white;
                }
            }
        }
    }

    .popup-dialog-mask {
        background: radial-gradient(ellipse at center, mat-color($primary, 900), mat-color($accent, 600)),
            radial-gradient(ellipse at center, mat-color($accent, 900), mat-color($primary, 600));
    }

    .signup {
        .signup-title {
            background-color: mat-color($primary);
            color: white;

            .mat-icon {
                color: white;
            }
        }
    }

    .video-player {
        background-color: black;

        .player-wrapper {
            .player-board {
                .player-control {
                    background-color: rgba($color: black, $alpha: 0.5);
                    color: mat-color($primary, 100);
                }
            }

            .player-overlay {
                background-color: mat-color($primary, 900) !important;
            }

            // .container {
            //     .drawer {
            //         .mat-drawer-inner-container {
            //             .player-list {
            //                 .list-head {
            //                     background-color: mat-color($primary);
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }

    .video {
        .video-wrapper {
            .meta {
                .header {
                    background-color: mat-color($primary);
                }
            }
        }
    }

    .media-tracker {
        .tracker-wrapper {
            .slider {
                &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) {
                    .mat-slider-wrapper {
                        .mat-slider-thumb-container {
                            .mat-slider-thumb {
                                border-color: mat-color($primary);
                                background-color: mat-color($primary);
                            }
                        }
                    }
                }
            }
        }
    }

    .notice-list {
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: mat-color($primary, 300);
            }
        }
    }

    .section-account-avatar {
        .metadata {
            border-color: mat-color($accent, 100);

            th {
                background-color: mat-color($accent);
            }

            td {
                background-color: mat-color($accent, 300);
            }

            th,
            td {
                border-color: mat-color($accent, 100);
                color: white;
            }
        }
    }

    .welcome,
    .audio,
    .video {
        .welcome-wrapper,
        .audio-wrapper,
        .video-wrapper {
            .section-brand {
                .avatar {
                    background-color: mat-color($primary);
                }
            }
        }
    }

    .holder {
        .holder-wrapper {
            &.root-box {
                animation: color-change 2.5s infinite;
            }

            .holder-box,
            .holder-pie,
            .holder-bar,
            .holder-half-bar {
                animation: color-change 2.5s infinite;
            }
        }

        .holder-unit {
            animation-name: color-change;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @keyframes color-change {
            0% {
                background-color: mat-color($primary, 100);
            }
            50% {
                background-color: mat-color($primary, 200);
            }
            100% {
                background-color: mat-color($primary, 100);
            }
        }
    }

    .carousel {
        .carousel-wrapper {
            .orbit-bar {
                .orbit {
                    background-color: mat-color($primary);

                    &.active {
                        background-color: mat-color($accent);
                    }
                }
            }
        }
    }

    .chat-list {
        .ltr {
            .mat-list-item-content {
                .avatar,
                .content {
                    background-color: mat-color($primary);
                }
            }
        }

        .rtl {
            .mat-list-item-content {
                .avatar,
                .content {
                    background-color: mat-color($accent);
                }
            }
        }
    }

    .bg-theme-lang {
        background-color: mat-color($primary);
    }

    .bg-error {
        background: linear-gradient(to right bottom, mat-color($primary, 900), mat-color($accent, 900));

        .mat-card {
            background-color: mat-color($primary, 800);
            color: white;
        }
    }

    .bg-signup {
        background: linear-gradient(to right bottom, mat-color($primary, 900), mat-color($accent, 900));

        .mat-card {
            .signup-scroll {
                background-color: mat-color($primary, 800);
                color: white;

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }

                &:hover {
                    &::-webkit-scrollbar-thumb {
                        background-color: mat-color($primary, 300);
                    }
                }
            }
        }
    }

    $code-list: 100 200 300 400 500 600 700 800 900;

    @each $item in $code-list {
        .bg-pshare-#{$item} {
            background-color: mat-color($primary, $item);
            color: white;
        }

        .bg-ashare-#{$item} {
            background-color: mat-color($accent, $item);
            color: white;
        }

        .bg-wshare-#{$item} {
            background-color: mat-color($warn, $item);
            color: white;
        }

        .bc-pshare-#{$item} {
            border-color: mat-color($primary, $item);
        }

        .bc-ashare-#{$item} {
            border-color: mat-color($accent, $item);
        }

        .bc-wshare-#{$item} {
            border-color: mat-color($warn, $item);
        }
    }

    .bg-pshare {
        background-color: mat-color($primary);
        color: white;
    }

    .bg-ashare {
        background-color: mat-color($accent);
        color: white;
    }

    .bg-wshare {
        background-color: mat-color($warn);
        color: white;
    }

    .bg-none {
        background-color: transparent;
    }

    .bc-pshare {
        border-color: mat-color($primary);
    }

    .bc-ashare {
        border-color: mat-color($accent);
    }

    .bc-wshare {
        border-color: mat-color($warn);
    }

    .tc-black {
        color: black;
    }

    .tc-white {
        color: white;
    }
}
