<div class="about-wrapper display-flex flex-column">
    <article class="mat-typography">
        <p class="mat-display-4">Typography Display-4</p>
        <p class="mat-display-3">Typography Display-3</p>
        <p class="mat-display-2">Typography Display-2</p>
        <p class="mat-display-1">Typography Display-1</p>
        <h1 class="mat-headline">Typography Headline</h1>
        <h2 class="mat-title">Typography Title</h2>
        <h3 class="mat-subheading-1">Typography Subheading-1</h3>
        <h4 class="mat-subheading-2">Typography Subheading-2</h4>
        <p class="mat-body-1">Typography Body-1</p>
        <p class="mat-body-2">Typography Body-2</p>
        <p class="mat-caption">Typography Caption</p>
    </article>
    <h1 class="font-size-16 font-weight-bold my-0">Technical Stack</h1>
    <mat-divider class="my-100"></mat-divider>
    <mat-grid-list class="grid" cols="4" rowHeight="1:1">
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://angular.io/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/angular_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">Angular</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://material.angular.io/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/material_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">Angular Material</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://rxjs-dev.firebaseapp.com/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/rxjs_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">RxJs</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://ngrx.io/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/ngrx_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">NgRx</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://www.typescriptlang.org/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/ts_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">Typescript</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://sass-lang.com/" target="_blank">
                <span class="avatar circle bg-pshare bg-texture mb-25">
                    <img [src]="'assets/logo/sass_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">SASS</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="tile" colspan="2">
            <a matRipple class="none display-flex flex-column justify-content-center align-items-center w-100 h-100"
                href="https://nodejs.org/en/" target="_blank">
                <span class="avatar round bg-pshare bg-texture mb-25" [style.width]="'85%'">
                    <img [src]="'assets/logo/nodejs_logo.svg'" alt="">
                </span>
                <span class="tc-white font-size-16 mt-25">NodeJS</span>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>